<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <h6 class="sub-heading">{{'ERP.BASIC_DETAILS' | translate}}</h6>
    <form [formGroup]="memberBasicDetailsForm">
        <div class="mt-n1  bg-label-colorfull">

            <div class="row g-3 mt-0">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">

                    <div class="form-label">
                        <label><span class="red">*</span>{{'MEMBERSHIP_TRANSACTION.MEMBERSHIP_TYPE' | translate}}</label>

                        <p-dropdown id="bunit_txt_status" placeholder="Select" [filter]="true"
                            [options]="subProductList" formControlName="subProductId"
                            [(ngModel)]="memberBasicDetailsModel.subProductId" (onChange)="onChangeProduct()" >
                        </p-dropdown>

                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username">{{'ERP.SURNAME' | translate}}
                        </label>

                        <input pInputText id="bunit_txt_name" type="text" formControlName="surname"
                            [(ngModel)]="memberBasicDetailsModel.surname" placeholder="Enter Surname">
                        <p-message severity="error" text="Enter Valid Surname"
                            *ngIf="!memberBasicDetailsForm.controls['surname'].valid && memberBasicDetailsForm.controls['surname'].dirty">
                        </p-message>

                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"> <span class="red">*</span>{{'ERP.NAME' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="name"
                            [(ngModel)]="memberBasicDetailsModel.name" placeholder="Enter Name">
                        <p-message severity="error" text="Enter Valid Name"
                            *ngIf="!memberBasicDetailsForm.controls['name'].valid && memberBasicDetailsForm.controls['name'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" >
                    <div class="form-label">
                        <label for="username"> <span class="red">*</span>{{'MEMBERSHIP_TRANSACTION.SOCIETY_ADMISSION_NUMBER' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="societyAdmissionNo" placeholder="Enter Society Admission Number"
                            [(ngModel)]="memberBasicDetailsModel.societyAdmissionNumber">
                            <p-message severity="error" text="Enter Valid Name"
                            *ngIf="!memberBasicDetailsForm.controls['societyAdmissionNo'].valid && memberBasicDetailsForm.controls['societyAdmissionNo'].dirty">
                        </p-message>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="form-label">
                        <label for="username"> <span class="red">*</span>{{'ERP.DATE_OF_BIRTH' | translate}}
                        </label>
                        <p-calendar formControlName="dob" [showIcon]="true" [dateFormat]="orgnizationSetting.calendar"
                            [(ngModel)]="memberBasicDetailsModel.memDobVal" placeholder="DD/MM/YYYY"
                            (focusout)="datesValidationCheckAgeAndDob(memberBasicDetailsModel, 2)" [maxDate]="today">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="form-label">
                        <label for="username"> <span class="red">*</span>{{'ERP.AGE' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" maxlength="2" type="text" formControlName="age" pKeyFilter="pint"
                            [(ngModel)]="memberBasicDetailsModel.age" placeholder="Enter Age" 
                            (focusout)="datesValidationCheckAgeAndDob(memberBasicDetailsModel, 1)">
                    </div>
                </div>
                <!-- <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="form-label">
                    <label for="username"> <span class="red">*</span>{{'ERP.DATE_OF_BIRTH' | translate}}
                    </label>
                    <p-calendar formControlName="dob" 
                        [showIcon]="true" dateFormat="{{orgnizationSetting.calendar}}"
                        [(ngModel)]="memberBasicDetailsModel.memDobVal" placeholder="DD/MM/YYYY"  
                        (focusout)="datesValidationCheckAgeAndDob(memberBasicDetailsModel, 2)">
                    </p-calendar>
                </div>
            </div> -->
                
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="form-label">
                        <label> <span class="red">*</span> {{'ERP.GENDER' | translate}}</label>
                        <p-dropdown id="bunit_txt_status" placeholder="Select" [filter]="true" [options]="genderList"
                            formControlName="genderId" [(ngModel)]="memberBasicDetailsModel.genderId">
                        </p-dropdown>
                    </div>
                </div>
            <!-- </div>
            <div class="row g-3 mt-0"> -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label> <span class="red">*</span> {{'ERP.MARITAL_STATUS' | translate}}</label>
                        <p-dropdown id="bunit_txt_status" placeholder="Select" [filter]="true"
                            [options]="maritalStatusList" formControlName="martialId"
                            [(ngModel)]="memberBasicDetailsModel.martialId">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label> <span class="red">*</span> {{'ERP.RELATIONSHIP_WITH_MEMBER' | translate}}</label>
                        <p-dropdown [filter]="true" [options]="relationshipTypeList" placeholder="Select"
                            formControlName="relationId" (onChange)="onChangeRelationTypeChange()"
                            [(ngModel)]="memberBasicDetailsModel.relationId"></p-dropdown>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"> <span class="red">*</span> {{'ERP.RELATION_NAME' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="relativeName"
                            [(ngModel)]="memberBasicDetailsModel.relativeName" placeholder="Enter Relation Name">
                        <p-message severity="error" text="Enter Valid Name"
                            *ngIf="!memberBasicDetailsForm.controls['relativeName'].valid && memberBasicDetailsForm.controls['relativeName'].dirty">
                        </p-message>
                    </div>

                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="form-label">
                        <label> <span class="red">*</span> {{'ERP.QUALIFICATON' | translate}}</label>
                        <!-- <p-dropdown [filter]="true" [options]="qualificationLIst" placeholder="Select" formControlName="qualificationId"
                        (onChange)="onChangeQualificationChange()"
                        [(ngModel)]="memberBasicDetailsModel.qualificationId"></p-dropdown> -->


                        <p-dropdown [options]="groupedQualificationSubQualification"
                            [(ngModel)]="memberBasicDetailsModel.qualificationId" formControlName="qualificationId"
                            placeholder="Select" [group]="true" [filter]="true"
                            (onChange)="onChangeQualificationChange()">
                            <ng-template let-group pTemplate="group">
                                <span>{{group.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label> <span class="red">*</span> {{'ERP.OCCUPATION' | translate}}</label>
                        <p-dropdown [filter]="true" [options]="occupationList" placeholder="Select"
                            formControlName="occupationId" (onChange)="onChangeOccupationChange()"
                            [(ngModel)]="memberBasicDetailsModel.occupationId"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-0">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label><span class="red">*</span>Caste</label>
                        <!-- <p-dropdown [filter]="true" [options]="groupedCasteSubCaste" placeholder="Select"
                            formControlName="casteId"  (onChange)="onChangeCasteChange()" [(ngModel)]="memberBasicDetailsModel.casteId"></p-dropdown> -->

                        <p-dropdown [options]="groupedCasteSubCaste" [(ngModel)]="memberBasicDetailsModel.casteId"
                            formControlName="casteId" placeholder="Select" [group]="true" [filter]="true"
                            (onChange)="onChangeCasteChange()">
                            <ng-template let-group pTemplate="group">
                                <span>{{group.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>


                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label><span class="red">*</span>{{'MEMBERSHIP_TRANSACTION.RELIGION' | translate}}</label>
                        <p-dropdown [filter]="true" [options]="communityList" placeholder="Select"
                            formControlName="communityId" (onChange)="onChangeCommunityChange()"
                            [(ngModel)]="memberBasicDetailsModel.communityId"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-0">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"> <span class="red">*</span> {{'ERP.AADHAR_NUMBER' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" minlength="12" maxlength="12" type="text" formControlName="aadharNumber"
                            [(ngModel)]="memberBasicDetailsModel.aadharNumber" placeholder="Enter Aadhar Number">
                        <p-message severity="error" text="Enter Valid Aadhar Number"
                            *ngIf="!memberBasicDetailsForm.controls['aadharNumber'].valid && memberBasicDetailsForm.controls['aadharNumber'].dirty"></p-message>

                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"> <span class="red">*</span> {{'ERP.PAN_NUMBER' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="panNumber"
                            [(ngModel)]="memberBasicDetailsModel.panNumber" placeholder="Enter PAN Number">
                        <p-message severity="error" text="Enter Valid Pan Number"
                            *ngIf="!memberBasicDetailsForm.controls['panNumber'].valid && memberBasicDetailsForm.controls['panNumber'].dirty"></p-message>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"> <span class="red">*</span> {{'ERP.MOBILE_NUMBER' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" minlength="10" maxlength="10" type="text" formControlName="mobileNumber"
                            [(ngModel)]="memberBasicDetailsModel.mobileNumber" placeholder="Enter Mobile Number">
                        <p-message severity="error" text="Enter Valid Mobile Number"
                            *ngIf="!memberBasicDetailsForm.controls['mobileNumber'].valid && memberBasicDetailsForm.controls['mobileNumber'].dirty"></p-message>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username">{{'ERP.EMAIL' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="emailId"
                            [(ngModel)]="memberBasicDetailsModel.emailId" placeholder="Enter Email">
                        <p-message severity="error" text="Enter Valid EmailId"
                            *ngIf="!memberBasicDetailsForm.controls['emailId'].valid && memberBasicDetailsForm.controls['emailId'].dirty"></p-message>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-0">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username">
                            <span class="red">*</span> {{'ERP.ADMISSION_DATE' | translate}}
                        </label>
                        <p-calendar formControlName="admissionDate" [showIcon]="true"
                            [dateFormat]="orgnizationSetting.calendar" [(ngModel)]="memberBasicDetailsModel.temAdmDate"
                            placeholder="Enter Admission Date" [maxDate]="today">
                        </p-calendar>
                    </div>
                </div>
                <!-- <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username">{{'ERP.ADMISSION_FEE' | translate}}
                        </label>
                        <p-inputNumber id="bunit_txt_name" formControlName="admissionFee"
                        [(ngModel)]="memberBasicDetailsModel.admissionFee" mode="currency" inputId="currency-india"
                             currency="INR" locale="en-IN">
                    </p-inputNumber>
                    </div>
                </div> -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="code">
                            <span class="red">*</span>{{'MEMBERSHIP_TRANSACTION.STAFF' | translate}}
                        </label>
    
                        <p-dropdown [options]="requiredlist" formControlName="isStaff"
                            [(ngModel)]="memberBasicDetailsModel.isStaff" placeholder="Select"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-0">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngIf="show">
                    <div class="form-label">
                        <label for="username">
                            <span class="red">*</span> {{'MEMBERSHIP_TRANSACTION.RESOLUTION_DATE' | translate}}
                        </label>
                        <p-calendar formControlName="resolutionDate" [showIcon]="true"
                            [dateFormat]="orgnizationSetting.calendar" [(ngModel)]="memberBasicDetailsModel.resolutionDateVal"
                            placeholder="Enter Admission Date" [maxDate]="today">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngIf="show">
                    <div class="form-label">
                        <label for="username">{{'MEMBERSHIP_TRANSACTION.RESOLUTION_NUMBER' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="mcrNumber"
                            [(ngModel)]="memberBasicDetailsModel.mcrNumber">
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngIf="show">
                    <div class="form-label">
                        <span class=""> {{ 'MEMBERSHIP_TRANSACTION.RESOLUTION_COPY' | translate }}{{'MEMBERSHIP_TRANSACTION.PDF_SIZE' | translate}} </span>
                        <div class="uplodad-style align-items-center">
                            <!-- Upload Button Column -->
                            <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                id="apply-leave_fileUp_attach" chooseLabel=" " name="file" accept=".pdf"
                                (onRemove)="fileRemoveEvent('mcrDocumentCopy')"
                                (onSelect)="fileUploaderForResolution($event,fileUpload,'mcrDocumentCopy')">
                            </p-fileUpload>
                            <span class="red"> {{fileSizeMsgForResolution}}</span>
                            <div class="col-12  d-flex p-1 contant-body"
                                *ngFor="let img of memberBasicDetailsModel.multipartFileListForMCRCopyPath">
                                <div *ngIf="img.fileType=='pdf'">
                                    <a href="{{img.imageValue}}"> <img src="assets\images\pdf.png" width="22"
                                            height="22"></a>
                                </div>
                                <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}"
                                    tooltipPosition="bottom">
                                    {{img.fileName}}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <span class=""><span class="red">*</span> {{ 'MEMBERSHIP_TRANSACTION.PHOTO_COPY' | translate }}{{'MEMBERSHIP_TRANSACTION.IMAGE_SIZE' | translate}}</span>
                        <div class="uplodad-style align-items-center">
                            <p-fileUpload #fileUploadIndividualPhoto class="qua-upld file-attach semi-bold" name="myfile[]"
                                id="apply-leave_fileUp_attach" chooseLabel=" " name="file" accept=".png,.jpg,.jpeg"
                                (onRemove)="fileRemoveEvent('photoCopyPath')"
                                (onSelect)="fileUploader($event,fileUploadIndividualPhoto,fileUploadIndividualSign ,'photoCopyPath')">
                            </p-fileUpload>
                            <div class="col-12  d-flex p-1 contant-body"
                                *ngFor="let img of memberBasicDetailsModel.multipartFileListForPhotoCopy">
                                <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                    <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22"
                                            height="22"></a>
                                </div>
                                <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}"
                                    tooltipPosition="bottom">
                                    {{img.fileName}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <span class=""><span class="red">*</span> {{ 'MEMBERSHIP_TRANSACTION.SIGNATURE_COPY' | translate }}{{'MEMBERSHIP_TRANSACTION.IMAGE_SIZE' | translate}}</span>
                        <div class="uplodad-style align-items-center">
                            <!-- Upload Button Column -->
                            <p-fileUpload #fileUploadIndividualSign class="qua-upld file-attach semi-bold" name="myfile[]"
                                id="apply-leave_fileUp_attach" chooseLabel=" " name="file" accept=".png,.jpg,.jpeg"
                                (onRemove)="fileRemoveEvent('signatureCopyPath')"
                                (onSelect)="fileUploader($event,fileUploadIndividualPhoto,fileUploadIndividualSign ,'signatureCopyPath')">
                            </p-fileUpload>
                            <div class="col-12  d-flex p-1 contant-body"
                                *ngFor="let img of memberBasicDetailsModel.multipartFileListForsignatureCopyPath">
                                <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                    <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22"
                                            height="22"></a>
                                </div>
                                <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}"
                                    tooltipPosition="bottom">
                                    {{img.fileName}}</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </form>
</div>