<div class="col-12">
    <p-messages label="Info" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <h6 class="sub-heading">{{'BORROWINGSTRANSACTIONS.PRODUCT_CONFIGURATION' | translate}}</h6>
        <form [formGroup]="productionDefinitionForm">
            <div class="mt-n1  bg-label-colorfull">
                <div class="row g-3 mb-3">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.PRODUCT_NAME' | translate}}
                        </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="name"
                        [(ngModel)]="termProductDefinitionModel.name">
                    <p-message severity="error" text="Enter Valid Name"
                        *ngIf="!productionDefinitionForm.controls['name'].valid && productionDefinitionForm.controls['name'].dirty">
                    </p-message>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.EFFECTIVE_START_DATE' | translate}}
                        </label>
                    <p-calendar [showIcon]="true" formControlName="effectiveStartDate" [yearNavigator]="true"
                        yearRange="1970:2050" [showIcon]="true" dateFormat="{{orgnizationSetting.calendar}}"
                        id="work_flow_start_date" [(ngModel)]="termProductDefinitionModel.effectiveStartDate"
                        (onSelect)="dateValidation(termProductDefinitionModel.effectiveStartDate)"></p-calendar>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.EFFECTIVE_END_DATE' | translate}}
                        </label>
                    <p-calendar [showIcon]="true" formControlName="endDate" [yearNavigator]="true"
                        yearRange="1970:2050" [showIcon]="true" dateFormat="{{orgnizationSetting.calendar}}"
                        id="work_flow_start_date" [(ngModel)]="termProductDefinitionModel.endDate"
                        (onSelect)="dateValidation(termProductDefinitionModel.endDate)"></p-calendar>
                    </div>
                </div>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.MINIMUM_AMOUNT' | translate}}
                        </label>
                    <p-inputNumber id="bunit_txt_name" formControlName="minAmount"
                        [(ngModel)]="termProductDefinitionModel.minAmount" mode="currency"
                        inputId="currency-india" currency="INR" locale="en-IN" 
                        (focusout)="amountValidation(termProductDefinitionModel.minAmount)"> </p-inputNumber>
                    <p-message severity="error" text="Enter Valid Amount"
                        *ngIf="!productionDefinitionForm.controls['minAmount'].valid && productionDefinitionForm.controls['minAmount'].dirty">
                    </p-message>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.MAXIMUM_AMOUNT' | translate}}
                        </label>
                    <p-inputNumber id="bunit_txt_name" formControlName="maxAmount"
                        [(ngModel)]="termProductDefinitionModel.maxAmount" mode="currency"
                        inputId="currency-india" currency="INR" locale="en-IN" 
                        (focusout)="amountValidation(termProductDefinitionModel.maxAmount)"> </p-inputNumber>

                    <p-message severity="error" text="Enter Valid Amount"
                        *ngIf="!productionDefinitionForm.controls['maxAmount'].valid && productionDefinitionForm.controls['maxAmount'].dirty">
                    </p-message>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.MINIMUM_BORROWING_PERIOD_IN_MONTHS' |
                            translate}}
                        </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="minBorrowingPeriodInMonths"
                        [(ngModel)]="termProductDefinitionModel.minBorrowingPeriodInMonths" 
                        (focusout)="tenureValidation(termProductDefinitionModel.minBorrowingPeriodInMonths)">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username"><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.MAX_BORROWING_PERIOD_IN_MONTHS' |
                            translate}}
                        </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="maxBorrowingPeriodInMonths"
                        [(ngModel)]="termProductDefinitionModel.maxBorrowingPeriodInMonths" 
                        (focusout)="tenureValidation(termProductDefinitionModel.maxBorrowingPeriodInMonths)">
                    </div>
                </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.BORROWING_TYPE' | translate}}</label>
                        <p-dropdown [options]="borrowingTypeList" placeholder="select"
                            formControlName="borrowingType"
                            [(ngModel)]="termProductDefinitionModel.borrowingType"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label>{{'BORROWINGSTRANSACTIONS.SCHEME_TYPE' | translate}}</label>
                        <p-dropdown [options]="" placeholder="select"
                            formControlName="borrowingSchemeType"
                            [(ngModel)]="termProductDefinitionModel.borrowingSchemeType"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username">{{'BORROWINGSTRANSACTIONS.DEMAND_ALERT_DAYS' | translate}}
                        </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="demandAlertDays"
                        [(ngModel)]="termProductDefinitionModel.demandAlertDays">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.INTEREST_CALCULATION_TYPE' | translate}}</label>
                        <p-dropdown [options]="interestCalculationTypeList" placeholder="select"
                            formControlName="interestCalculationType"
                            [(ngModel)]="termProductDefinitionModel.interestCalculationType"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.REPAYMENT_FREQUENCY' | translate}}</label>
                        <p-dropdown [options]="repaymentFrequencyList" placeholder="select"
                            formControlName="repaymentFrequency"
                            [(ngModel)]="termProductDefinitionModel.repaymentFrequency"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username">{{'BORROWINGSTRANSACTIONS.DEFAULTER_ALERT_DAYS' | translate}}
                        </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="defaulterAlertDays"
                        [(ngModel)]="termProductDefinitionModel.defaulterAlertDays">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username">{{'BORROWINGSTRANSACTIONS.MAX_BORROWING_ACCOUNTS_ALLOWED' | translate}}
                        </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="maxBorrowingAccountsAllowed"
                        [(ngModel)]="termProductDefinitionModel.maxBorrowingAccountsAllowed">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.LINK_SHARE_CAPITAL_APPLICABLE' | translate}}</label>
                        <p-dropdown [options]="linkShareCapitalList" placeholder="select"
                            formControlName="linkSharecapitalApplicable"
                            [(ngModel)]="termProductDefinitionModel.linkSharecapitalApplicable"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username">{{'BORROWINGSTRANSACTIONS.INSTITUTION_NAME' | translate}}
                        </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="institutionName"
                        [(ngModel)]="termProductDefinitionModel.institutionName">

                </div>
            </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                        <label for="username">{{'BORROWINGSTRANSACTIONS.MINIMUM_DAYS_FOR_RENEWAL' | translate}}
                        </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="minDaysForRenewel"
                        [(ngModel)]="termProductDefinitionModel.minDaysForRenewel">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.IS_NPA_APPLICABLE' | translate}}</label>
                        <p-dropdown [options]="isSpecialSchemelist" placeholder="select"
                            formControlName="isNpaExceptional"
                            [(ngModel)]="termProductDefinitionModel.isNpaExceptional"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label>{{'BORROWINGSTRANSACTIONS.INTEREST_TYPE' | translate}}</label>
                        <p-dropdown [options]="" placeholder="select"
                            formControlName="interestType"
                            [(ngModel)]="termProductDefinitionModel.interestType"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label>{{'BORROWINGSTRANSACTIONS.INTEREST_CALCULATION_FREQUENCY' | translate}}</label>
                        <p-dropdown [options]="" placeholder="select"
                            formControlName="interestCalculationFrequency"
                            [(ngModel)]="termProductDefinitionModel.interestCalculationFrequency"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.IF_FORECLOSURE_ALLOWED' | translate}}</label>
                        <p-dropdown [options]="isSpecialSchemelist" placeholder="select"
                            formControlName="isForeclosureAllowed"
                            [(ngModel)]="termProductDefinitionModel.isForeclosureAllowed"></p-dropdown>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'BORROWINGSTRANSACTIONS.IS_GESTATION_PERIOD_REQUIRED' | translate}}</label>
                        <p-dropdown [options]="isSpecialSchemelist" placeholder="select"
                            formControlName="isGestationPeriodRequired"
                            [(ngModel)]="termProductDefinitionModel.isGestationPeriodRequired"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
