<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <div class="row justify-content-between top-header-section px-0">
        <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 main-heading mt-1 mb-2 justify-content-start">
            {{'LOANS.SIMPLE_INTEREST_LOANS' | translate}} <i
                class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'ERP.CREATE_ACCOUNT' | translate}}</div>
        <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 justify-content-end view-popup-top">
            <div class="d-flex pull-right">
                <div class="col-auto">
                    <p-inputSwitch [(ngModel)]="isMemberCreation" (onChange)="onChange()"
                        [disabled]="isNewMemberCreation"></p-inputSwitch>
                </div>
                <div class="col-auto">
                    <p class="mt-1 px-2">{{'ERP.ADD_B_CLASS_MEMBERSHIP' | translate}}</p>
                </div>
                <p-button class="ml-3" icon="fa fa-download" label="Application"></p-button>
            </div>
        </div>
    </div>
    <div class="col-12 p-0 mt-2">
        <div class="row g-3">
            <!-- Left Section Start -->
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 left-sidecard">
                <div class="col-12 membership-side-card"
                    *ngIf="(isMemberCreation && activeIndex>0) || !isMemberCreation">
                    <div class="col-12">
                        <h5 class="transaction-side-card-header">{{'ERP.BASIC_DETAILS' | translate}}</h5>
                    </div>
                    <div class="col-12 py-0" *ngIf="!isMemberCreation">
                        <p class="text-fontwt mb-2">{{'ERP.ADMISSION_DETAILS' | translate}}</p>
                        <p-dropdown [options]="allTypesOfmembershipList" [filter]="true"
                            placeholder="Enter Admission Number"
                            [(ngModel)]="membershipBasicRequiredDetailsModel.admissionNumber"
                            [disabled]="admissionNumberDropDownDisable"
                            (onChange)="OnChangeAdmissionNumber(membershipBasicRequiredDetailsModel.admissionNumber)"></p-dropdown>
                    </div>

                    <!-- Individual Member Details -->
                    <div class="col-12 individual-basic" *ngIf="individualFlag">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-3 col-sm-4 col-xs-4">
                                <div class="col-12 pic-sig-status">
                                    <div class="d-flex justify-content-center mb-3" *ngIf="photoCopyFlag">
                                        <div
                                            *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy">
                                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <img src="{{img.imageValue}}" class="image-user">
                                            </span>
                                        </div>
                                        <p class="active-status"></p>
                                        <div
                                            *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath">
                                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <img src="{{img.imageValue}}" class="image-sign">
                                            </span>
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-center mb-3" *ngIf="!photoCopyFlag">
                                        <div>
                                            <img src="assets/images/no-image.jpg" (click)="onClickMemberPhotoCopy()"
                                                class="image-user">
                                        </div>
                                        <p class="active-status"></p>
                                        <div>
                                            <img src="assets/images/no-image.jpg" (click)="onClickMemberPhotoCopy()"
                                                class="image-sign">
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center min-h-50px">
                                    <span class="text-fontwt">{{'ERP.NAME' | translate}}</span>
                                    <p class="font-semibold text-break"><span
                                            class="border-bottom">{{membershipBasicRequiredDetailsModel.name}}</span>
                                    </p>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-9 col-sm-8 col-xs-8 mt-2">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipBasicRequiredDetailsModel.memberTypeName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipBasicRequiredDetailsModel.admissionDateVal}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.DATE_OF_BIRTH' | translate}} &
                                            {{'ERP.AGE' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipBasicRequiredDetailsModel.dobVal}}&nbsp;&&nbsp;{{membershipBasicRequiredDetailsModel.age}}&nbsp;Years
                                            Old</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.CONTACT' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipBasicRequiredDetailsModel.mobileNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.EMAIL' | translate}}</p>
                                        <p class="label-input-text">{{membershipBasicRequiredDetailsModel.emailId}}</p>
                                    </div>
                                    <!-- <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.AADHAR' | translate}}</p>
                                        <p class="label-input-text">{{membershipBasicRequiredDetailsModel.aadharNumber}}
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.PAN' | translate}}</p>
                                        <p class="label-input-text">{{membershipBasicRequiredDetailsModel.panNumber}}
                                        </p>
                                    </div> -->
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="membershipBasicRequiredDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">{{isKycApproved}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i class="fa fa-check-circle"
                                                aria-hidden="true"></i></div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="!membershipBasicRequiredDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">{{isKycApproved}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i
                                                class="fa fa-check-circle text-white" aria-hidden="true"></i></div>
                                    </div>


                                    <!-- <div class="col-12 min-h-50px">
                                                                        <p class="m-0"></p>
                                                                        <p class="font-semibold m-0"></p>
                                                                    </div> -->

                                    <div class="col-12 color-light justify-content-end text-right">
                                        <a class="fst-italic text-light cursor-pointer"
                                            (click)="onClickMemberIndividualMoreDetails()">{{'ERP.MORE_DETAILS' |
                                            translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Group Member Details -->
                    <div class="col-12 group-basic" *ngIf="groupFlag">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-3 col-sm-4 col-xs-4">
                                <div class="col-12 pic-sig-status">
                                    <!-- <div class="d-flex justify-content-center mb-3" *ngIf="photoCopyFlag">
                                        <div
                                            *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy">

                                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <img src="{{img.imageValue}}" class="image-user">
                                            </span>
                                        </div>
                                        <p class="active-status"></p>
                                        <div
                                            *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath">
                                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <img src="{{img.imageValue}}" class="image-sign">
                                            </span>
                                        </div>
                                    </div> -->
                                    <div class="d-flex justify-content-center mb-3" >
                                        <div>
                                            <img src="assets/images/no-image.jpg" class="image-user">
                                        </div>
                                        <p class="active-status"></p>
                                        <div>
                                            <img src="assets/images/no-image.jpg" class="image-sign">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center min-h-50px">
                                    <span class="text-fontwt">{{'ERP.GROUP_NAME' | translate}}</span>
                                    <p class="font-semibold text-break"><span class="border-bottom"></span></p>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-9 col-sm-8 col-xs-8 mt-2">
                                <div class="row">

                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                        <p class="label-input-text">
                                            {{memberGroupDetailsModel.memberTypeName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.admissionDateVal}}
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.REGISTERED_DATE' |
                                            translate}}
                                        </p>
                                        <p class="label-input-text">
                                            {{memberGroupDetailsModel.registrationDateVal}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.CONTACT' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.pocNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">

                                        <p class="label-view text-fontwt">{{'ERP.EMAIL' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.emailId}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">

                                        <p class="label-view text-fontwt">{{'ERP.PAN' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.panNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">

                                        <p class="label-view text-fontwt">{{'ERP.TAN' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.tanNumber}}</p>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="membershipBasicRequiredDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">{{isKycApproved}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i class="fa fa-check-circle"
                                                aria-hidden="true"></i></div>

                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="!membershipBasicRequiredDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">{{isKycApproved}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i
                                                class="fa fa-check-circle text-white" aria-hidden="true"></i></div>

                                    </div>
                                    <div class="col-12 color-light justify-content-end text-right">
                                        <a class="fst-italic text-light cursor-pointer"
                                            (click)="onClickOfGroupMoreDetails()">{{'ERP.MORE_DETAILS' | translate}}</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Instituation Details -->
                    <div class="col-12 instution-basic" *ngIf="institutionFlag">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-3 col-sm-4 col-xs-4">
                                <div class="col-12 pic-sig-status">
                                    <!-- <div class="d-flex justify-content-center mb-3" *ngIf="photoCopyFlag">
                                        <div
                                            *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy">

                                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <img src="{{img.imageValue}}" class="image-user">
                                            </span>
                                        </div>
                                        <p class="active-status"></p>
                                        <div
                                            *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath">
                                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <img src="{{img.imageValue}}" class="image-sign">
                                            </span>
                                        </div>
                                    </div> -->
                                    <div class="d-flex justify-content-center mb-3">
                                        <div>
                                            <img src="assets/images/no-image.jpg" class="image-user">
                                        </div>
                                        <p class="active-status"></p>
                                        <div>
                                            <img src="assets/images/no-image.jpg" class="image-sign">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center min-h-50px">
                                    <span class="text-fontwt">{{'ERP.INSTITUTION_NAME' | translate}}</span>
                                    <p class="font-semibold text-break"><span class="border-bottom"></span></p>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-9 col-sm-8 col-xs-8 mt-2">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipInstitutionDetailsModel.memberTypeName}}
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipInstitutionDetailsModel.admissionDateVal}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.REGISTERED_DATE' |
                                            translate}}
                                        </p>
                                        <p class="label-input-text">
                                            {{membershipInstitutionDetailsModel.registrationDateVal}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.CONTACT' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipInstitutionDetailsModel.pocNumber}}
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.EMAIL' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipInstitutionDetailsModel.emailId}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.PAN' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipInstitutionDetailsModel.panNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">

                                        <p class="label-view text-fontwt">{{'ERP.TAN' | translate}}</p>
                                        <p class="label-input-text">{{membershipInstitutionDetailsModel.tanNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="membershipInstitutionDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">{{isKycApproved}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i class="fa fa-check-circle"
                                                aria-hidden="true"></i></div>

                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="!membershipInstitutionDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">{{isKycApproved}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i
                                                class="fa fa-check-circle text-white" aria-hidden="true"></i></div>

                                    </div>

                                    <div class="col-12 color-light justify-content-end text-right">
                                        <a class="fst-italic text-light cursor-pointer"
                                            (click)="onClickInstitutionMoreDetails()">{{'ERP.MORE_DETAILS' |
                                            translate}}</a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left section End -->

            <!-- Right side section Start  -->
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 right-sidecard"
                *ngIf="(isMemberCreation && activeIndex>0) || !isMemberCreation">
                <p-tabMenu [model]="items" [activeItem]="items[activeIndex]"
                    [class.disabled]="menuDisabled && activeItem !== items" styleClass="tab-menu-style"></p-tabMenu>
                <div class="col-12 p-2 bg-card min-hight65">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-12 btn-footer px-0">
                    <div class="col-12 d-flex justify-content-end group-button-bottom px-0 mt-1">
                        <p-button *ngIf="activeIndex>1 && activeIndex<=9" label="PREVIOUS" icon="fa fa-chevron-left"
                            iconPos="left" (click)="prevStep(activeIndex)"></p-button>

                        <p-button *ngIf="activeIndex==1 && activeIndex<=9 && isMemberCreation" label="PREVIOUS"
                            icon="fa fa-chevron-left" iconPos="left" (click)="prevStep(activeIndex)"></p-button>

                        <p-button *ngIf=" activeIndex<=9" label="CANCEL" (click)="cancel(activeIndex)"></p-button>

                        <p-button *ngIf="(activeIndex<9)" label="SAVE & NEXT" (click)="nextStep(activeIndex)"
                            icon="fa fa-chevron-right" iconPos="right" [disabled]="buttonDisabled"></p-button>

                        <p-button *ngIf="activeIndex==9" label="SAVE&PREVIEW" (click)="submit()"
                            icon="fa fa-chevron-right" iconPos="right"  [disabled]="buttonDisabled"></p-button>
                    </div>
                </div>
            </div>
            <!-- Right side section End  -->
        </div>
    </div>

    <!-- B class member creation Start-->
    <div class="col-12 p-0 mt-0" *ngIf="isMemberCreation && activeIndex<1">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <p-tabMenu [model]="items" [activeItem]="items[activeIndex]" [class.disabled]="menuDisabled"
                styleClass="tab-menu-style"></p-tabMenu>
            <div class="col-12 mt-1 bg-card min-hight65">
                <router-outlet></router-outlet>
            </div>
            <div class="col-12 btn-footer px-0">
                <div class="col-12 d-flex justify-content-end group-button-bottom px-0 mt-1">
                    <p-button *ngIf="activeIndex>1 && activeIndex<=9" label="PREVIOUS" icon="fa fa-chevron-left"
                        iconPos="left" (click)="prevStep(activeIndex)"></p-button>

                    <p-button *ngIf="activeIndex==1 && activeIndex<=9 && isMemberCreation" label="PREVIOUS"
                        icon="fa fa-chevron-left" iconPos="left" (click)="prevStep(activeIndex)"></p-button>

                    <p-button *ngIf=" activeIndex<=9" label="CANCEL" (click)="cancel(activeIndex)"></p-button>

                    <p-button *ngIf="(activeIndex<9)" label="SAVE & NEXT" (click)="nextStep(activeIndex)"
                        icon="fa fa-chevron-right" iconPos="right" [disabled]="buttonDisabled"></p-button>

                    <p-button *ngIf="activeIndex==9" label="SAVE&PREVIEW" (click)="submit()" icon="fa fa-chevron-right"
                        iconPos="right"></p-button>
                </div>
            </div>
        </div>
    </div>
    <!--B class member reation End-->
</div>

<!-- Individual details dialog -->
<div class="view-moredetails-popup">
    <p-dialog header="Basic Details" [modal]="true" [(visible)]="membreIndividualFlag" [style]="{ width: '55vw' }">
        <div class="col-12 view-morepopup">
            <div class="d-flex justify-content-center px-3 py-0 mb-2">
                <div *ngIf="!this.membershipBasicRequiredDetailsModel.photoCopyPath">
                    <img src="assets/images/no-image.jpg" class="image-user">
                </div>
                <div class="px-0" *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy">
                    <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="{{img.imageValue}}" class="image-user">
                        <!-- </a> -->
                    </div>
                    <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="assets\images\pdf.png" class="image-user">
                        <!-- </a> -->
                    </div>
                </div>
                <!-- <p class="active-status"></p> -->
                <div *ngIf="!this.membershipBasicRequiredDetailsModel.signatureCopyPath">
                    <img src="assets/images/no-image.jpg" class="image-sign">
                </div>
                <div class="px-0"
                    *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath">
                    <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="{{img.imageValue}}" class="image-sign">
                        <!-- </a> -->
                    </div>
                    <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="assets\images\pdf.png" class="image-sign">
                        <!-- </a> -->
                    </div>
                </div>
            </div>
            <!-- <div class="d-flex justify-content-center mb-4" *ngIf ="!photoCopyFlag">
                    <div>
                        <img src="assets/images/no-image.jpg" class="image-user">
                    </div>
                    <p class="active-status"></p>
                    <div>
                        <img src="assets/images/no-image.jpg" class="image-sign">
                    </div>
                </div> -->
        </div>
        <div class="col-12 text-center popup-basic-details mt-5 pt-3">
            <span class="fw-semibold">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
            <p class="fw-bold">{{membershipBasicRequiredDetailsModel.admissionNumber}}</p>
        </div>
        <div class="col-12 popup-basic-details">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MEMBER_TYPE' | translate}}</span>
                        <p class="fw-semibold">{{ membershipBasicRequiredDetailsModel.memberTypeName }}&nbsp;({{
                            membershipBasicRequiredDetailsModel.subProductName }})</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.SURNAME' | translate}}</span>
                        <p class="fw-semibold">{{ membershipBasicRequiredDetailsModel.surname}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.NAME' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.name}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.DATE_OF_BIRTH' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.dobVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.AGE' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.age}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.GENDER' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.genderName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MARITAL_STATUS' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.maritalStatusName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.RELATION_WITH_MEMBER' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.relationTypeName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.RELATION_NAME' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.relativeName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.QUALIFICATION' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.qualificationName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.OCCUPATION' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.occupationName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.AADHAR_NO' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.aadharNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.PAN_NO' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.panNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MOBILE_NUMBER' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.mobileNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.EMAIL' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.emailId }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.CASTE' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.casteName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.COMMUNITYS' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.communityName }}</p>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.admissionNumber}}</p>
                    </div>
                </div> -->
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MANAGEMENT_COMMITTE_RESOLUTION_NO' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.mcrNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-label">
                        <span class="fw-light">{{'ERP.MCR_DOCUMENT_TYPE' | translate}}</span>
                        <div class="col-12 d-flex p-0"
                            *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForMCRCopyPath">
                            <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22"
                                        height="22"></a>
                            </div>
                            <div class="docname-texteclipse pl-2 fw-semibold" pTooltip="{{img.fileName}}"
                                tooltipPosition="bottom">{{img.fileName}}</div>
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.ADMISSION_DATE' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.admissionDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.ADMISSION_FEE' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicRequiredDetailsModel.admissionFee}}</p>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>

<!-- institution Promoter details dialog -->
<p-dialog header="More Basic Details" [(visible)]="institutionPromoterFlag" styleClass="moredetails-style">
    <div class="popup-basic-details">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.INSTITUTION_NAME' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.name}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.tempAdmissionNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.memberTypeName}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.admissionDateVal}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.REGISTERED_DATE' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.registrationDateVal}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.CONTACT' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.pocNumber}}</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.panNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.TAN_NO' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.tanNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.GST_NO' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.gstNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.KYC' | translate}}</span>
                    <p class="label-input-text">{{isKycApproved}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12"></div>
    <h6 class="super-sub-heading">{{'ERP.OPERATOR_DETAILS' | translate}}</h6>
   
        <div class="globel-border-top-color"></div>
        <p-table #dt [columns]="columns" [value]="institionPromotersList" dataKey="id" styleClass="p-datatable-striped"
            [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true" [showPageLinks]="false" [pageLinks]="1"
            [responsive]="true" rowExpandMode="single">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let promoter of columns ">{{promoter.header | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let promoter of columns ">{{rowData[promoter.field]}}</td>
                </tr>
            </ng-template>
        </p-table>
        <!-- <ng-template pTemplate="footer">
            <p-button class="pull-right" label="{{'ERP.CLOSE' | translate}}" (click)="close()"></p-button>
        </ng-template> -->

</p-dialog>


<!-- group prmoter details dialog -->
<p-dialog header="More Basic Details" [(visible)]="groupPromotersPopUpFlag" styleClass="moredetails-style" >
    <div class="popup-basic-details">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.GROUP_NAAME' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.name}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.admissionNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.memberTypeName}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.name}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.REGISTERED_DATE' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.registrationDateVal}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.admissionDateVal}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.CONTACT' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.pocNumber}}</p>
                </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.EMAIL' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.emailId}}</p>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.panNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.TAN_NO' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.tanNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.GST_NO' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.gstNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.KYC' | translate}}</span>
                    <p class="label-input-text">{{isKycApproved}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12"></div>
    <h6 class="super-sub-heading">{{'ERP.GROUP_PROMOTER_DETAILS' | translate}}</h6>
    <div class="globel-border-top-color"></div>
    <p-table #dt [columns]="groupPrmoters" [value]="groupPrmotersList" editMode="row"
    styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true" 
    [showPageLinks]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single"  
    [globalFilterFields]="['surname', 'name', 'operatorTypeName', 'dob', 'age', 'genderName', 'maritalStatusName', 'mobileNumber', 'aadharNumber', 'emailId', 'startDate']">
    <ng-template pTemplate="header">
        <tr >
            <th *ngFor="let promoter of groupPrmoters ">{{promoter.header | translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-editing="editing" let-ri="rowIndex">
        <tr >
            <td *ngFor="let promoter of groupPrmoters ">{{row[promoter.field]}}</td>
        </tr>
    </ng-template>
</p-table>
<!-- <ng-template pTemplate="footer">
    <p-button class="pull-right" label="{{'ERP.CLOSE' | translate}}"(click)="close()"></p-button>
</ng-template> -->
</p-dialog>

<!--photo Copy dialog -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [(visible)]="memberPhotoCopyZoom">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy">
                    <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <a href="{{img.imageValue}}">
                            <img src="{{img.imageValue}}" class="popup-images">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath">
                    <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <a href="{{img.imageValue}}">
                            <img src="{{img.imageValue}}" class="popup-images">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-button class="action-edit" label="{{'ERP.CLOSE' | translate}}" (click)="close()"></p-button>
</p-dialog>