<div class="col-12">
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start">{{'CASH_COUNTER_TRANSACTIONS.CASH_COUNTER' | translate}}<i class="fa fa-angle-right font-bold mr-3 ml-3"></i>ADD</div>
        </div>
    </div>
    <div class="col-12 bg-card mt-1">
        <div class="col-12 pt-0">
                <form [formGroup]="cashcounterform">
                    <!-- <div class="head"> {{'CASH_COUNTER_TRANSACTIONS.CASH_COUNTERS' | translate}}</div> -->
                    <div class="bg-label-colorfull">
                        <div class="row g-3 mt-n1">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-label">
                            <label> {{'CASH_COUNTER_TRANSACTIONS.PACS' | translate}}</label>
                                <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                                formControlName="pacsId" [(ngModel)]="cashcounterModel.pacsId" placeholder="Enter PACS">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-label">
                            <label> {{'CASH_COUNTER_TRANSACTIONS.BRANCH' | translate}}</label>
                                <p-dropdown [options]=""  placeholder="Select"
                                formControlName="branchId" [(ngModel)]="cashcounterModel.branchId"></p-dropdown>          
                            </div>
                        </div>
                    </div>
                    

                    <div class="row g-3 pt-3">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                        <label> {{'CASH_COUNTER_TRANSACTIONS.NAME' | translate}}</label>
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter Name"
                            formControlName="counterName" [(ngModel)]="cashcounterModel.counterName">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                        <label> {{'CASH_COUNTER_TRANSACTIONS.EFFECTIVE_START_DATE' | translate}}</label>
                            <p-calendar [showIcon]="true" formControlName="effStartDate" [yearNavigator]="true" yearRange="1970:2050"
          [showIcon]="true" dateFormat="{{orgnizationSetting.calendar}}" id="work_flow_start_date" formControlName="effectiveStartDate"
          [(ngModel)]="cashcounterModel.effectiveStartDate" [maxDate]="maxDate" placeholder="DD/MM/YYYY"></p-calendar>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                        <label> {{'CASH_COUNTER_TRANSACTIONS.EFFECTIVE_END_DATE' | translate}}</label>
                            <p-calendar [showIcon]="true" formControlName="effStartDate" [yearNavigator]="true" yearRange="1970:2050"
          [showIcon]="true" dateFormat="{{orgnizationSetting.calendar}}" id="work_flow_start_date" formControlName="effectiveEndDate"
          [(ngModel)]="cashcounterModel.effectiveEndDate" [maxDate]="maxDate" placeholder="DD/MM/YYYY"></p-calendar>
                           
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
        </div>
    <div class="col-12 btn-footer px-0">
        <div class="col-12 d-flex justify-content-end px-0 mt-1 group-button-bottom">
            <!-- <button  pButton type="submit" (click)="navigateToBack()" label="Back"></button>
            -->
            <p-button label="{{'CASH_COUNTER_TRANSACTIONS.BACK' | translate}}" (click)="navigateToBack()" id="add_btn"></p-button>
            <p-button label="{{'CASH_COUNTER_TRANSACTIONS.SUBMIT' | translate}}" (click)="addOrUpdate()" id="add_btn"></p-button>
            <!-- <button  pButton type="submit" (click)="navigateToBack()" label="submit">Submit</button> -->
        </div>
    </div>


</div>


   
