<p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
<div class="col-12">
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start" *ngIf="!editbtn">{{'BORROWINGSTRANSACTIONS.SAO_BORROWING' | translate}} <i
                class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'BORROWINGSTRANSACTIONS.VIEW' | translate}}</div>
                <div class="main-heading mt-1 justify-content-start" *ngIf="editbtn">{{'BORROWINGSTRANSACTIONS.SAO_BORROWING' | translate}} <i
                    class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'BORROWINGSTRANSACTIONS.EDIT' | translate}}</div>
        
        </div>
    </div>

    <div class="col-12 p-0">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <p-scrollPanel styleClass="scroll-class">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class="global-card-bg-color view-carddata icon-size">
                                    <div class="col-12 p-0">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="d-flex">
                                                <span class="card-icon"><i class="fa fa-id-badge"></i></span>
                                                <h6 class="sub-heading">{{'ERP.BASIC_DETAILS' | translate}}</h6>
                                            </div>
                                        </div>
                                        <div class="col-6" *ngIf="editbtn">
                                            <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                            (click)="editSaoBorrowingDetails(saoAccountdetailsModel,0)" pTooltip="{{'ERP.EDIT' | translate}}" tooltipPosition="top"></p-button>
                                        </div>
                                    </div>
                                    <div class="col-12 p-0">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.FINANCIAL_BANK_TYPE' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.financiarBankTypeName}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.PRODUCT' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.productName}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.DCCB_BORROWING_ACCOUNT_NUMBER' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.accountNumber}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.APPLICATION_DATE' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.applicationDate}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.ROI' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.roi}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.PENAL_ROI' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.penalRoi}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.IOD' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.iodRate}}</p>
                                        </div>
                                    <!-- </div>
                                    <div class="row"> -->
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.REPAYMENT_FREQUENCY' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.repaymentFrequencyName}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.BORROWING_PERIOD_IN_MONTHS' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.borrowingPeriodInMonths}}</p>
                                        </div>
                                    <!-- </div>
                                    <div class="row"> -->
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.REQUESTED_AMOUNT' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.requestedAmount}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.REQUESTED_DATE' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.requestedDate}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.SANCTION_AMOUNT' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.sanctionedAmount}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.SANCTION_DATE' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.sanctionedDate}}</p>
                                        </div>
                                    <!-- </div>
                                    <div class="row"> -->
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.ON_DUE_DATE' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.borrowingDueDate}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.TOTAL_INTEREST' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.totalInterest}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.TOTAL_PAYOUT' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.totalPayout}}</p>
                                        </div>
                                    <!-- </div>
                                    <div class="row"> -->
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.PROCESSING_FEE' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.processingFee}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.GST' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.cgstAmount}}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.UPLOAD_DOCUMENT' |translate}}</h6>
                                            <!-- <p class="label-input-text docname-texteclipse mt-1" pTooltip="Filename.jpg" tooltipPosition="bottom"><img src="assets/images/jpgicon-img.png" class="viewicon-img">Filename.jpg</span></p>
                                            <p class="label-input-text docname-texteclipse mt-1" pTooltip="Filename.pdf" tooltipPosition="bottom"><img src="assets/images/pdficon-img.png" class="viewicon-img">Filename.pdf</span></p> -->

                                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-content-end">
                                            <div class="col-12 px-0">
                                                <div class="px-0" *ngFor="let img of saoAccountdetailsModel.multipartFileList">
                                                    <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                                                        <a href="{{img.imageValue}}">
                                                            <img src="{{img.imageValue}}" class="upload-img img-fluid" pTooltip="{{img.fileName}}"
                                                            tooltipPosition="bottom">
                                                        </a>
                                                    </div>
                                                    <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                                                        <a href="{{img.imageValue}}">
                                                            <img src="assets\images\pdf.png" class="pdf-img img-fluid" pTooltip="{{img.fileName}}"
                                                            tooltipPosition="bottom">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.REMARKS' |translate}}</h6>
                                            <p class="label-input-text">{{ saoAccountdetailsModel.remarks}}</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12 p-0">
                                    <div class="row">
                                        <div class="col-9">
                                    <div class="d-flex">
                                        <span class="card-icon"><i class="fa fa-map"></i></span>
                                        <h6 class="sub-heading">{{'BORROWINGSTRANSACTIONS.BORROWING_ACCOUNT_MAPPING' |translate}}</h6>
                                    </div>
                                </div>
                                <div class="col-3" *ngIf="editbtn">
                                    <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                    (click)="editSaoBorrowingDetails(saoAccountdetailsModel,1)" pTooltip="{{'ERP.EDIT' | translate}}" tooltipPosition="top"></p-button>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <p class="label-input-text m-0 justify-content-end d-flex">No of Accounts Selected :<span> 0</span></p>
                            </div> -->

                            <div class="globel-border-top-color"></div>
                            <p-table [value]="saoborrowingMappingList" dataKey="id" selectionMode="single"
                            styleClass="p-datatable-striped custom-overflow-auto" [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5" [paginator]="false" [pageLinks]="1" [responsive]="true"
                                rowExpandMode="single">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>{{'BORROWINGSTRANSACTIONS.ADMISSION_NUMBER' | translate}}</th>
                                        <th>{{'BORROWINGSTRANSACTIONS.LOAN_ACCOUNT_NUMBER' | translate}}</th>
                                        <th>{{'BORROWINGSTRANSACTIONS.NAME' | translate}}</th>
                                        <th>{{'BORROWINGSTRANSACTIONS.LOAN_AMOUNT' | translate}}</th>
                                        <th>{{'BORROWINGSTRANSACTIONS.PURPOSE' | translate}}</th>
                                        <!-- <th>{{'BORROWINGSTRANSACTIONS.LOAN_DUE_DATE' | translate}}</th> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>
                                    <tr>
                                        <td>{{ rowData.loanMemberAdmissionNumber }}</td>
                                        <td>{{ rowData.loanAccountNumber }}</td>
                                        <td>{{ rowData.memberName }}</td>
                                        <td>{{ rowData.loanAmount }}</td>
                                        <td>{{ rowData.purposeName }}</td>
                                        <!-- <td>{{ rowData.loanDueDate }}</td> -->
                                    </tr>
                                </ng-template>
                            </p-table>
                                    <div class="col-12 margtop-3rem"></div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size pb-2">
                                    <div class="col-12 p-0">
                                    <div class="row">
                                        <div class="col-6">
                                    <div class="d-flex">
                                        <span class="card-icon"><i class="fa fa-file-text"
                                        ></i></span>
                                        <h6 class="sub-heading">{{'BORROWINGSTRANSACTIONS.BORROWING_DOCUMENTS' |translate}}</h6>
                                    </div>
                                </div>
                                <div class="col-6" *ngIf="editbtn">
                                    <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                    (click)="editSaoBorrowingDetails(saoAccountdetailsModel,2)" pTooltip="{{'ERP.EDIT' | translate}}" tooltipPosition="top"></p-button>
                                </div>
                            </div>
                            <div class="col-12 p-0">
                                <div class="row g-3">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let document of borrowingdocumentlist ; let i = index">
                                            <div class="stepper-kyc-card p-3 pb-1 mb-2">
                                            <div class="row">
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 d-flex align-items-center">
                                                    <div class="card-leftbody">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                        <h6 class="label-view">Document Type</h6>
                                                        <p class="label-input-text">{{document.documentTypeName}}</p>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                        <h6 class="label-view">Document Number</h6>
                                                        <p class="label-input-text">{{document.documentNumber}}</p>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                        <h6 class="label-view">Name As Per Document</h6>
                                                        <p class="label-input-text docname-texteclipse">{{document.nameAsPerDocument}}</p>
                                                    </div>
                                                </div>
                                               
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 justify-content-end d-flex right-actions">
                                                    <div class="cardview-icon icon-size text-right cursor-pointer" (click)="onClickdoccPhotoCopy(document)">
                                                        <i class="fa fa-eye m-0" aria-hidden="true" pTooltip="{{'ERP.VIEW_DOC' | translate}}"
                                                            tooltipPosition="top"></i></div>
                                                    <div class="carddownload-icon icon-size text-right" *ngFor="let img of document.multipartFileList"
                                                        pTooltip="{{'ERP.DOC_DOWNLOAD' | translate}}" tooltipPosition="top">
                                                        <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                            <a href="{{img.imageValue}}">
                                                                <i class="fa fa-download ml-3 mr-0" aria-hidden="true">
                                                                    <!-- <img src="{{img.imageValue}}"> -->
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                        </div>
                                    </div>

                            <!-- <div class="globel-border-top-color"></div>
                            <p-table [value]="borrowingdocumentlist" dataKey="id" selectionMode="single"
                            styleClass="p-datatable-striped custom-overflow-auto" [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5" [paginator]="false" [pageLinks]="1" [responsive]="true"
                rowExpandMode="single">
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{'BORROWINGSTRANSACTIONS.DOCUMENT_TYPE' | translate}}</th>
                        <th>{{'BORROWINGSTRANSACTIONS.DOCUMENT_NO' | translate}}</th>
                        <th>{{'BORROWINGSTRANSACTIONS.FILE_PATH' | translate}}</th>
                        <th>{{'BORROWINGSTRANSACTIONS.REMARKS' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td>{{ rowData.documentTypeName }}</td>
                        <td>{{ rowData.documentNumber }}</td>
                        <td>{{ rowData.documentPath }}</td>
                        <td>{{ rowData.remarks }}</td>
                    </tr>
                </ng-template>
            </p-table>
                                    <div class="col-12 margtop-3rem"></div> -->
                                </div>
                            </div>
                            </div>
                        </div>
                </p-scrollPanel> 

                <div class="col-12 viewbottom-footer icon-size">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4" *ngIf="isShowSubmit">
                            <p-button icon="fa fa-download" iconPos="left" pTooltip="Filename.pdf" tooltipPosition="top" (click)="pdfDownload()"></p-button>
                            <!-- <p-button  icon="fa fa-print" iconPos="left" pTooltip="Print" tooltipPosition="top"></p-button> -->
                        </div>
                        <div class="col-3 p-3 bottom-padding"></div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4" *ngIf="isShowSubmit"> 
                            <div class="form-label">
                                <span class=""> {{ 'TERMDEPOSITSTRANSACTION.UPLOAD_DOCUMENT' | translate }} </span>
                                <div class="uplodad-style align-items-center">
                                    <!-- Upload Button Column -->
                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                        id="apply-leave_fileUp_attach" chooseLabel=" " name="file" accept=".pdf" 
                                        (onRemove)="fileRemoveEvent()" (onSelect)="fileUploader($event, fileUpload)">
                                    </p-fileUpload>
                                    <div class="col-12  d-flex p-1 contant-body" *ngFor="let img of saoAccountdetailsModel.multipartFileListsignedCopyPath">
                                        <div *ngIf="img.fileType=='pdf'">
                                            <a href="{{img.imageValue}}"> <img src="assets\images\pdf.png" width="22" height="22"></a>
                                        </div>
                                        <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                            {{img.fileName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-7 col-lg-5 col-md-4 col-sm-4 mt-4" *ngIf="isShowSubmit">
                            <div class="d-flex justify-content-end">
                            <p-button (click)="navigateToBack()" label="BACK"></p-button>
                            <p-button *ngIf="isShowSubmit" label="{{'BORROWINGSTRANSACTIONS.SUBMIT' | translate}}" (click)="submit()" [disabled]="isDisableSubmit" ></p-button>
                        </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4" *ngIf=" viewButton">
                        <div class="form-label">
                            <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.SIGNED_COPY_PATH' | translate}}</h6>
                            <div class="d-flex mt-2" *ngFor="let img of saoAccountdetailsModel.multipartFileListsignedCopyPath">
                                <div *ngIf=" img.fileType =='pdf'">
                                    <a href="{{img.imageValue}}">
                                        <img src="assets\images\pdf.png" width="22" height="22">
                                    </a>
                                </div>
                                <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                    {{img.fileName}}
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4" *ngIf="editFlag || viewButton">
                             <p class="label-view text-fontwt">{{'BORROWINGSTRANSACTIONS.STATUS' | translate}}</p>
                            <p class="label-input-text">{{saoAccountdetailsModel.accountStatusName}}</p>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4" *ngIf="editFlag || viewButton">
                            <p class="label-view text-fontwt">{{'BORROWINGSTRANSACTIONS.REMARKS' | translate}}</p>
                           <p class="label-input-text">{{saoAccountdetailsModel.remarks}}</p>
                       </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4" *ngIf="editFlag || viewButton">
                            <div class="d-flex justify-content-end">
                            <p-button (click)="navigateToBack()" label="BACK"></p-button>
                            <p-button *ngIf="isShowSubmit" label="{{'BORROWINGSTRANSACTIONS.SUBMIT' | translate}}" (click)="submit()" [disabled]="isDisableSubmit" ></p-button>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12"></div>
            </div>
        </div>
    </div>
</div>
<!-- DOC Photo Copy -->
<p-dialog header="{{'ERP.DOCUMENT_COPY' | translate}}" [(visible)]="docPhotoCopyZoom" [modal]="true" [maximizable]="true" (onResize)="onDialogResize($event)" styleClass="doc-photo-dialog">
    <div class="col-12">
        <div *ngFor="let img of multipleFilesList">
            <div class="mb-3 imgcustom-class" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                <!-- <a href="{{img.imageValue}}"> -->
                        <img src="{{img.imageValue}}" class="doc-photocopy">
                <!-- </a> -->
            </div>
        </div>
    </div>
</p-dialog>