<div class="col-12">
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start">{{'ERP.SAVINGS_BANK' | translate}} <i
                    class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'ERP.DEATH_CLAIM' | translate}}</div>
        </div>
    </div>
    <!-- .sb-side-dclime-card -->


        <div class="row">
            <div class="col-25-right">
                <div class="col-12 sb-side-dclime-card  border-light">
                    <div class="col-12">
                        <h6 class="transaction-side-card-header">{{'ERP.ACCOUNT_DETAILS' | translate}}</h6>
                    </div>
                    
                    <div class="col-12 pic-sig-status">
                        <div class="d-flex justify-content-center" (click)="onClickMemberPhotoCopy()">
                            <img src="assets/images/avatar-table.png" class="image-user cursor-pointer">
                            <p class="active-status"></p>
                            <img src="assets/images/sign.png" class="image-sign cursor-pointer">
                        </div>
                    
                    </div>
                    <div class="col-12 min-h-50px text-break text-center">
                        <p class="m-0">{{'ERP.ACCOUNT_NUMBER' | translate}}</p>
                        <p class="font-semibold m-0">664577</p>
                    </div>
                    <div class="col-12 min-h-50px text-break text-center">
                        <p class="m-0">{{'ERP.NAME' | translate}}</p>
                        <p class="font-semibold m-0"><span
                            class="border-bottom">Saicharan</span>
                    </p>
                    </div>
                   
                    <div class="col-12 min-h-50px text-break">
                        <p class="m-0">{{'ERP.PRODUCT_TYPE' | translate}}</p>
                        <p class="font-semibold m-0">Regular Savings</p>
    
                    </div>
    
                    <div class="col-12 min-h-50px text-break">
                        <p class="m-0">{{'ERP.ADMISSION_NO' | translate}} </p>
                        <p class="font-semibold m-0">2022</p>
                    </div>
                    <div class="col-12 min-h-50px text-break">
                        <p class="m-0">{{'ERP.ADMISSION_DATE' | translate}} </p>
                        <p class="font-semibold m-0">23/02/2022</p>
                    </div>
                    <div class="col-12 min-h-50px text-break">
                        <p class="m-0">{{'ERP.MEMBER_TYPE' | translate}} </p>
                        <p class="font-semibold m-0">A-Class</p>
                    </div>
                    <div class="col-12 min-h-50px">
                        <div class=" grid">
                            <div class="col-6 text-break">
                                <p class="m-0">{{'ERP.AADHAR_NO' | translate}} </p>
                                <p class="font-semibold m-0">9789 5880 1999</p>
                            </div>
                            <div class="col-6 text-break">
                                <p class="m-0">{{'ERP.PAN_NO' | translate}}</p>
                                <p class="font-semibold m-0">BWSPD2446J</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 min-h-50px">
                        <div class=" grid">
                            <div class="col-6 text-break">
                                <p class="m-0">{{'ERP.CONTACT' | translate}} </p>
                                <p class="font-semibold m-0">9262625162</p>
                            </div>
                            <div class="col-6 text-break">
                                <p class="m-0 text-light">{{'ERP.EMAIL' | translate}} </p>
                                <p class="font-semibold m-0">uru@gmail.com</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12 min-h-50px text-break">
                        <p class="m-0">{{'ERP.ADDRESS' | translate}} </p>
                        <p class="font-semibold m-0">hyd</p>
                    </div>
    
                    <div class="col-12 min-h-50px text-break">
                        <div class="d-flex justify-content-between">
                            <div class="text-break">
                                <span>{{'ERP.KYC' | translate}}</span>
                                <p class="font-semibold m-0">Approved</p>
                            </div>
                            <div class="kyc-done icon-size text-right">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
    
                            </div>
    
                        </div>
    
                    </div>
                    <div class="col-12 color-light justify-content-end text-right">
                        <a class="fst-italic text-light" (click)="onClickMemberIndividualMoreDetails()">{{'ERP.MORE_DETAILS' | translate}}</a>
                    </div>
    
                
                
            </div>
            </div>
            <div class="col-75-fullmidd">
              
                    <div class="col-12  fieldset-body">
                        <span class="fieldset-legend">{{'ERP.NOMINEE_DETAILS' | translate}}</span>
                        <div class=" d-flex justify-content-end">
                            <div class="basic-detaisl-btn view-popup-top pr-3 mt-n1"><a (click)="showBasicDetailsDialog('right')"  class="top-badge-btn btn-outline-0 ">Basic Details</a></div>
                        </div>
                        <div class="col-12 px-3">
                            <div class="row g-3 mb-3">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h6 class="label-view">{{'ERP.RELATIONSHIP_TYPE' | translate}} </h6>
                                    <p class="label-input-text">Wife</p>
                                </div>
                            </div>
                            <div class="row g-3 mb-3">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h6 class="label-view">{{'ERP.FIRST_NAME' | translate}} </h6>
                                    <p class="label-input-text">raj</p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h6 class="label-view">{{'ERP.LAST_NAME' | translate}} </h6>
                                    <p class="label-input-text">kumar</p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h6 class="label-view">{{'ERP.DATE_OF_BIRTH' | translate}}</h6>
                                    <p class="label-input-text">12/02/1990</p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h6 class="label-view">{{'ERP.AGE' | translate}}</h6>
                                    <p class="label-input-text">34</p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h6 class="label-view">{{'ERP.MOBILE_NUMBER' | translate}} </h6>
                                    <p class="label-input-text">934773433445</p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h6 class="label-view">{{'ERP.AADHAR_NUMBER' | translate}} </h6>
                                    <p class="label-input-text">1234 9567 9432</p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h6 class="label-view">{{'ERP.EMAIL' | translate}} </h6>
                                    <p class="label-input-text">ff@gmail.com</p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6 class="label-view">{{'ERP.FILE' | translate}}</h6>
                                         <p class="label-input-text docname-texteclipse mt-1" pTooltip="Filename.jpg" tooltipPosition="bottom"><img src="assets/images/jpgicon-img.png" class="viewicon-img">Filename.jpg</p>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="d-flex">
                                        <h6 class="label-view">{{'ERP.ADDRESS' | translate}}</h6>
                                    </div>
                                    <p class="label-input-text">3-123/5,sriram colony,hyderabad,<br>telangana,500023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
              
            
                    <div class="col-12 bg-card bg-label-colorfull ">
                        
                        <div class="col-12">
                            <h6 class="sub-heading">Confirmation Details</h6>
                            <div class="d-flex">
                                <p-inputSwitch [(ngModel)]="showForm" (onChange)="toggleForm()" class="mr-2"></p-inputSwitch><p class="m-0">{{'ERP.ARE_YOU_CONFIRM_THE_NOMINEE_DETAILS' | translate}}?</p>
                            </div>
                       
                            <form [formGroup]="deathform">
                                
                                <div class="row g-3 mt-2" *ngIf="showForm">
                                    
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-label">
                                            <label for="username">{{'ERP.DATE_OF_BIRTH' | translate}}
                                            </label>
                                        <p-calendar [showIcon]="true" placeholder="DD/MM/YYYY"></p-calendar>
                                    </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <span class=""> {{ 'ERP.UPLOAD_SIGNED_COPY' | translate }} </span>
                                        <div class="uplodad-style align-items-center">
                                            <!-- Upload Button Column -->
                    
                                            <p-fileUpload #fileUpload class="" name="myfile[]" chooseLabel=" "
                                                id="apply-leave_fileUp_attach" name="file" accept=".png,.jpg,.jpeg,.pdf"
                                                [customUpload]="true" formContralName="fileUpload">
                                            </p-fileUpload>
                    
                                            <!-- Uploaded Files Display Column -->
                    
                                            <div class="col-12 d-flex p-1 contant-body" *ngFor="let img">
                                                <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                    <a href="{{img.imageValue}}">
                                                        <img src="{{img.imageValue}}">
                                                    </a>
                                                </div>&nbsp;&nbsp;
                                                <div class="text-ellipse" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                                    {{img.fileName}}
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <span class=""> {{ 'ERP.UPLOAD_DEATH_CERTIFICATE' | translate }} </span>
                                        <div class="uplodad-style align-items-center">
                                            <!-- Upload Button Column -->
                    
                                            <p-fileUpload #fileUpload class="" name="myfile[]" chooseLabel=" "
                                                id="apply-leave_fileUp_attach" name="file" accept=".png,.jpg,.jpeg,.pdf"
                                                [customUpload]="true" formContralName="fileUpload">
                                            </p-fileUpload>
                    
                                            <!-- Uploaded Files Display Column -->
                    
                                            <div class="col-12 d-flex p-1 contant-body" *ngFor="let img">
                                                <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                    <a href="{{img.imageValue}}">
                                                        <img src="{{img.imageValue}}">
                                                    </a>
                                                </div>&nbsp;&nbsp;
                                                <div class="text-ellipse" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                                    {{img.fileName}}
                                                </div>
                                            </div>
                    
                                        </div>
                    
                    
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-label">
                                            <label for="code">
                                                {{'ERP.REMARKS' | translate}}
                                            </label>
                    
                                        <textarea class="form-control" type="text" pInputTextarea placeholder="Enter Remarks Here"></textarea>
                                    </div>
                                </div>
                                </div>
                            </form>
                    
                        </div>
                    </div>
                    <div class="col-12 btn-footer pr-0">
                        <div class="col-12 d-flex justify-content-end p-0 pt-1 group-button-bottom">
                            <p-button *ngIf="!showForm" label="{{'ERP.BACK' | translate}}" (click)="backbutton()"></p-button>
                            <p-button *ngIf="showForm" label="{{'ERP.BACK' | translate}}" (click)="backbutton()"></p-button>
                            <p-button *ngIf="showForm" label="{{'ERP.CANCEL' | translate}}" (click)="backbutton()"></p-button>
                            <p-button *ngIf="showForm" label="{{'ERP.SUBMIT' | translate}}"></p-button>
                        
                        </div>
                    </div>
             
    
            </div>
        </div>

        <!-- 1024px basic details start -->
    <p-dialog header="{{'ERP.ACCOUNT_DETAILS' | translate}}" [modal]="true" [(visible)]="isBasicDetails" [style]="{ width: '80%'}">
        <div class="col-12 sb-side-dclime-card border-light text-center">
            <div class="row ">
                <div class="col-12 image-view-768p" (click)="onClickMemberPhotoCopy()">
                   
                        <img src="assets/images/avatar-table.png" alt="user-image" class="m-2 cursor-pointer">
                   
                        <img src="assets/images/sign.png" alt="sign-image" class="m-2 cursor-pointer">
                 
                </div>
                <!-- <div class="col-12 pic-sig-status">
                    <div class="d-flex justify-content-center">
                        <img src="assets/images/avatar-table.png" class="image-user">
                        <p class="active-status"></p>
                        <img src="assets/images/sign.png" class="image-sign">

                    </div>
                    <p class="name-border-bottom"></p>
                </div> -->
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.ACCOUNT_NUMBER' | translate}}</p>
                        <p class="font-semibold text-break m-0">664577</p>
                </div>
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.NAME' | translate}}</p>
                    <p class="font-semibold text-break m-0">Saicharan </p>
                   
                </div>
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.PRODUCT_TYPE' | translate}}</p>
                    <p class="font-semibold text-break m-0">Regular Savings</p>
                </div>
            
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.ADMISSION_NO' | translate}} </p>
                    <p class="font-semibold text-break m-0">2022</p>
                </div>
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.ADMISSION_DATE' | translate}} </p>
                    <p class="font-semibold text-break m-0">23/02/2022</p>
                </div>
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.MEMBER_TYPE' | translate}} </p>
                    <p class="font-semibold text-break m-0">A-Class</p>
                </div>
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.AADHAR_NO' | translate}} </p>
                    <p class="font-semibold text-break m-0">9789 5880 1999</p>
                </div>
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.PAN_NO' | translate}}</p>
                    <p class="font-semibold text-break m-0">BWSPD2446J</p>
                </div>
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.CONTACT' | translate}} </p>
                    <p class="font-semibold text-break m-0">9262625162</p>
                </div>
            
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.EMAIL' | translate}} </p>
                    <p class="font-semibold text-break m-0">uru@gmail.com</p>
                </div>
            
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.ADDRESS' | translate}} </p>
                    <p class="font-semibold text-break m-0">hyd</p>
                </div>
            
                <div class="col-md-6 col-sm-6 min-h-50px text-break">
                    <p class="m-0">{{'ERP.KYC' | translate}}</p>
                    <p class="font-semibold text-break m-0">Approved</p>
                       
                        <!-- <div class="kyc-done icon-size text-right">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
            
                        </div> -->
            
                 
            
                </div>
                </div>
            <!-- <div class="col-md-6 col-sm-12 min-h-50px text-break">
                <a class="fst-italic text-light">{{'ERP.MORE_DETAILS' | translate}}</a>
            </div> -->
        </div>
    </p-dialog>
     <!-- 1024px basic details start -->

    </div>

    <p-dialog header="More Basic Details" [(visible)]="moreDetails" styleClass="moredetails-style">
        <div class="popup-basic-details">
            <div class="row">
               <!--  <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="col-12 px-0">
                            <div class="px-0" *ngFor="let img of membershipBasicRequiredDetails.multipartFileListForMCRCopyPath">
                                <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                                    <a href="{{img.imageValue}}">
                                        <img src="{{img.imageValue}}" class="upload-img img-fluid">
                                    </a>
                                </div>
                                <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                                    <a href="{{img.imageValue}}">
                                        <img src="assets\images\pdf.png" class="pdf-img img-fluid">
                                    </a>
                                </div>
                            </div>
                    
                            <div class="px-0" *ngFor="let img of membershipBasicRequiredDetails.multipartFileListForsignatureCopyPath">
                                <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                                    <a href="{{img.imageValue}}">
                                        <img src="{{img.imageValue}}" class="upload-img img-fluid">
                                    </a>
                                </div>
                                <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                                    <a href="{{img.imageValue}}">
                                        <img src="assets\images\pdf.png" class="pdf-img img-fluid">
                                    </a>
                                </div>
                            </div>
                    </div> 
                   
                </div>-->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="d-flex justify-content-start px-3 py-0 mb-2" (click)="onClickMemberPhotoCopy()">
                        <img src="assets/images/avatar-table.png" class="image-user cursor-pointer">
                        <p class="active-status"></p>
                        <img src="assets/images/sign.png" class="image-sign cursor-pointer">
                    </div>
                    </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                        <p class="label-input-text">A-Class</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.SURNAME' | translate}}</span>
                        <p class="label-input-text">Chatti</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.NAME' | translate}}</span>
                        <p class="label-input-text">Raviteja</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.DATE_OF_BIRTH' | translate}}</span>
                        <p class="label-input-text">01/07/1990</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.AGE' | translate}}</span>
                        <p class="label-input-text">33</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.GENDER' | translate}}</span>
                        <p class="label-input-text">Male</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MARITAL_STATUS' | translate}}</span>
                        <p class="label-input-text">Unmarried</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.RELATION_WITH_MEMBER' | translate}}</span>
                        <p class="label-input-text">Father</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.RELATIVE_NAME' | translate}}</span>
                        <p class="label-input-text">Appala Raju</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.QUALIFICATION' | translate}}</span>
                        <p class="label-input-text">M.Tech</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.OCCUPATION' | translate}}</span>
                        <p class="label-input-text">Software Engineer</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.AADHAR_NO' | translate}}</span>
                        <p class="label-input-text">546778898766556</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                        <p class="label-input-text">ADFR4567U8</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.CONTACT' | translate}}</span>
                        <p class="label-input-text">9876543210</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.EMAIL' | translate}}</span>
                        <p class="label-input-text">ravi@gmail.com</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.CASTE' | translate}}</span>
                        <p class="label-input-text">BC</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.COMMUNITYS' | translate}}</span>
                        <p class="label-input-text">Hindu</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                        <p class="label-input-text">6677887</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px" *ngIf="moreDetails" >
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MANAGEMENT_COMMITTE_RESOLUTION_NO' | translate}}</span>
                        <p class="label-input-text">544556</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px" *ngIf="moreDetails">
                    <div class="form-label">
                        <span class="label-view">{{'ERP.MCR_DOCUMENT_TYPE' | translate}}</span>
                        <!-- <div class="uplodad-style align-items-center"> -->
                        <!-- <p class="fw-semibold">{{membershipBasicRequiredDetails.mcrDocumentCopy }}</p> -->
                        <!-- <div class="col-12 d-flex p-0">
                            <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22" height="22"></a>
                            </div>
                            <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">{{img.fileName}}</div>
                        </div> -->
                        <!-- </div> -->
                    </div>
                        
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                        <p class="label-input-text">11/09/2023</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_FEE' | translate}}</span>
                        <p class="label-input-text">500</p>
                    </div>
                </div>
                
            </div>
                <!-- <p-button class="pull-right" label="{{'ERP.CLOSE' | translate}}" (click)="close()"></p-button> -->
        </div>
    </p-dialog>

        <!--photo Copy dialog -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [(visible)]="memberPhotoCopyZoom" styleClass="photo-dialog">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="assets/images/avatar-table.png" class="popup-images">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/images/sign.png" class="popup-images">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="fa fa-angle-left" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="fa fa-angle-right" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- <div class="col-12">
        <div class="d-flex justify-content-end">
<p-button class="action-edit" label="{{'ERP.CLOSE' | translate}}" (click)="closePhoto()"></p-button>
</div>
</div> -->
</p-dialog>