<div class="col-12">
<p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'"></p-messages>
    <div class="stepper-top-section-strip">
    <div class="row ">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
            <span>{{'LOANS.PRODUCT_NAME' | translate}} </span>
            <p class="m-0 font-semibold text-break">{{compoundInterestProductDefinitionModel.name}}</p>
        </div>
    </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12 viewcustom-input-number inputnumberht-5px">
            <div class="form-group">
            <span>{{'LOANS.MIN_DEPOSIT_AMOUNT' | translate}}</span>
            <p-inputNumber id="bunit_txt_name" [(ngModel)]="compoundInterestProductDefinitionModel.eligibleMInAmount" mode="currency"
                inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>
        </div>
    </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12 viewcustom-input-number inputnumberht-5px">
            <div class="form-group">
            <span>{{'LOANS.MAX_DEPOSIT_AMOUNT' | translate}} </span>
            <p-inputNumber id="bunit_txt_name" [(ngModel)]="compoundInterestProductDefinitionModel.eligibleMaxAmount" mode="currency"
                inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>
        </div>
    </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
            <span>{{'LOANS.EFFECTIVE_START_DATE' | translate}} </span>
            <p class="m-0 font-semibold text-break">{{compoundInterestProductDefinitionModel.effectiveStartDate}}</p>
        </div>
    </div>
    </div>
</div>

<div class="col-12"></div>

    <form [formGroup]="purposeForm" id="proj_stakeholder_form">
        <div class="flex justify-content-between py-2">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <div class="sub-heading mt-1">{{'LOANS.PURPOSE' | translate}}</div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="col-12 p-0">
                    <div class="d-flex justify-content-end search-input-style">
                        <div class="input-group search-box d-flex justify-content-end">
                                <div class="search">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search global-search-icon"></i>
                                        <input autocomplete="off" type="text" id="skill_category_txt_search" pInputText
                                        placeholder="Search" class="searchbox"
                                        #searchInput (input)="dt.filterGlobal(searchInput.value, 'contains')">
                                    </span>
                                </div>
                        </div>

                        <p-button (click)="addInlineRow()" label="Add" icon="fa fa-plus" iconPos="left" id="add_btn"
                            [disabled]="addButton"> </p-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="globel-border-top-color"></div>
        <p-table #dt [value]="purposeList" dataKey="id" editMode="row" styleClass="p-datatable-striped" [rows]="5"
            [paginator]="true" [showJumpToPageDropdown]="true" [showPageLinks]="false" [pageLinks]="1"
            [responsive]="true" rowExpandMode="single"
            [globalFilterFields]="['purposeId','gestationPeriod','maxGesitationPeriod','remarks']">
            <ng-template pTemplate="header">
                <tr>
                    <th><span class="red">*</span> {{'LOANS.PURPOSE_TYPE' | translate}}</th>
                    <th><span class="red">*</span> {{'LOANS.MIN_GESTATION_PERIOD' | translate}}</th>
                    <th><span class="red">*</span> {{'LOANS.MAX_GESTATION_PERIOD' | translate}}</th>
                    <th> {{'LOANS.REMARKS' | translate}}</th>
                    <th class="width-15em">{{'LOANS.ACTION' | translate}}</th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-ciPurposeModel let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="ciPurposeModel">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="purposeTypeList" formControlName="purposeId"
                                    [(ngModel)]="ciPurposeModel.purposeId" [appendTo]="'body'"
                                    placeholder="select"
                                    (onChange)="purposetypeDuplicateCheck(ciPurposeModel.purposeId)"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ ciPurposeModel.loanPurposeName}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="ciPurposeModel.gestationPeriod"
                                    formControlName="gestationPeriod" (keyup)="checkForGestationPeriod()">

                            </ng-template>
                            <ng-template pTemplate="output">{{ciPurposeModel.gestationPeriod}}</ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="ciPurposeModel.maxGesitationPeriod"
                                    formControlName="maxGesitationPeriod" (keyup)="checkForGestationPeriod()">

                            </ng-template>
                            <ng-template pTemplate="output">{{ciPurposeModel.maxGesitationPeriod}}</ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="ciPurposeModel.remarks"
                                    formControlName="remarks">

                            </ng-template>
                            <ng-template pTemplate="output">{{ciPurposeModel.remarks}}</ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <div class="global-action-btn flex align-items-center justify-content-center">
                            <p-button *ngIf="editing" [disabled]="!purposeForm.valid"
                                (click)="saveInlineRow(ciPurposeModel)" pSaveEditableRow
                                id="prj_stakehlder_bt_cancel" label="{{'TERMDEPOSITSTRANSACTION.SAVE'|translate }}"
                                class="action-save">
                            </p-button>
                            <p-button *ngIf="editing" (click)="onRowEditCancel()" pCancelEditableRow
                                id="prj_stakehlder_bt_cancel" label="{{'TERMDEPOSITSTRANSACTION.CANCEL'|translate }}"
                                class="action-delete">
                            </p-button>
                            <p-button *ngIf="!editing" (click)="editInlineRow(ciPurposeModel)" pInitEditableRow
                                id="prj_stakehlder_bt_edit" [disabled]="editDeleteDisable"
                                label="{{'TERMDEPOSITSTRANSACTION.EDIT' | translate}}" class='action-edit'></p-button>
                        </div>
                    </td>

                </tr>
            </ng-template>
        </p-table>
        <div class="col-12 margtop-3rem"></div>
    </form>
</div>