<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.DOCUMENTS' | translate}}<span class="admission-text">(Admission
            number:&nbsp;{{admissionNumber}})</span></h6>
    <div class="stepper-top-section-strip">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 stepper-top-product-name-background">
                <div class="form-group">
                    <span>{{'TERMDEPOSITSTRANSACTION.PRODUCT_NAME' | translate}}</span>
                    <p class="mb-0">{{fdCumulativeApplicationModel.fdCummulativeProductName}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group ml-2">
                    <span>{{'TERMDEPOSITSTRANSACTION.ACCOUNT_NUMBER' | translate}}</span>
                    <p class="mb-0">{{fdCumulativeApplicationModel.accountNumber}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.DEPOSIT_AMOUNT' | translate}}</span>
                    <p class="mb-0">{{depositAmount}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <span>{{'TERMDEPOSITSTRANSACTION.DEPOSIT_DATE' | translate}}</span>
                    <p class="mb-0">{{depositDate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12"></div>
    <form [formGroup]="requiredForm" id="exit_types_form">
        <p-button icon="fa fa-plus" label="{{'TERMDEPOSITSTRANSACTION.ADD_ANOTHER_DOCUMENT' | translate}}"
            (click)="addDocument($event)" [disabled]="buttonDisabled" class="kyc-btnm-0"></p-button>
        <p class="label-input-text text-danger mt-2" *ngIf="mandatoryDoxsTextShow">Note : {{requiredDocumentsNamesText}}</p>
        <div class="col-12 p-0 pt-2">
            <div class="row g-3">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngFor="let document of documentDataList ; let i = index">
                    <div class="stepper-doc-card p-3 mb-2" *ngIf="editIndex != i || editDocumentOfKycFalg">
                        <!-- view card -->
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 d-flex align-items-center">
                                <div class="card-leftbody">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 min-h-50px">
                                        <h6 class="label-view">{{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_TYPE' | translate }}</h6>
                                        <p class="label-input-text">{{document.requiredDocumentTypeName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 min-h-50px">
                                        <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.DOCUMENT_NUMBER' | translate }}</h6>
                                        <p class="label-input-text">{{document.documentNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 min-h-50px">
                                        <h6 class="label-view">{{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_COPY' | translate }}</h6>
                                        <p class="label-input-text docname-texteclipse"
                                            pTooltip="{{document.requiredDocumentFilePath}}" tooltipPosition="bottom">
                                            {{document.requiredDocumentFilePath}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 justify-content-end d-flex right-actions">
                                <div class="cardview-icon icon-size text-right cursor-pointer -mt-1" (click)="onClickdocPhotoCopy()"><i class="fa fa-eye mr-3" aria-hidden="true"></i></div>
                                        <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn" (click)="toggleEditForm(i ,document)"
                                            [disabled]="editButtonDisable"></p-button>
                                            <p-button icon="fa fa-trash" class="kyc-edit-btn ml-3" (click)="deletDilogBox(document)"
                                            [disabled]="editButtonDisable"></p-button>


                                <!-- <div class="col-12 px-0">
                                    <div class="col-12 px-0" *ngFor="let img of document.multipartFileList">
                                        <div class="col-12 p-0"
                                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                            <a href="{{img.imageValue}}">
                                                <img src="{{img.imageValue}}" class="upload-img img-fluid"
                                                    pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                            </a>
                                        </div>
                                        <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                                            <a href="{{img.imageValue}}">
                                                <img src="assets\images\pdf.png" class="pdf-img img-fluid"
                                                    pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                            </a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <!-- Edit form -->
                    <div class="col-12 global-border bg-label-colorfull p-3"
                        *ngIf="editIndex === i  && !editDocumentOfKycFalg">
                        <div class="row g-3 mt-n1">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_TYPE' | translate }}</label>
                                    <p-dropdown placeholder="{{'TERMDEPOSITSTRANSACTION.SELECT'| translate}}"
                                        formControlName="requiredDocumentTypeName" [options]="documentNameList"
                                        id="docTypeId" [(ngModel)]="fdRequiredDocumentModel.requiredDocumentTypeId">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.DOCUMENT_NUMBER' | translate }}</label>
                                    <input id="documentNumber" type="text" formControlName="documentNumber"
                                        [(ngModel)]="fdRequiredDocumentModel.documentNumber" pInputText
                                        placeholder="Enter Document Number">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <span class=""> <span class="red">*</span>{{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_COPY' | translate }} </span>
                                    <div class="uplodad-style align-items-center">
                                        <!-- Upload Button Column -->

                                        <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" formContralName="requiredDocumentFilePath"
                                            name="myfile[]" chooseLabel=" " id="apply-leave_fileUp_attach"
                                            name="file" accept=".png,.jpg,.jpeg,.pdf" [customUpload]="true"
                                            (onRemove)="fileRemoeEvent()" (onSelect)="imageUploader($event,fileUpload)">
                                        </p-fileUpload>
                                        <div class="col-12  d-flex p-1 contant-body"
                                            *ngFor="let img of fdRequiredDocumentModel.multipartFileList">
                                            <div
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}"
                                                        width="22" height="22"></a>
                                            </div>
                                            <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}"
                                                tooltipPosition="bottom">
                                                {{img.fileName}}</div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="justify-content-end d-flex">
                                    <p-button label="{{'cancle' | translate}}" (onClick)="editCancle()"></p-button>
                                    <p-button label="{{'save' | translate}}" [disabled]="!requiredForm.valid || !isFileUploaded"
                                        (onClick)="editsave(fdRequiredDocumentModel)"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- add form -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngIf="addDocumentOfKycFalg">
                    <div class="col-12  p-3 global-border bg-label-colorfull">
                        <div class="row g-3 mt-n1">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_TYPE' | translate }}</label>
                                    <p-dropdown placeholder="{{'TERMDEPOSITSTRANSACTION.SELECT'| translate}}" formControlName="requiredDocumentTypeName"
                                        [options]="documentNameList" id="docTypeId"
                                        [(ngModel)]="fdRequiredDocumentModel.requiredDocumentTypeId"
                                        (onChange)="documentDuplicate(fdRequiredDocumentModel.requiredDocumentTypeId)">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.DOCUMENT_NUMBER' | translate }}</label>
                                    <input id="documentNumber" type="text" formControlName="documentNumber"
                                        [(ngModel)]="fdRequiredDocumentModel.documentNumber"
                                        placeholder="Enter Document Number">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <span class=""><span class="red">*</span> {{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_COPY' | translate }} </span>
                                    <div class="uplodad-style align-items-center">
                                        <!-- Upload Button Column -->

                                        <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                            chooseLabel=" " id="apply-leave_fileUp_attach" name="file"
                                            accept=".png,.jpg,.jpeg,.pdf" (onRemove)="fileRemoeEvent()"
                                            [customUpload]="true" formContralName="requiredDocumentFilePath"
                                            (onSelect)="imageUploader($event,fileUpload)">
                                        </p-fileUpload>

                                        <!-- Uploaded Files Display Column -->

                                        <div class="col-12  d-flex p-1 contant-body"
                                            *ngFor="let img of fdRequiredDocumentModel.multipartFileList">
                                            <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}"
                                                tooltipPosition="bottom">
                                                {{img.fileName}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-12">
                                <div class="justify-content-end d-flex">
                                    <p-button label="{{'cancle' | translate}}" (click)="cancel()"></p-button>
                                    <p-button label="{{'save' | translate}}" [disabled]="!requiredForm.valid || !isFileUploaded"
                                        (click)="saveDocument(fdRequiredDocumentModel)"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<p-dialog [(visible)]="displayDialog" [closable]="false" styleClass="delete-popup" [responsive]="true">
    <div class="col-12">
        <i class="fa fa-times-circle text-center" aria-hidden="true"></i>

        <p class="text-center popup-header">{{'ERP.ARE_YOU_SURE_TO_DELETE' | translate}}</p>
        <p class="text-center pop-subheader">{{'ERP.DO_YOU_REALLY_TO_DELETE_THESE_RECORDS' | translate}}</p>

    </div>
    <div class="col-12 text-center p-2">
        <p-button pRipple class="yes-button" label="{{'ERP.DELETE' | translate}}" (click)="submitDelete()"></p-button>
        <p-button pRipple class="no-button" label="{{'ERP.CANCEL' | translate}}"
            (click)="cancelForDialogBox()"></p-button>
    </div>
</p-dialog>
<!-- Document Photo Copy -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [(visible)]="docPhotoCopyZoom" styleClass="doc-photo-dialog">
 <div class="col-12">
 <div *ngFor="let document of documentDataList ; let i = index">
 <div *ngFor="let img of document.multipartFileList">
     <div class="mb-3" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
         <!-- <a href="{{img.imageValue}}"> -->
             <img src="{{img.imageValue}}" class="doc-photocopy">
         <!-- </a> -->
     </div>
     <div class="mb-3" *ngIf=" img.fileType =='pdf'">
         <!-- <a href="{{img.imageValue}}"> -->
             <img src="assets\images\pdf.png" class="doc-photocopy">
         <!-- </a> -->
     </div>
 </div>
 </div>
</div>
</p-dialog>