<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs"></p-messages> 
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 py-2">
        <div class="main-heading mt-1">{{'ERP.STATE' | translate}}</div>
    </div>

    <div class="col-12 bg-card bg-label-colorfull px-1 pb-0">
        <form [formGroup]="stateForm">
            <div class="col-12">
                    <div class="col-12">
                        <div class="row mt-n1">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                <label><span class="red">*</span> {{'ERP.COUNTRY' | translate}}</label>
                                    <p-dropdown [options]="countrylist" placeholder="Select" formControlName="countryCode"
                                        [(ngModel)]="stateModel.countryId"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                    <label for="username"><span class="red">*</span>{{'ERP.NAME' | translate}}
                                    </label>
                                <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="name"
                                    [(ngModel)]="stateModel.name">
                                    <p-message severity="error" text="Enter Valid Name"
                                    *ngIf="!stateForm.controls['name'].valid && stateForm.controls['name'].dirty">
                                  </p-message>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                    <label for="code">
                                        {{'ERP.CODE' | translate}}
                                    </label>
                                <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="code"
                                    [(ngModel)]="stateModel.code">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                    <label for="code">
                                        {{'ERP.SHORT' | translate}}
                                    </label>
                                <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="shortCode"
                                    [(ngModel)]="stateModel.shortCode">
                                </div>
                            </div>
                           
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                    <label for="code">
                                        {{'ERP.GOI' | translate}}
                                    </label>
                               
                                <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="goiCode"
                                    [(ngModel)]="stateModel.goiCode">
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                    <label for="code"><span class="red">*</span>
                                        {{'ERP.STATUS' | translate}}
                                    </label>
                                <p-dropdown [options]="statusList"  formControlName="status"
                                    [(ngModel)]="stateModel.status"></p-dropdown>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
    
        </form>
    </div>
</div>
<div class="col-12 d-flex justify-content-end">
    <p-button label="{{'ERP.BACK' | translate}}" (click)="navigateback()"></p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!stateForm.valid" *ngIf='!isEdit'
        (click)="addOrUpdate()"> </p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!stateForm.valid" *ngIf='isEdit'
        (click)="addOrUpdate()"> </p-button>
</div>




