<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs"></p-messages> 
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 py-2">
        <div class="main-heading mt-1">{{'ERP.DISTRICT' | translate}}</div>
    </div>

    <div class="col-12 bg-card bg-label-colorfull px-1 pb-0">
                <form [formGroup]="addDistricForm">
                    <div class="col-12">
                        <div class="col-12">
                        <div class="row mt-n1">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                <label> <span class="red">*</span>{{'ERP.COUNTRY' | translate}}</label>
                                    <p-dropdown [options]="countrylist" placeholder="Select" formControlName="countryCode"
                                        [(ngModel)]="districtModel.countryId" (onChange)="getAllstatesByCountryId(districtModel.countryId)" 
                                        ></p-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                <label> <span class="red">*</span>{{'ERP.STATETD' | translate}}</label>
                                    <p-dropdown [options]="stateListData" placeholder="Select" formControlName="stateCode"
                                        [(ngModel)]="districtModel.stateId"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                <label><span class="red">*</span> {{'ERP.NAME' | translate}}</label>
                                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="name"
                                        [(ngModel)]="districtModel.name">
                                        <p-message severity="error" text="Enter Valid Name"
                                        *ngIf="!addDistricForm.controls['name'].valid && addDistricForm.controls['name'].dirty">
                                      </p-message>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                <label> {{'ERP.CODE' | translate}}</label>
                                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="code"
                                        [(ngModel)]="districtModel.code">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                <label> {{'ERP.SHORT' | translate}}</label>
                                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="shortCode"
                                        [(ngModel)]="districtModel.shortCode">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                <label> {{'ERP.GOI' | translate}}</label>
                                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="govtCode"
                                        [(ngModel)]="districtModel.govtCode">
                                </div>
                            </div>
                        
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-label">
                                <label> <span class="red">*</span>{{'ERP.STATUS' | translate}}</label>
                                    <p-dropdown [options]="statusList" placeholder="Select" formControlName="status"
                                        [(ngModel)]="districtModel.status"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>

    </div>
    </div>



    <div class="col-12 d-flex justify-content-end">
        <p-button label="{{'ERP.BACK' | translate}}" (click)="navigateToBack()"></p-button>
        <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!addDistricForm.valid" *ngIf='!isEdit'
            (click)="addOrUpdate()"> </p-button>
        <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!addDistricForm.valid" *ngIf='isEdit'
            (click)="addOrUpdate()"> </p-button>
    </div>




   
