
<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs"></p-messages> 
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 py-2">
            <div class="main-heading mt-1">{{'ERP.VILLAGES' | translate}}</div>
        </div>
        <div class="col-12 bg-card bg-label-colorfull px-1 pb-0">
        <form [formGroup]="villageForm">
            <div class="col-12">
            <div class="col-12">
            <div class="row mt-n1">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                    <div class="form-label">
                    <label><span class="red">*</span> {{'ERP.COUNTRY' | translate}}</label>
                        <p-dropdown [options]="countrylist" placeholder="Select" formControlName="countryCode"
                        (onChange)="getAllstatesByCountryId(villagesModel.countryId)" 
                            [(ngModel)]="villagesModel.countryId"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.STATES' | translate}}</label>
                        <p-dropdown [options]="stateListData"  placeholder="Select"
                        (onChange)="getAllDistrictsByStateId(villagesModel.stateId)" 
                        formControlName="stateName" [(ngModel)]="villagesModel.stateId"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.DISTRICTS' | translate}}</label>
                        <p-dropdown [options]="districtListData"  placeholder="Select"
                        (onChange)="getAllSubDistrictsByDistrictId(villagesModel.districtId)" 
                        formControlName="districtName" [(ngModel)]="villagesModel.districtId"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.MANDAL' | translate}}</label>
                        <p-dropdown [options]="subdistrictListData"  placeholder="Select"                      
                        formControlName="subDistrictName" [(ngModel)]="villagesModel.subDistrictId"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.DIVISION' | translate}}</label>
                        <p-dropdown [options]="divisionList"  placeholder="Select"                      
                        formControlName="divisionName" [(ngModel)]="villagesModel.divisionId"></p-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.BLOCK' | translate}}</label>
                        <p-dropdown [options]="blockList"  placeholder="Select"                      
                        formControlName="blockName" [(ngModel)]="villagesModel.blockId"></p-dropdown>
                    </div>
                </div>
                    
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.NAME' | translate}}</label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                        formControlName="name" [(ngModel)]="villagesModel.name">
                        <p-message severity="error" text="Enter Valid Name"
                        *ngIf="!villageForm.controls['name'].valid && villageForm.controls['name'].dirty">
                      </p-message>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label>{{'ERP.GOI' | translate}}</label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                        formControlName="goiCode" [(ngModel)]="villagesModel.goiCode">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label>{{'ERP.SHORT' | translate}}</label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                        formControlName="shortCode" [(ngModel)]="villagesModel.shortCode">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.STATUS' | translate}}</label>
                        <p-dropdown [options]="statusList" placeholder="Select" formControlName="statusName"
                            [(ngModel)]="villagesModel.status"></p-dropdown>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label>{{'ERP.DESCRIPTION' | translate}}</label>
                        <textarea pInputTextarea id="bunit_txt_name" maxlength="150" type="text" class="form-control" formControlName="description"
                            [(ngModel)]="villagesModel.description"></textarea>
                    </div>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.STATUS' | translate}}</label>
                        <p-dropdown [options]="statusList" placeholder="Select" formControlName="statusName"
                            [(ngModel)]="villagesModel.status"></p-dropdown>
                    </div>
                </div> -->
            </div>
            </div>
            </div>
        </form>

    </div>
</div>

<div class="col-12 d-flex justify-content-end">
    <p-button label="{{'ERP.BACK' | translate}}" (click)="navigateToBack()"></p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!villageForm.valid" *ngIf='!isEdit'
        (click)="addOrUpdate()"> </p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!villageForm.valid" *ngIf='isEdit'
        (click)="addOrUpdate()"> </p-button>
</div>



