
<div class="col-12">
    <p-messages label="Info" life="4000" [(value)]="msgs"></p-messages>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 py-2">
        <div class="main-heading mt-1">{{'ERP.DESIGNATION_TYPES' | translate}}</div>
    </div>
    <div class="col-12 bg-card bg-label-colorfull px-1 pb-0">
        <form [formGroup]="designationForm">
            <div class="col-12">
                <div class="col-12">
                    <div class="row mt-n1">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <label for="username">
                                    <span class="red">*</span>{{'ERP.NAME' | translate}}
                                </label>
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="name"
                                [(ngModel)]="designationTypesModel.name">
                                <p-message severity="error" text="Enter Valid Name"
                                    *ngIf="!designationForm.controls['name'].valid && designationForm.controls['name'].dirty">
                                  </p-message>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pt-4">
                            <div class="form-label"> 
                            <p-checkbox [binary]="true" inputId="binary" formControlName="isCeo"
                            [(ngModel)]="designationTypesModel.isCeo"
                           (onChange)="onSelectCheckBox($event)"></p-checkbox>
                            <span class="mt-2" for="username">&nbsp;&nbsp;{{'ERP.CEO' | translate}}</span>
                        </div>
                        </div>
                       
                        
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <label for="code">
                                    <span class="red">*</span>{{'ERP.STATUS' | translate}}
                                </label>
                            <p-dropdown [options]="statusList" formControlName="statusName"
                                [(ngModel)]="designationTypesModel.status" placeholder="Select"></p-dropdown>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col-12 d-flex justify-content-end">
    <p-button label="{{'ERP.BACK' | translate}}" (click)="navigateToBack()"></p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" (click)="addOrUpdate()" *ngIf='!isEdit' [disabled]="!designationForm.valid"> </p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" (click)="addOrUpdate()" *ngIf='isEdit' [disabled]="!designationForm.valid"> </p-button>
</div>