<div class="col-12">
    <p-messages label="Info" life="4000" [(value)]="msgs"></p-messages>
    <div class="xl:col-5 lg:col-5 md:col-12 sm:col-12 py-2" *ngIf="!isEdit">
        <div class="main-heading mt-1">{{'DEMANDDEPOSITS.ADD_PRODUCT_TYPES' | translate}}</div>
        
    </div>
    <div class="xl:col-5 lg:col-5 md:col-12 sm:col-12 py-2" *ngIf="isEdit">
        <div class="main-heading mt-1">{{'DEMANDDEPOSITS.EDI_PRODUCT_TYPES' | translate}}</div>
        
    </div>
    <div class="col-12 bg-card bg-label-colorfull px-1 pb-0">
        <form [formGroup]="producttypeform">
            <div class="col-12">
                <div class="col-12">
                    <div class="row mt-n1">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'DEMANDDEPOSITS.NAME' | translate}}</label>
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="name"
                                [(ngModel)]="productTypeModel.name">
                                <p-message severity="error" text="Enter Valid Name"
                                *ngIf="!producttypeform.controls['name'].valid && producttypeform.controls['name'].dirty">
                              </p-message>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                            <label for="code">
                                {{'DEMANDDEPOSITS.DESCRIPTION' | translate}}
                            </label>

                            <textarea type="text" class="form-control" pInputTextarea formControlName="description"
                                [(ngModel)]="productTypeModel.description"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'DEMANDDEPOSITS.STATUS' | translate}}</label>
                                <p-dropdown [options]="statusList" placeholder="Select" formControlName="statusName"
                                    [(ngModel)]="productTypeModel.status"></p-dropdown>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="col-12 d-flex justify-content-end">
    <p-button label="{{'DEMANDDEPOSITS.BACK' | translate}}" (click)="navigateToBack()"></p-button>
    <p-button label="{{'DEMANDDEPOSITS.SUBMIT' | translate}}" [disabled]="!producttypeform.valid" *ngIf='!isEdit'
        (click)="addOrUpdate()"> </p-button>
    <p-button label="{{'DEMANDDEPOSITS.SUBMIT' | translate}}" [disabled]="!producttypeform.valid" *ngIf='isEdit'
        (click)="addOrUpdate()"> </p-button>
</div>