<div class="col-12">
    <p-messages label="Info" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start">{{'ERP.MEMBERSHIP_CREATION' | translate}}</div>
        </div>
    </div>
    
    
        <!-- Use TabMenu instead of p-steps -->
        <div class="col-12 p-0 mt-2">
     <!-- <p-tabMenu [model]="items" [activeItem]="items[activeIndex]"  styleClass="tab-menu-style"></p-tabMenu> -->
     <p-tabMenu [model]="items" [activeItem]="items[activeIndex]"  [class.disabled]="menuDisabled && activeItem !== items"  styleClass="tab-menu-style"></p-tabMenu>
     
</div>
    <div class="col-12 bg-card min-hight65 mt-1">
        <router-outlet></router-outlet>
    </div>
</div>


<div class="col-12 btn-footer">
    <div class="col-12 d-flex justify-content-end p-0 pt-1 group-button-bottom">
        <!-- Update button logic for navigation -->
        <p-button *ngIf="activeIndex > 0 && activeIndex <=7" label="{{'ERP.PREVIOUS'|translate }}" (click)="prevStep(activeIndex)" icon="fa fa-chevron-left" iconPos="left"></p-button>
        <!-- <p-button (click)="navigateToGrid()" *ngIf="activeIndex == 0" label="{{'ERP.BACK'|translate }}"></p-button> -->
        <p-button (click)="cancel(activeIndex)" label="{{'ERP.BACK'|translate }}"></p-button>
        <p-button *ngIf="(activeIndex != 7 && activeIndex < 7)" label="{{'ERP.SAVE_AND_ NEXT'|translate }}" (click)="saveAndNext(activeIndex)" icon="fa fa-chevron-right" iconPos="right"  [disabled]="buttonDisbled"></p-button>
        <!-- <p-button *ngIf="activeIndex == 6" label="SAVE" (click)="save()"></p-button> -->
        <p-button *ngIf="activeIndex == 7" label="{{'ERP.SAVE_AND_PREVIEW'|translate }}" (click)="submit()" icon="fa fa-chevron-right" iconPos="right" [disabled]="buttonDisbled"></p-button>
    </div>
</div>
<div class="col-12"></div>
