<div class="col-12">
    <div class="stepper-top-section-strip">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                        <span>{{'DEMANDDEPOSITS.PRODUCT_NAME' | translate}}</span>
                        <p class="m-0 font-semibold text-break">{{generalConfigModel.productName}}</p>
                </div>
            </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <span>{{'DEMANDDEPOSITS.MIN_BALANCE_FOR_ACCOUNT_OPEN' | translate}}</span>
                        <p class="m-0 font-semibold text-break">{{generalConfigModel.minDepositAmountForAccountOpen}}</p>
                </div>
            </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <span>{{'DEMANDDEPOSITS.ACCOUNT_INACTIVATION_PERIOD_IN_DAYS' | translate}}</span>
                        <p class="m-0 font-semibold text-break">{{generalConfigModel.accInactiveDays}}</p>
                </div>
            </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <span>{{'DEMANDDEPOSITS.EFFECTIVE_START_DATE' | translate}}</span>
                        <p class="m-0 font-semibold text-break">{{generalConfigModel.effectiveStartDate}}</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-12"></div>
    <form [formGroup]="interestpolicyform">
        <h6 class="sub-heading">{{'DEMANDDEPOSITS.INTEREST_POLICY' | translate}}</h6>
        <div class="mt-n1  bg-label-colorfull">
                <div class="row g-3 mb-3">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                            <label for="username"><span class="red">*</span>{{'DEMANDDEPOSITS.GENERAL_ROI' | translate}}
                            </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                        formControlName="rateOfInterst" [(ngModel)]="interestPolicyModel.rateOfInterst">
                        <p-message severity="error" text="Enter Valid Rate Of Interest"
                        *ngIf="!interestpolicyform.controls['rateOfInterst'].valid && interestpolicyform.controls['rateOfInterst'].dirty">
                    </p-message>
                    </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                            <label for="username"><span class="red">*</span>{{'DEMANDDEPOSITS.SENIOR_CITIZEN_ROI' | translate}}
                            </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                        formControlName="seniorCitizenSpecificRoi" [(ngModel)]="interestPolicyModel.seniorCitizenSpecificRoi">
                        <p-message severity="error" text="Enter Valid Senior Citizen Rate Of Interest"
                        *ngIf="!interestpolicyform.controls['seniorCitizenSpecificRoi'].valid && interestpolicyform.controls['seniorCitizenSpecificRoi'].dirty">
                    </p-message>
                    </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                            <label for="username"><span class="red">*</span>{{'DEMANDDEPOSITS.WOMEN_ROI' | translate}} 
                            </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                        formControlName="womenSpecificRoi" [(ngModel)]="interestPolicyModel.womenSpecificRoi">
                        <p-message severity="error" text="Enter Valid Women Rate Of Interest"
                        *ngIf="!interestpolicyform.controls['womenSpecificRoi'].valid && interestpolicyform.controls['womenSpecificRoi'].dirty">
                    </p-message>
                    </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                            <label for="username"><span class="red">*</span>{{'DEMANDDEPOSITS.STAFF_ROI' | translate}}
                            </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                        formControlName="staffRateOfInterest" [(ngModel)]="interestPolicyModel.staffRateOfInterest">
                        <p-message severity="error" text="Enter Valid Staff Rate Of Interest"
                        *ngIf="!interestpolicyform.controls['staffRateOfInterest'].valid && interestpolicyform.controls['staffRateOfInterest'].dirty">
                    </p-message>
                    </div>
                </div>
                <!-- </div>

                <div class="row g-3 mb-3"> -->
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                            <label for="username">{{'DEMANDDEPOSITS.MIN_INTERESTING_POSTING_AMOUNT' | translate}}
                            </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                        formControlName="minInterestPostingAmount" [(ngModel)]="interestPolicyModel.minIntrestPostingAmount">
                        <p-message severity="error" text="Enter Valid Numbers"
                        *ngIf="!interestpolicyform.controls['minInterestPostingAmount'].valid && interestpolicyform.controls['minInterestPostingAmount'].dirty">
                    </p-message>
                    </div>
                </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                            <label for="username"><span class="red">*</span>{{'DEMANDDEPOSITS.MIN_BALANCE_REQUIRED_FOR_INTEREST_POSTING' | translate}}
                            </label>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                        formControlName="minSbBalReqForPosting" [(ngModel)]="interestPolicyModel.minSbBalReqForPosting">
                        <p-message severity="error" text="Enter Valid Numbers"
                        *ngIf="!interestpolicyform.controls['minSbBalReqForPosting'].valid && interestpolicyform.controls['minSbBalReqForPosting'].dirty">
                    </p-message>
                    </div>

                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                        <label><span class="red">*</span> {{'DEMANDDEPOSITS.INTERESTING_POSTING_DATE' | translate}}</label>
                            <p-calendar [showIcon]="true" formControlName="interestPostingDate" [yearNavigator]="true" yearRange="1970:2050"
          [showIcon]="true" dateFormat="{{orgnizationSetting.calendar}}" id="work_flow_start_date" 
          [(ngModel)]="interestPolicyModel.interestPostingDate" [minDate]="minDate"></p-calendar>
                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-label">
                        <label>{{'DEMANDDEPOSITS.INTEREST_POSTING_FREQUENCY' | translate}}</label>
                            <p-dropdown [options]="intpostingfrequencylist"   placeholder="select" 
                            formControlName="interestPostingFrequency" [(ngModel)]="interestPolicyModel.interestPostingFrequency"></p-dropdown>
                        </div>
                    </div>
                <!-- </div>
                <div class="row g-3 mb-3"> -->
                 
        </div>
        </div>
</form>
</div>