<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
    <form [formGroup]="communicationForm" id="exit_types_form">
        <h6 class="sub-heading">{{'LOAN_TRANSACTION.COMMUNICATION' | translate}}<span class="admission-text"></span></h6>
        <div class="col-12 bg-label-colorfull p-0">
            <div class="row g-3">
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="d-flex justify-content-between mt-xl-0 mt-lg-0 mt-4">
                        <h6 class="super-sub-heading"><span class="red">*</span>{{'LOAN_TRANSACTION.PERMANENT' | translate}}</h6>
                        
                    </div>
                    <div class="col-12 global-border">
                        <div class="col-12">
                            <div class="row g-3 mt-n1">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.STATE' | translate}}</label>
                                        <p-dropdown placeholder="{{'LOAN_TRANSACTION.SELECT' | translate}}"
                                            [options]="permanentStatesList" formControlName="permanentStateName"
                                            [(ngModel)]="saoCommunicationModel.permanentStateId"
                                            (onChange)='getAllPermanentDistrictsByStateId(saoCommunicationModel.permanentStateId,true)'></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.DISTRICT' | translate}}</label>
                                        <p-dropdown placeholder="{{'LOAN_TRANSACTION.SELECT' | translate}}"
                                            [options]="permanentDistrictList" formControlName="permanentDistrictName"
                                            [(ngModel)]="saoCommunicationModel.permanentDistrictId"
                                            (onChange)='getAllPermanentSubDistrictByDistrictId(saoCommunicationModel.permanentDistrictId,true)'></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.SUB_DISTRICT' | translate}}</label>
                                        <p-dropdown placeholder="{{'LOAN_TRANSACTION.SELECT' | translate}}"
                                            [options]="permanentSubDistrictList" formControlName="permanentSubDistrictName"
                                            [(ngModel)]="saoCommunicationModel.permanentSubDistrictId"
                                            (onChange)='getAllPermanentVillagesBySubDistrictId(saoCommunicationModel.permanentSubDistrictId,true)'></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label><span class="red">*</span>{{'LOAN_TRANSACTION.VILLAGE' | translate}}</label>
                                    <div>
                                        <p-dropdown placeholder="{{'LOAN_TRANSACTION.SELECT' | translate}}"
                                            [options]="permanentVillageList" formControlName="permanentVillageName"
                                            (onChange)='getPermanentVillage(saoCommunicationModel.permanentVillageId)'
                                            [(ngModel)]="saoCommunicationModel.permanentVillageId"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label for="username">
                                            {{'DEMANDDEPOSITS.DIVISION' | translate}}
                                        </label>
                                        <p-dropdown placeholder="{{'ERP.SELECT' | translate}}" formControlName="permanentDivisionName" [options]="divisionList"
                                        [(ngModel)]="saoCommunicationModel.permanentDivisionId" ></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label for="username">
                                            {{'DEMANDDEPOSITS.BLOCK' | translate}}
                                        </label>
                                        <p-dropdown placeholder="{{'ERP.SELECT' | translate}}"  formControlName="permanentBlockName" [options]="blockList"
                                         [(ngModel)]="saoCommunicationModel.permanentBlockId"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.ADDRESS' | translate}}</label>
                                        <textarea class="form-control" type="text" pInputTextarea formControlName="permanentAddress1"
                                            [(ngModel)]="saoCommunicationModel.permanentAddress1" [disabled]="sameAsPermanentAddress"
                                            placeholder="House No., Door No., Landmark..etc" (keyup)="RegAddressToComAddress()"></textarea>
                                        <p-message severity="error" text="Enter Valid permanent Address"
                                            *ngIf="!communicationForm.controls['permanentAddress1'].valid && communicationForm.controls['permanentAddress1'].dirty"></p-message>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.PINCODE' | translate}}</label>
                                        <input pInputText id="bunit_txt_name" type="text" formControlName="permanentPinCode"
                                            placeholder="Enter Your Pincode" minlength="6" maxlength="6" pKeyFilter="pnum"
                                            [(ngModel)]="saoCommunicationModel.permanentPinCode"  (keyup)="RegAddressToComAddress()">
                                        <p-message severity="error" text="Enter Valid Pin Code"
                                            *ngIf="!communicationForm.controls['permanentPinCode'].valid && communicationForm.controls['permanentPinCode'].dirty"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="d-flex justify-content-between mt-xl-0 mt-lg-0 mt-4">
                        <h6 class="super-sub-heading">{{'ERP.REGISTERED' | translate}}
                        </h6>
                    <div class="grid mr-3 d-flex">
                        <p-inputSwitch formControlName="isSameAddress" [(ngModel)]="saoCommunicationModel.isSameAddress"
                            (click)="sameAsPerAddr(saoCommunicationModel.isSameAddress)"></p-inputSwitch>
                        <p class="pl-1 m-0">{{'ERP.SAME_AS_REGISTERED_ADDRESS' | translate}}</p>
                    </div>
                </div>
                    <div class="col-12 global-border">
                        <div class="col-12">
                            <div class="row g-3 mt-n1">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.STATE' | translate}}</label>
                                        <p-dropdown placeholder="{{'LOAN_TRANSACTION.SELECT' | translate}}" [options]="statesList"
                                            formControlName="stateName" [(ngModel)]="saoCommunicationModel.stateId"
                                            (onChange)="getAllDistrictsByStateId(saoCommunicationModel.stateId,true)"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.DISTRICT' | translate}}</label>
                                        <p-dropdown placeholder="{{'LOAN_TRANSACTION.SELECT' | translate}}" [options]="districtsList"
                                            formControlName="districtName" [(ngModel)]="saoCommunicationModel.districtId"
                                            (onChange)='getAllSubDistrictByDistrictId(saoCommunicationModel.districtId,true)'></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.SUB_DISTRICT' | translate}}</label>
                                        <p-dropdown placeholder="{{'LOAN_TRANSACTION.SELECT' | translate}}" [options]="subDistrictList"
                                            formControlName="subDistrictName" [(ngModel)]="saoCommunicationModel.subDistrictId"
                                            (onChange)='getAllVillagesBySubDistrictId(saoCommunicationModel.subDistrictId,true)'></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.VILLAGE' | translate}}</label>
                                        <p-dropdown placeholder="{{'LOAN_TRANSACTION.SELECT' | translate}}" [options]="villageList"
                                            formControlName="villageName" (onChange)='getVillage(saoCommunicationModel.villageId)'
                                            [(ngModel)]="saoCommunicationModel.villageId"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label for="username">
                                            {{'DEMANDDEPOSITS.DIVISION' | translate}}
                                        </label>
                                        <p-dropdown placeholder="{{'ERP.SELECT' | translate}}" formControlName="divisionName" [options]="divisionList"
                                        [(ngModel)]="saoCommunicationModel.divisionId" ></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label for="username">
                                            {{'DEMANDDEPOSITS.BLOCK' | translate}}
                                        </label>
                                        <p-dropdown placeholder="{{'ERP.SELECT' | translate}}"  formControlName="blockName" [options]="blockList"
                                         [(ngModel)]="saoCommunicationModel.blockId"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.ADDRESS' | translate}}</label>
                                        <textarea type="text" class="form-control" pInputTextarea formControlName="address1"
                                             [(ngModel)]="saoCommunicationModel.address1"
                                            placeholder="House No., Door No., Landmark..etc"></textarea>
                                        <p-message severity="error" text="Enter Valid address"
                                            *ngIf="!communicationForm.controls['address1'].valid && communicationForm.controls['address1'].dirty"></p-message>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'LOAN_TRANSACTION.PINCODE' | translate}}</label>
                                        <input pInputText id="bunit_txt_name" type="text" formControlName="pincode"
                                            placeholder="Enter Your Pincode" minlength="6" maxlength="6" pKeyFilter="pnum"
                                            [(ngModel)]="saoCommunicationModel.pincode">
                                        <p-message severity="error" text="Enter Valid Pin Code"
                                            *ngIf="!communicationForm.controls['pincode'].valid && communicationForm.controls['pincode'].dirty"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
               
        </div>
        </div>
    </form>
</div>