<div class="col-12">
<p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
<div class="stepper-top-section-strip">
    <div class="row ">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <span>{{'BORROWINGSTRANSACTIONS.PRODUCT_NAME' | translate}} </span>
            <p class="m-0 font-semibold text-break">{{ciProductDefinitionModel.name}}</p>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12 viewcustom-input-number inputnumberht-5px">
            <span>{{'BORROWINGSTRANSACTIONS.MINIMUM_AMOUNT' | translate}}</span>
            <p-inputNumber id="bunit_txt_name" [(ngModel)]="ciProductDefinitionModel.minAmount" mode="currency" inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12 viewcustom-input-number inputnumberht-5px">
            <span>{{'BORROWINGSTRANSACTIONS.MAXIMUM_AMOUNT' | translate}} </span>
            <p-inputNumber id="bunit_txt_name" [(ngModel)]="ciProductDefinitionModel.maxAmount" mode="currency" inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <span>{{'BORROWINGSTRANSACTIONS.EFFECTIVE_START_DATE' | translate}} </span>
            <p class="m-0 font-semibold text-break">{{ciProductDefinitionModel.effectiveStartDate}}</p>
        </div>
    </div>
</div>

<div class="col-12"></div>
       
        <form [formGroup]="interestPolicyForm" id="proj_stakeholder_form">
            <div class="flex justify-content-between py-2">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="sub-heading mt-1">{{'BORROWINGSTRANSACTIONS.INTEREST_POLICY' | translate}}</div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="col-12 p-0">
                        <div class="d-flex justify-content-end search-input-style">
                            <div class="input-group search-box d-flex justify-content-end">
                                <div class="input-group search-box d-flex justify-content-end">
                                    <div class="search">
                                        <span class="p-input-icon-right">
                                            <i class="pi pi-search global-search-icon"></i>
                                            <input autocomplete="off" type="text" id="skill_category_txt_search" pInputText
                                            placeholder="Search" class="searchbox"
                                            #searchInput (input)="dt.filterGlobal(searchInput.value, 'contains')">
                                        </span>
                                    </div>
                                </div>
                            </div>
        
                            <p-button (click)="addInlineRow()" label="Add" icon="fa fa-plus" iconPos="left"
                                id="add_btn" [disabled]="addButton"> </p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="globel-border-top-color"></div>
            <p-table #dt [value]="intrestPolicyList"  dataKey="id" editMode="row"
            styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true"
            [showPageLinks]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single"
             [globalFilterFields]="['tenureType','minSlabAmount','roi','employeeConcession','seniorCitizenConcession','penalInterest']">
            <ng-template pTemplate="header">
                    <tr>
                       <th><span class="red">*</span> {{'BORROWINGSTRANSACTIONS.TENURE_TYPE' | translate}}</th> 
                       <th><span class="red">*</span> {{'BORROWINGSTRANSACTIONS.MIN_SLAB_AMOUNT' | translate}}</th> 
                       <th><span class="red">*</span> {{'BORROWINGSTRANSACTIONS.MAX_SLAB_AMOUNT' | translate}}</th> 
                       <th><span class="red">*</span> {{'BORROWINGSTRANSACTIONS.GENERAL_ROI' | translate}}</th>
                       <th><span class="red">*</span> {{'BORROWINGSTRANSACTIONS.STAFF_ROI' | translate}}</th>
                       <th><span class="red">*</span> {{'BORROWINGSTRANSACTIONS.SENIOR_CITIZEN_ROI' | translate}}</th>
                       <th><span class="red">*</span> {{'BORROWINGSTRANSACTIONS.PENAL_ROI' | translate}}</th>
                       <th class="width-15em">{{'BORROWINGSTRANSACTIONS.ACTION' | translate}}</th>

                    </tr>
                    
                </ng-template>
                <ng-template pTemplate="body" let-ciInterestPolicyConfigModel let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="ciInterestPolicyConfigModel">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="tenureTypeList" formControlName="tenureType"
                                        [(ngModel)]="ciInterestPolicyConfigModel.tenureType" [appendTo]="'body'"
                                        placeholder="select" (onChange)="tenuretypeDuplicateCheck(ciInterestPolicyConfigModel.tenureType)"
                                        ></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ ciInterestPolicyConfigModel.tenureTypeName}}
                                </ng-template>
                            </p-cellEditor>
                        </td>          
                       

                   

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="ciInterestPolicyConfigModel.minSlabAmount"
                                    (blur)="checkForAmount('minSlabAmount')" formControlName="minSlabAmount">   
                                </ng-template>
                                <ng-template pTemplate="output">{{ciInterestPolicyConfigModel.minSlabAmount}}</ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="ciInterestPolicyConfigModel.maxSlabAmount"
                                    (blur)="checkForAmount('maxSlabAmount')" formControlName="maxSlabAmount">
                                </ng-template>
                                <ng-template pTemplate="output">{{ciInterestPolicyConfigModel.maxSlabAmount}}</ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="ciInterestPolicyConfigModel.roi" formControlName="roi" pKeyFilter="num">
                                    <p-message severity="error" text="Enter Valid Rate Of Interest"
                         *ngIf="!interestPolicyForm.controls['roi'].valid && interestPolicyForm.controls['roi'].dirty">
                       </p-message>
                                </ng-template>
                                <ng-template pTemplate="output">{{ciInterestPolicyConfigModel.roi}}</ng-template>
                            </p-cellEditor>
                        </td>

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="ciInterestPolicyConfigModel.employeeConcession" formControlName="employeeConcession" pKeyFilter="num">
                                    <p-message severity="error" text="Enter Valid Rate Of Interest"
                         *ngIf="!interestPolicyForm.controls['employeeConcession'].valid && interestPolicyForm.controls['employeeConcession'].dirty">
                       </p-message>
                                </ng-template>
                                <ng-template pTemplate="output">{{ciInterestPolicyConfigModel.employeeConcession}}</ng-template>
                            </p-cellEditor>
                        </td>
                       
                      
                      

                            <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="ciInterestPolicyConfigModel.seniorCitizenConcession" formControlName="seniorCitizenConcession" pKeyFilter="num">
                                    <p-message severity="error" text="Enter Valid Rate Of Interest"
                         *ngIf="!interestPolicyForm.controls['seniorCitizenConcession'].valid && interestPolicyForm.controls['seniorCitizenConcession'].dirty">
                       </p-message>
                                </ng-template>
                                <ng-template pTemplate="output">{{ciInterestPolicyConfigModel.seniorCitizenConcession}}</ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="ciInterestPolicyConfigModel.penalInterest" formControlName="penalInterest" pKeyFilter="num">
                                    <p-message severity="error" text="Enter Valid Staff Rate Of Interest"
                         *ngIf="!interestPolicyForm.controls['penalInterest'].valid && interestPolicyForm.controls['penalInterest'].dirty">
                       </p-message>
                                </ng-template>
                                <ng-template pTemplate="output">{{ciInterestPolicyConfigModel.penalInterest}}</ng-template>
                            </p-cellEditor>
                        </td>
                      
                    
                        <td>
                            <div class="global-action-btn flex align-items-center justify-content-center">
                            <p-button *ngIf="editing"   [disabled]="!interestPolicyForm.valid" (click)="saveInlineRow(ciInterestPolicyConfigModel)" pSaveEditableRow id="prj_stakehlder_bt_cancel"  label="{{'BORROWINGSTRANSACTIONS.SAVE'|translate }}" class="action-save">
                            </p-button>
                            <p-button *ngIf="editing" (click)="onRowEditCancel()" pCancelEditableRow id="prj_stakehlder_bt_cancel" label="{{'BORROWINGSTRANSACTIONS.CANCEL'|translate }}" class="action-delete">
                            </p-button>
                            <p-button *ngIf="!editing"  (click)="editInlineRow(ciInterestPolicyConfigModel)" pInitEditableRow  id="prj_stakehlder_bt_edit" [disabled]="editDeleteDisable" label="{{'BORROWINGSTRANSACTIONS.EDIT' | translate}}" 
                                class='action-edit'></p-button>
                            </div>
                        </td>
                        
                    </tr>
                </ng-template>
            </p-table>
            <div class="col-12 margtop-3rem"></div>
        </form>
        <div class="col-12"></div>
       
        <form [formGroup]="collectionApportionOrderForm" id="proj_stakeholder_forms">
            <div class="flex justify-content-between py-2">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="sub-heading mt-1">{{'BORROWINGSTRANSACTIONS.COLLECTION_APPORTION_ORDER' | translate}}</div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="col-12 p-0">
                        <div class="d-flex justify-content-end search-input-style">
                            <div class="input-group search-box d-flex justify-content-end">
                                <div class="input-group search-box d-flex justify-content-end">
                                    <div class="search">
                                        <span class="p-input-icon-right">
                                            <i class="pi pi-search global-search-icon"></i>
                                            <input autocomplete="off" type="text" id="skill_category_txt_search" pInputText
                                            placeholder="Search" class="searchbox"
                                            #searchInput (input)="cv.filterGlobal(searchInput.value, 'contains')">
                                        </span>
                                    </div>
                                </div>
                            </div>
        
                            <p-button (click)="addInlineRowApportionOrder()" label="Add" icon="fa fa-plus" iconPos="left"
                                id="add_btns" [disabled]="addButtonForApportion"> </p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="globel-border-top-color"></div>
            <p-table #cv [value]="apportionOrderList"  dataKey="id" editMode="row"
            styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true"
            [showPageLinks]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single"
             [globalFilterFields]="['collectionCompenentId','order','effectiveStartDate']">
            <ng-template pTemplate="header">
                    <tr>
                        <th><span class="red">*</span> {{'BORROWINGSTRANSACTIONS.COLLECTION_COMPONENT' | translate}}</th>
                        <th><span class="red">*</span> {{'BORROWINGSTRANSACTIONS.ORDER' | translate}}</th>
                        <th class="width-15em">{{'BORROWINGSTRANSACTIONS.ACTION' | translate}}</th>
                    </tr>
                    
                </ng-template>
                <ng-template pTemplate="body" let-ciCollectionApportionOrderModel let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="ciCollectionApportionOrderModel">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="collectionApportionList" formControlName="collectionCompenentId"
                                        [(ngModel)]="ciCollectionApportionOrderModel.collectionCompenentId" [appendTo]="'body'"
                                        placeholder="select"  (onChange)="CollectiontypeDuplicateCheck(ciCollectionApportionOrderModel.collectionCompenentId)"
                                        ></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ ciCollectionApportionOrderModel.collectionCompenentName}}
                                </ng-template>
                            </p-cellEditor>
                        </td>             

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="ciCollectionApportionOrderModel.order" formControlName="order">
                                    
                                </ng-template>
                                <ng-template pTemplate="output">{{ciCollectionApportionOrderModel.order}}</ng-template>
                            </p-cellEditor>
                        </td>
                       
                        <td>
                            <div class="global-action-btn flex align-items-center justify-content-center">
                         
                            <p-button *ngIf="editing"   [disabled]="!collectionApportionOrderForm.valid" (click)="saveInlineRowForApportionOrder(ciCollectionApportionOrderModel)" pSaveEditableRow id="prj_stakehlder_bt_cancel"  label="{{'BORROWINGSTRANSACTIONS.SAVE'|translate }}" class="action-save">
                            </p-button>
                            <p-button *ngIf="editing" (click)="onRowEditCancelForApportionOrder()" pCancelEditableRow id="prj_stakehlder_bt_cancel" label="{{'BORROWINGSTRANSACTIONS.CANCEL' | translate }}" class="action-cancel">
                            </p-button>
                            <p-button *ngIf="!editing"  (click)="editInlineRowForApportionOrder(ciCollectionApportionOrderModel)" pInitEditableRow  id="prj_stakehlder_bt_edit" [disabled]="editDeleteDisableForApportion" label="{{'BORROWINGSTRANSACTIONS.EDIT' | translate}}" 
                                class='action-edit'></p-button>
                            </div>
                        </td>
                        
                    </tr>
                </ng-template>
            </p-table>
            <div class="col-12 margtop-3rem"></div>
        </form>
</div> 