<div class="col-12">
    <form [formGroup]="communicationForm">
        <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.COMMUNICATION' | translate}}</h6>
        <!-- <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.COMMUNICATION' | translate}}<span class="admission-text">(Admission
                number:&nbsp;{{admissionNumber}})</span></h6> -->
        <div class="col-12 bg-label-colorfull p-0">
            <div class="row g-3">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <!-- <div class="col-12"> -->
                    <div class="d-flex justify-content-between mt-xl-0 mt-lg-0 mt-4">
                        <h6 class="super-sub-heading">{{'TERMDEPOSITSTRANSACTION.PERMANENT' | translate}}</h6>

                    </div>
                    <div class="col-12 global-border">
                        <div class="col-12">
                            <div class="row g-3 mt-n1">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.STATE' |
                                            translate}}</label>
                                        <p-dropdown [options]="permanentStatesList" placeholder="Select"
                                            formControlName="permanentStateId"
                                            [(ngModel)]="fdCumulativeCommunicationModel.permanentStateId"
                                            (onChange)='getAllPermanentDistrictsByStateId(fdCumulativeCommunicationModel.permanentStateId,true)'></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.DISTRICT' |
                                            translate}}</label>

                                        <p-dropdown [options]="permenentDistrictList" placeholder="Select "
                                            formControlName="permanentDistrictId"
                                            [(ngModel)]="fdCumulativeCommunicationModel.permanentDistrictId"
                                            (onChange)='getAllPermanentMandalsByDistrictId(fdCumulativeCommunicationModel.permanentDistrictId,true)'></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span> {{'TERMDEPOSITSTRANSACTION.MANDAL/TESHIL' |
                                            translate}}</label>

                                        <p-dropdown [options]="permenentSubDistrictList"
                                            placeholder="{{'TERMDEPOSITSTRANSACTION.SELECT' | translate}}"
                                            formControlName="permanentSubDistrictId"
                                            [(ngModel)]="fdCumulativeCommunicationModel.permanentSubDistrictId"
                                            (onChange)='getAllPermanentVillagesByMandalId(fdCumulativeCommunicationModel.permanentSubDistrictId,true)'></p-dropdown>

                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.VILLAGE' |
                                            translate}} </label>

                                        <p-dropdown [options]="permenentVillageList" placeholder="Select "
                                            formControlName="permanentVillageId"
                                            [(ngModel)]="fdCumulativeCommunicationModel.permanentVillageId"
                                            (onChange)='getPermanentVillage(fdCumulativeCommunicationModel.permanentVillageId)'></p-dropdown>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-label">
                                        <label for="username">
                                            {{'TERMDEPOSITSTRANSACTION.DIVISION' | translate}}
                                        </label>
                                        <input pInputText id="bunit_txt_name" type="text"
                                            formControlName="permanentDivision"
                                            [(ngModel)]="this.fdCumulativeCommunicationModel.permanentDivisionName">
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-label">
                                        <label for="username">
                                            {{'TERMDEPOSITSTRANSACTION.BLOCK' | translate}}
                                        </label>
                                        <input pInputText id="bunit_txt_name" type="text"
                                            formControlName="permanentBlock"
                                            [(ngModel)]="this.fdCumulativeCommunicationModel.permanentBlockName">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label for="code"><span class="red">*</span>
                                            {{'TERMDEPOSITSTRANSACTION.ADDRESS' | translate}}
                                        </label>

                                        <textarea type="text" class="form-control" pInputTextarea
                                            formControlName="permanentAddress1"
                                            placeholder="House No., Door No., Landmark..etc"
                                            [(ngModel)]="fdCumulativeCommunicationModel.permanentAddress1"
                                            (keyup)="RegAddressToComAddress()"
                                            [disabled]="sameAsPermanentAddress"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label for="username"><span
                                                class="red">*</span>{{'TERMDEPOSITSTRANSACTION.PINCODE' | translate}}
                                        </label>

                                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                                            placeholder="Enter Pincode" formControlName="permanentPinCode"
                                            (keyup)="RegAddressToComAddress()"
                                            [(ngModel)]="fdCumulativeCommunicationModel.permanentPinCode">
                                        <p-message severity="error" text="Enter Valid pinCode"
                                            *ngIf="!communicationForm.controls['permanentPinCode'].valid && communicationForm.controls['permanentPinCode'].dirty">
                                        </p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="d-flex justify-content-between mt-xl-0 mt-lg-0 mt-4">
                        <h6 class="super-sub-heading">{{'TERMDEPOSITSTRANSACTION.COMMUNICATION_ADDRESS' | translate}}
                        </h6>
                        <div class="grid mr-3 d-flex">
                            <p-inputSwitch formControlName="isSameAddress"
                                [(ngModel)]="fdCumulativeCommunicationModel.isSameAddress"
                                (click)="sameAsPerAddr(fdCumulativeCommunicationModel.isSameAddress)"></p-inputSwitch>
                            <p class="pl-1 m-0">{{'TERMDEPOSITSTRANSACTION.SAME_AS_PERMANENT_ADDRESS' | translate}}</p>
                        </div>
                    </div>

                    <div class="col-12 global-border">
                        <div class="col-12">
                            <div class="row g-3 mt-n1">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.STATE' |
                                            translate}}</label>

                                        <p-dropdown [filter]="true" [options]="statesList" placeholder="Select"
                                            formControlName="stateName"
                                            [(ngModel)]="fdCumulativeCommunicationModel.stateId"
                                            (onChange)="getAllDistrictsByStateId(fdCumulativeCommunicationModel.stateId,true)"></p-dropdown>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.DISTRICT' |
                                            translate}}</label>

                                        <p-dropdown [filter]="true" [options]="districtsList" placeholder="Select"
                                            formControlName="districtId"
                                            [(ngModel)]="fdCumulativeCommunicationModel.districtId"
                                            (onChange)="getAllMandalsByDistrictId(fdCumulativeCommunicationModel.districtId,true)"></p-dropdown>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.MANDAL/TESHIL' |
                                            translate}} </label>

                                        <p-dropdown [filter]="true" [options]="mandalsList" placeholder="Select"
                                            formControlName="subDistrictId"
                                            [(ngModel)]="fdCumulativeCommunicationModel.subDistrictId"
                                            (onChange)="getAllVillagesByMandalId(fdCumulativeCommunicationModel.subDistrictId,true)"></p-dropdown>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.VILLAGE' |
                                            translate}} </label>

                                        <p-dropdown [filter]="true" [options]="villageList" placeholder="Select"
                                            formControlName="villageId"
                                            (onChange)='getVillage(fdCumulativeCommunicationModel.villageId)'
                                            [(ngModel)]="fdCumulativeCommunicationModel.villageId"></p-dropdown>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-label">
                                        <label for="username">
                                            {{'TERMDEPOSITSTRANSACTION.DIVISION' | translate}}
                                        </label>
                                        <input pInputText id="bunit_txt_name" type="text" formControlName="division"
                                            [(ngModel)]="this.fdCumulativeCommunicationModel.divisionName">
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-label">
                                        <label for="username">
                                            {{'TERMDEPOSITSTRANSACTION.BLOCK' | translate}}
                                        </label>
                                        <input pInputText id="bunit_txt_name" type="text" formControlName="block"
                                            [(ngModel)]="this.fdCumulativeCommunicationModel.blockName">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.ADDRESS' |
                                            translate}}</label>
                                        <textarea type="text" class="form-control" pInputTextarea
                                            placeholder="House No., Door No., Landmark..etc" formControlName="address1"
                                            [(ngModel)]="fdCumulativeCommunicationModel.address1"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-label">
                                        <label for="username"><span
                                                class="red">*</span>{{'TERMDEPOSITSTRANSACTION.PINCODE' | translate}}
                                        </label>
                                        <input pInputText id="bunit_txt_name" maxlength="40" type="text"
                                            formControlName="pinCode" placeholder="Enter Pincode"
                                            [(ngModel)]="fdCumulativeCommunicationModel.pinCode">
                                        <p-message severity="error" text="Enter Valid pinCode"
                                            *ngIf="!communicationForm.controls['pinCode'].valid && communicationForm.controls['pinCode'].dirty">
                                        </p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>