
<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs"></p-messages> 
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 py-2">
        <div class="main-heading mt-1">{{'ERP.DENOMINATION_TYPES' | translate}}</div>
    </div>
    <div class="col-12 bg-card bg-label-colorfull px-1 pb-0">
        <form [formGroup]="denominationform">
            <div class="col-12">
            <div class="col-12">
                <div class="row mt-n1">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.NAME' | translate}}</label>
                    <div>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="name"
                        [(ngModel)]="denominationModel.name">
                        
        
                    </div>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.VALUE' | translate}}</label>
                    <div>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="value"
                        [(ngModel)]="denominationModel.value">
                        <p-message severity="error" text="Enter Valid Values"
                        *ngIf="!denominationform.controls['value'].valid && denominationform.controls['value'].dirty">
                      </p-message>
                       
        
                    </div>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pt-4">
                    <div class="form-label">
                <p-checkbox [binary]="true" inputId="binary"
                [(ngModel)]="denominationModel.isCoin" (onChange)="onSelectCheckBox($event)" formControlName="iscoin"></p-checkbox>
                            <span class="mt-2">&nbsp;&nbsp;{{'ERP.IS_COIN' | translate}}</span>
                        </div>
                    </div>
           
            </div>
           
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label>{{'ERP.DESCRIPTION' | translate}}</label>
                    <div>
                        <textarea type="text" class="form-control" pInputTextarea
                        formControlName="description" 
                        [(ngModel)]="denominationModel.description" maxlength="150"></textarea>
                    </div>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.STATUS' | translate}}</label>
                        <p-dropdown [options]="statusList" placeholder="Select" formControlName="status"
                        [(ngModel)]="denominationModel.status"></p-dropdown>
                    </div>
                </div>
            
            </div>
            </div>
            </div>
        </form>

    </div>
</div>

<div class="col-12 d-flex justify-content-end">
    <p-button label="{{'ERP.BACK' | translate}}" (click)="navigateToBack()"></p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!denominationform.valid" *ngIf='!isEdit'
        (click)="addOrUpdate()"> </p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!denominationform.valid" *ngIf='isEdit'
        (click)="addOrUpdate()"> </p-button>
</div>
