<div class="col-12">
    <p-messages label="Info" life="4000" [(value)]="msgs"></p-messages>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 py-2">
        <div class="main-heading mt-1">{{'MEMBERSHIPCONFIG.UOM_CALCULATION' | translate}}</div>
    </div>
    <div class="col-12 bg-card bg-label-colorfull px-1 pb-0">
    <form [formGroup]="uomCalculationsform">
        <div class="col-12">
            <div class="col-12">
        <div class="row mt-n1">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="code"> <span class="red">*</span>
                        {{'MEMBERSHIPCONFIG.SOURCE_UOM' | translate}}
                    </label>
                
                <p-dropdown [options]="uomList" formControlName="sourceUomName"
                    [(ngModel)]="uomCalculationsModel.sourceUomId" placeholder="Select" (focusout)="sourceAndDestinationCalculation(uomCalculationsModel)"></p-dropdown>
            </div>
        </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="username"> <span class="red">*</span>{{'MEMBERSHIPCONFIG.SOURCE_NO' | translate}}
                    </label>
                
                <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="sourceNumberOfUnits"
                    [(ngModel)]="uomCalculationsModel.sourceNumberOfUnits" (focusout)="sourceAndDestinationCalculation(uomCalculationsModel)" >
            </div>
        </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="code"> <span class="red">*</span>
                        {{'MEMBERSHIPCONFIG.DESTINATION_UOM' | translate}}
                    </label>
                
                <p-dropdown [options]="filteredUomList" formControlName="destinationUomName"
                    [(ngModel)]="uomCalculationsModel.destinationUomId" placeholder="Select" (focusout)="sourceAndDestinationCalculation(uomCalculationsModel)"></p-dropdown>
            </div>
        </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="username"> <span class="red">*</span>{{'MEMBERSHIPCONFIG.DESTINATION_NO' | translate}}
                    </label>
                
                <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="destinationNumberOfUnits"
                    [(ngModel)]="uomCalculationsModel.destinationNumberOfUnits" (focusout)="sourceAndDestinationCalculation(uomCalculationsModel)">
            </div>
        </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="code">
                        {{'MEMBERSHIPCONFIG.EQUATION' | translate}}
                    </label>
               
                <textarea type="text" class="form-control" pInputTextarea formControlName="equation"
                    [(ngModel)]="uomCalculationsModel.equation" placeholder="Enter Equation"></textarea>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="code">
                        <span class="red">*</span>{{'MEMBERSHIPCONFIG.STATUS' | translate}}
                    </label>
                
                <p-dropdown [options]="statusList" formControlName="statusName"
                    [(ngModel)]="uomCalculationsModel.status" placeholder="Select"></p-dropdown>
            </div>
        </div>
        </div>
        </div>
        </div>
    </form>
    </div>
</div>

<div class="col-12 d-flex justify-content-end">
    <p-button label="{{'MEMBERSHIPCONFIG.BACK' | translate}}" (click)="navigateToBack()"></p-button>
    <p-button label="{{'MEMBERSHIPCONFIG.SUBMIT' | translate}}" [disabled]= "!uomCalculationsform.valid" *ngIf='!isEdit' (click)="addOrUpdate()"> </p-button>
    <p-button label="{{'MEMBERSHIPCONFIG.SUBMIT' | translate}}" [disabled]= "!uomCalculationsform.valid" *ngIf='isEdit' (click)="addOrUpdate()"> </p-button>
</div>
