<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <div class="row justify-content-between top-header-section px-0">
        <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 main-heading mt-1 mb-2 justify-content-start">
            {{'LOANS.TERM_LOANS' | translate}} <i
                class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'ERP.CREATE_ACCOUNT' | translate}}</div>
        <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 justify-content-end view-popup-top">
            <div class="d-flex pull-right">
                <div class="col-auto">
                    <!-- <p-inputSwitch [(ngModel)]="showForm" (onChange)="onChange()"
                        [disabled]="memberDropDownDisable"></p-inputSwitch> -->

                    <p-inputSwitch [(ngModel)]="showForm" (onChange)="onChange()"
                        [disabled]="isNewMemberCreation"></p-inputSwitch>
                </div>
                <div class="col-auto">
                    <p class="mt-1 px-2">{{'LOANS.ADD_B_CLASS_MEMBERSHIP' | translate}}</p>
                </div>
                <p-button class="ml-3" icon="fa fa-download" label="Application"></p-button>
            </div>
        </div>
    </div>
    <div class="col-12 p-0 mt-2">
        <div class="row g-3">
            <!-- left side menu -->
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 left-sidecard"
                *ngIf="(showForm && activeIndex>0) || !showForm">
                <div class="col-12 membership-side-card">
                    <div class="col-12">
                        <h5 class="transaction-side-card-header">{{'ERP.BASIC_DETAILS' | translate}}</h5>
                    </div>
                    <div class="col-12 py-0" *ngIf=!showForm>
                        <p class="text-fontwt mb-2">{{'ERP.ADMISSION_DETAILS' | translate}}</p>
                        <p-dropdown [options]="allTypesOfmembershipList" [filter]="true"
                            placeholder="Please Enter Admission Number"
                            [(ngModel)]="membershipBasicRequiredDetailsModel.admissionNumber"
                            [disabled]="memberDropDownDisable"
                            (onChange)="OnChangeAdmissionNumber(membershipBasicRequiredDetailsModel.admissionNumber)"></p-dropdown>
                    </div>

                    <div class="col-12 individual-basic" *ngIf="individualFlag">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-3 col-sm-4 col-xs-4">
                                <div class="col-12 pic-sig-status">
                                    <div class="col-12 pic-sig-status">
                                        <div class="d-flex justify-content-center mb-3"  >
                                            <div *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy">
                                                <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                    *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                    <img src="{{img.imageValue}}" class="image-user cursor-pointer">
                                                </span>
                                            </div>
                                            <div *ngIf="membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy == null || membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy == undefined">
                                                <img src="assets/images/no-image.jpg" (click)="onClickMemberPhotoCopy()" class="image-user cursor-pointer">
                                            </div>
                                            <p class="active-status"></p>
                                            <div *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath">
                                                <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                    *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                    <img src="{{img.imageValue}}" class="image-sign cursor-pointer">
                                                </span>
                        
                                            </div>
                                            <div *ngIf = "membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath == null || membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath == undefined">
                                                <img src="assets/images/no-file.jpg" (click)="onClickMemberPhotoCopy()" class="image-sign cursor-pointer">
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="text-center min-h-50px">
                                    <span class="text-fontwt">{{'LOAN_TRANSACTION.NAME' | translate}}</span>
                                    <p class="font-semibold text-break">{{membershipBasicRequiredDetailsModel.name}}</p>
                                </div>
                                <div class="text-center min-h-50px">
                                    <span class="text-fontwt">{{'LOAN_TRANSACTION.ADMISSION_NUMBER' | translate}}</span>
                                    <p class="font-semibold text-break">
                                        {{membershipBasicRequiredDetailsModel.tempAdmissionNumber}}</p>
                                </div>
                            </div>
                            
                            <div class="col-xl-12 col-lg-12 col-md-9 col-sm-8 col-xs-8 mt-2">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipBasicRequiredDetailsModel.memberTypeName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                        <p class="label-input-text">
                                            {{membershipBasicRequiredDetailsModel.admissionDateVal }}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.DATE_OF_BIRTH' | translate}} &
                                            {{'ERP.AGE' | translate}}</p>
                                        <p class="label-input-text">{{membershipBasicRequiredDetailsModel.dobVal}} &
                                            {{membershipBasicRequiredDetailsModel.age}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.CONTACT' | translate}}</p>
                                        <p class="label-input-text">{{membershipBasicRequiredDetailsModel.mobileNumber}}
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.EMAIL' | translate}}</p>
                                        <p class="label-input-text">{{membershipBasicRequiredDetailsModel.emailId}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.AADHAR' | translate}}</p>
                                        <p class="label-input-text">{{membershipBasicRequiredDetailsModel.aadharNumber}}
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.PAN_NO' | translate}}</p>
                                        <p class="label-input-text">{{membershipBasicRequiredDetailsModel.panNumber}}
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="membershipBasicRequiredDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">
                                                    {{membershipBasicRequiredDetailsModel.isKycApproved}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i class="fa fa-check-circle"
                                                aria-hidden="true"></i></div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="!membershipBasicRequiredDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">
                                                    {{membershipBasicRequiredDetailsModel.isKycApproved}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i
                                                class="fa fa-check-circle text-white" aria-hidden="true"></i></div>
                                    </div>

                                    <div class="col-12 color-light justify-content-end text-right">
                                        <a class="fst-italic text-light cursor-pointer"
                                            (click)="onClickMemberIndividualMoreDetails()">{{'ERP.MORE_DETAILS' |
                                            translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 group-basic" *ngIf="groupFlag">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-3 col-sm-4 col-xs-4">
                                <div class="col-12 pic-sig-status">
                                    <div class="d-flex justify-content-center mb-3">
                                        <img src="assets/images/avatar-table.png" class="image-user">
                                        <p class="active-status"></p>
                                        <img src="assets/images/sign.png" class="image-sign">
                                    </div>

                                </div>
                                <div class="text-center min-h-50px">
                                    <span class="text-fontwt">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                                    <p class="font-semibold text-break"> {{memberGroupDetailsModel.tempAdmissionNumber}}</p>
                                </div>
                                <div class="text-center min-h-50px">
                                    <span class="text-fontwt">{{'ERP.NAME' | translate}}</span>
                                    <p class="font-semibold text-break"><span
                                            class="border-bottom">{{memberGroupDetailsModel.groupName}}</span>
                                    </p>

                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-9 col-sm-8 col-xs-8 mt-2">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.memberTypeName}}</p>

                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.admissionDateVal}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.REGISTERED_DATE' | translate}} </p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.registrationDateVal}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.POC_NAME' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.pocName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.POC_MOBILE_NO' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.pocNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.PAN_NO' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.panNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.TAN' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupDetailsModel.tanNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="!memberGroupDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">{{memberGroupDetailsModel.isKycApproved}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i
                                                class="fa fa-check-circle text-secondary" aria-hidden="true"></i></div>

                                    </div>
                                    <div class="col-12 color-light justify-content-end text-right">
                                        <a class="fst-italic text-light cursor-pointer"
                                            (click)="onClickOfGroupMoreDetails()">{{'ERP.MORE_DETAILS' | translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 instution-basic" *ngIf="institutionFlag">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-3 col-sm-4 col-xs-4">
                                <div class="col-12 pic-sig-status">
                                    <div class="d-flex justify-content-center mb-3">
                                        <img src="assets/images/avatar-table.png" class="image-user">
                                        <p class="active-status"></p>
                                        <img src="assets/images/sign.png" class="image-sign">
                                    </div>
                                </div>
                                <div class="text-center min-h-50px">
                                    <span class="text-fontwt">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                                    <p class="font-semibold text-break">
                                        {{membershipInstitutionDetailsModel.tempAdmissionNumber}}</p>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-9 col-sm-8 col-xs-8 mt-2">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                        <p class="font-semibold m-0">
                                            {{membershipInstitutionDetailsModel.memberTypeName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                        <p class="font-semibold m-0">
                                            {{membershipInstitutionDetailsModel.admissionDateVal}}</p>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.REGISTERED_DATE' | translate}} </p>
                                        <p class="font-semibold m-0">
                                            {{membershipInstitutionDetailsModel.registrationDateVal}} </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.POC_NAME' | translate}}</p>
                                        <p class="font-semibold m-0">{{membershipInstitutionDetailsModel.pocName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.POC_NUMBER' | translate}}</p>
                                        <p class="font-semibold m-0">{{membershipInstitutionDetailsModel.pocNumber}}
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                        <p class="label-view text-fontwt">{{'ERP.PAN_NUMBER' | translate}}</p>
                                        <p class="font-semibold m-0">{{membershipInstitutionDetailsModel.panNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                        *ngIf="!membershipInstitutionDetailsModel.isKycApproved">
                                        <div class="col-10 d-flex p-0">
                                            <div>
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">
                                                    {{membershipInstitutionDetailsModel.isKycApproved}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 kyc-done icon-size text-right"><i
                                                class="fa fa-check-circle text-secondary" aria-hidden="true"></i></div>

                                    </div>
                                    <div class="col-12 color-light justify-content-end text-right">
                                        <a class="fst-italic text-light cursor-pointer"
                                            (click)="onClickInstitutionMoreDetails()">{{'ERP.MORE_DETAILS' |
                                            translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 m-0" *ngIf ="showForm && activeIndex<1">
                <p-tabMenu [model]="items" [activeItem]="items[activeIndex]"
                    [class.disabled]="menuDisabled" styleClass="tab-menu-style"></p-tabMenu>
                <div class="col-12 p-2 bg-card min-hight65">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-12 btn-footer px-0">
                    <div class="col-12 d-flex justify-content-end group-button-bottom px-0 mt-1">
                        <p-button *ngIf="activeIndex==0" label="BACK" (click)="back()"></p-button>
                        <p-button *ngIf="activeIndex>0 &&  activeIndex<=9" label="PREVIOUS" icon="fa fa-chevron-left"
                            iconPos="left" [disabled]="previouseButtonDisable"  (click)="prevStep(activeIndex)"></p-button>
                        <p-button *ngIf="activeIndex != 0" label="CANCEL" (click)="cancel()"></p-button>
                        <p-button *ngIf="(activeIndex!=9 && activeIndex<9)" label="SAVE & NEXT" [disabled]="buttonDisabled"
                            icon="fa fa-chevron-right" iconPos="right" (click)="nextStep(activeIndex)"></p-button>
                        <p-button *ngIf="activeIndex==9" label="SAVE & PREVIEW" (click)="navigateToPreview()" [disabled]="buttonDisabled"
                            icon="fa fa-chevron-right" iconPos="right"></p-button>
                    </div>
                </div>
            </div>
             <!--if existed member creation-->
             <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 right-sidecard" *ngIf ="(showForm && activeIndex>0) || !showForm">
                <p-tabMenu [model]="items" [activeItem]="items[activeIndex]"
                    [class.disabled]="menuDisabled" styleClass="tab-menu-style"></p-tabMenu>
                <div class="col-12 p-2 bg-card min-hight65">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-12 btn-footer px-0">
                    <div class="col-12 d-flex justify-content-end group-button-bottom px-0 mt-1">
                        <p-button *ngIf="activeIndex==0" label="BACK" (click)="back()"></p-button>
                        <p-button *ngIf="activeIndex>0 &&  activeIndex<=9" label="PREVIOUS" icon="fa fa-chevron-left"
                            iconPos="left" [disabled]="previouseButtonDisable"  (click)="prevStep(activeIndex)"></p-button>
                        <p-button *ngIf="activeIndex != 0" label="CANCEL" (click)="cancel()"></p-button>
                        <p-button *ngIf="(activeIndex!=9 && activeIndex<9)" label="SAVE & NEXT" [disabled]="buttonDisabled"
                            icon="fa fa-chevron-right" iconPos="right" (click)="nextStep(activeIndex)"></p-button>
                        <p-button *ngIf="activeIndex==9" label="SAVE & PREVIEW" (click)="navigateToPreview()" [disabled]="buttonDisabled"
                            icon="fa fa-chevron-right" iconPos="right"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="More Basic Details" [(visible)]="membreIndividualFlag" [style]="{ width: '70vw' }">
    <!-- <h6 class="super-sub-heading">{{'ERP.MEMBERSHIP_CREATION' | translate}}</h6> -->
    <div class="popup-basic-details">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="d-flex justify-content-start px-3 py-0 mb-2" *ngIf="photoCopyFlag">
                    <div *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy">

                        <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                            <!-- <a href="{{img.imageValue}}" (clicl)="onClickMemberPhotoCopy()"></a> -->
                            <img src="{{img.imageValue}}" class="image-user">
                        </span>
                    </div>
                    <p class="active-status"></p>
                    <div *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath">
                        <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                            <!-- <a href="{{img.imageValue}}" (clicl)="onClickMemberPhotoCopy()"></a> -->
                            <img src="{{img.imageValue}}" class="image-user">
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-start px-3 py-0 mb-2" *ngIf="!photoCopyFlag">
                    <div>
                        <img src="assets/images/no-image.jpg" (click)="onClickMemberPhotoCopy()" class="image-user">
                    </div>
                    <p class="active-status"></p>
                    <div>
                        <img src="assets/images/no-image.jpg" (click)="onClickMemberPhotoCopy()" class="image-sign">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.NAME' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.name }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.admissionNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.memberTypeName }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.admissionDateVal }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.DATE_OF_BIRTH' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.dobVal }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.AGE' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.age }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.RELATION_WITH_APPLICANT' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.relationTypeName }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.RELATIVE_NAME' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.relativeName }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.MARITAL_STATUS' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.maritalStatusName }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.CONTACT' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.mobileNumber }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.EMAIL' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.emailId }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.AADHAR' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.aadharNumber }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.panNumber }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.KYC' | translate}}</span>
                    <p class="label-input-text">{{membershipBasicRequiredDetailsModel.isKycApproved}}</p>
                </div>
            </div>
        </div>
        <!-- <p-button class="pull-right" label="{{'ERP.CLOSE' | translate}}" (click)="close()"></p-button> -->
    </div>
</p-dialog>


<!-- institution Promoter details dialog -->
<p-dialog header="More Basic Details" [(visible)]="institutionPromoterFlag" [style]="{ width: '70vw', height: '60vh' }">
    <div class="popup-basic-details">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.INSTITUTION_NAME' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.name}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.tempAdmissionNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.memberTypeName}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.admissionDateVal}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.REGISTERED_DATE' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.registrationDateVal}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.POC_NAME' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.name}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.POC_MOBILE_NO' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.pocNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.panNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.KYC' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.isKycApproved}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12"></div>
    <h6 class="super-sub-heading">{{'LOANS.INSTITUTION_PROMOTER_DETAILS' | translate}}</h6>

    <div class="globel-border-top-color"></div>
    <p-table #dt [columns]="institutionPrmoters" [value]="institionPromotersList" editMode="row"
        styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true"
        [showPageLinks]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single"
        [globalFilterFields]="['surname', 'name', 'operatorTypeName', 'dob', 'age', 'genderName', 'maritalStatusName', 'mobileNumber', 'aadharNumber', 'emailId', 'startDate']">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let promoter of institutionPrmoters ">{{promoter.header | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-editing="editing" let-ri="rowIndex">
            <tr>
                <td *ngFor="let promoter of institutionPrmoters ">{{row[promoter.field]}}</td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
    </ng-template>
    <div class="col-12"></div>
</p-dialog>

<!-- group prmoter details dialog -->
<p-dialog header="More Basic Details" [(visible)]="groupPromotersPopUpFlag" [style]="{ width: '70vw', height: '60vh' }">
    <!-- <h6 class="super-sub-heading">{{'LOANS.BASIC_DETAILS' | translate}}</h6> -->
    <div class="popup-basic-details">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.MEMBER_TYPE' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.memberTypeName}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.ADMISSION_NUMBER' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.tempAdmissionNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.NAME' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.name}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.ADMISSION_DATE' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.admissionDateVal}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.REGISTERED_DATE' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.registrationDateVal}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.POC_NAME' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.name}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.POC_MOBILE_NO' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.mobileNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.TAN_NUMBER' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.tanNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.panNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.GST' | translate}}</span>
                    <p class="label-input-text">{{memberGroupDetailsModel.gstNumber}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'LOANS.KYC' | translate}}</span>
                    <p class="label-input-text">{{isKycApproved}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12"></div>
    <h6 class="super-sub-heading">{{'LOANS.GROUP_PROMOTER_DETAILS' | translate}}</h6>
    <div class="globel-border-top-color"></div>
    <p-table #dt [columns]="groupPrmoters" [value]="groupPrmotersList" editMode="row" styleClass="p-datatable-striped"
        [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true" [showPageLinks]="false" [pageLinks]="1"
        [responsive]="true" rowExpandMode="single"
        [globalFilterFields]="['surname', 'name', 'operatorTypeName', 'dob', 'age', 'genderName', 'maritalStatusName', 'mobileNumber', 'aadharNumber', 'emailId', 'startDate']">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let promoter of groupPrmoters ">{{promoter.header | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-editing="editing" let-ri="rowIndex">
            <tr>
                <td *ngFor="let promoter of groupPrmoters ">{{row[promoter.field]}}</td>
            </tr>
        </ng-template>
    </p-table>
    <!-- <ng-template pTemplate="footer">
    <p-button class="pull-right" label="{{'LOANS.CLOSE' | translate}}"(click)="close()"></p-button>
</ng-template> -->

    <div class="col-12"></div>


</p-dialog>
<!--photo Copy dialog -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [(visible)]="memberPhotoCopyZoom">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForPhotoCopy">
                    <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <a href="{{img.imageValue}}">
                            <img src="{{img.imageValue}}" class="popup-images">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div *ngFor="let img of membershipBasicRequiredDetailsModel.multipartFileListForsignatureCopyPath">
                    <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <a href="{{img.imageValue}}">
                            <img src="{{img.imageValue}}" class="popup-images">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-end">
            <p-button class="action-edit" label="{{'ERP.CLOSE' | translate}}" (click)="close()"></p-button>
        </div>
    </div>
</p-dialog>