<p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
<div class="col-12">
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start" *ngIf="!editbutton">{{'INVESTMENTS_TRANSACTIONS.INVESTMENTS' | translate}}<i class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'ERP.VIEW' | translate}}</div>
            <div class="main-heading mt-1 justify-content-start" *ngIf="editbutton">{{'INVESTMENTS_TRANSACTIONS.INVESTMENTS' | translate}}<i class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'ERP.PREVIEW' | translate}}</div>
        </div>
    </div>
    
    <div class="col-12 p-0">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <!-- <p-scrollPanel styleClass="scroll-class"> -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class="global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="d-flex">
                                                <span class="card-icon"><i class="fa fa-id-badge"></i></span>
                                                <h6 class="sub-heading">{{'INVESTMENTS_TRANSACTIONS.SHARE_DETAILS' | translate}}</h6>
                                            </div>
                                        </div>
                                        <div class="col-6" *ngIf="editbutton">
                                            <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                (click)="editSharesDetails(sharesInvestmentsModel)"></p-button>
                                        </div>
                                    </div>
        <div class="col-12 px-0">
            <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                <h6 class="label-view">{{'INVESTMENTS_TRANSACTIONS.PRODUCT' | translate}}</h6>
                <p class="label-input-text">{{sharesInvestmentsModel.productName}}</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                <h6 class="label-view">{{'INVESTMENTS_TRANSACTIONS.BANK_NAME' | translate}}</h6>
                <p class="label-input-text">{{sharesInvestmentsModel.bankName}}</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                <h6 class="label-view">{{'INVESTMENTS_TRANSACTIONS.BRANCH' | translate}}</h6>
                <p class="label-input-text">{{sharesInvestmentsModel.branchName}}</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                <h6 class="label-view">{{'INVESTMENTS_TRANSACTIONS.PURCHASE_DATE' | translate}}</h6>
                <p class="label-input-text">{{sharesInvestmentsModel.sharesPurchasedDate}}</p>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                <h6 class="label-view">{{'INVESTMENTS_TRANSACTIONS.SHARES_CERTIFICATE_NO' | translate}}</h6>
                <p class="label-input-text">{{sharesInvestmentsModel.shareCertificateNumber}}</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                <h6 class="label-view">{{'INVESTMENTS_TRANSACTIONS.NO_OF_SHARES_PURCHASED' | translate}}</h6>
                <p class="label-input-text">{{sharesInvestmentsModel.noOfSharesPurchased}}</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                <h6 class="label-view">{{'INVESTMENTS_TRANSACTIONS.EACH_SHARE_AMOUNT' | translate}}</h6>
                <p class="label-input-text">{{sharesInvestmentsModel.eachShareAmount}}</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                <div class="form-label">
                    <h6 class="label-view">{{ 'INVESTMENTS_TRANSACTIONS.SHARES_CERTIFICATE' | translate }}</h6>
                    <div class="uplodad-style align-items-center">
                        <div class="col-12  d-flex p-1" *ngFor="let img of shareCertificateCopyFile">
                            <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22"
                                        height="22"></a>
                            </div>
                            <div *ngIf="img.fileType=='pdf'">
                                <a href="{{img.imageValue}}"> <img src="assets\images\pdf.png" width="22" height="22"></a>
                            </div>
                            <div class="label-input-text docname-texteclipse mt-1" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                {{img.fileName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- </p-scrollPanel> -->

    <div class="col-12 viewbottom-footer icon-size">
        <div class="row">
            <div class="grid" *ngIf="isShowSubmit">
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 mt-4">
                    <p-button icon="fa fa-download" iconPos="left" label="Filled Document" pTooltip="Shares Investment Filled Document.pdf"
                        tooltipPosition="top" (click)="pdfDownload()"></p-button>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mt-2">
                    <div class="form-label">
                        <span class=""> {{ 'TERMDEPOSITSTRANSACTION.UPLOAD_DOCUMENT' | translate }} </span>
                        <div class="uplodad-style align-items-center">
                            <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                id="apply-leave_fileUp_attach" chooseLabel=" " name="file" accept=".pdf"
                                (onRemove)="fileRemoveEvent()" (onSelect)="fileUploader($event, fileUpload)">
                            </p-fileUpload>
        
                            <div class="col-12  d-flex p-1 contant-body" *ngFor="let img of signedCopyFile">
                                <div *ngIf="img.fileType=='pdf'">
                                    <a href="{{img.imageValue}}"> <img src="assets\images\pdf.png" width="22" height="22"></a>
                                </div>
                                <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                    {{img.fileName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4"></div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4"></div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mt-4 pull-right">
                    <div class="d-flex justify-content-end">
                        <p-button (click)="navigateToBack()" label="Back" class="btn-back"></p-button>
                        <p-button label="{{'TERMDEPOSITSTRANSACTION.SUBMIT' | translate}}" (click)="submit()"
                            class="btn-submit"></p-button>
                    </div>
                </div>
            </div>
            <div class="grid" *ngIf="!isShowSubmit">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4" *ngIf="fileFlag">
                    <div class="form-label">
                        <span>{{ 'INVESTMENTS_TRANSACTIONS.SIGNED_COPY' | translate }}</span>
                        <div class="upload-style d-flex align-items-center">
                            <div class="col-12 d-flex p-1" *ngFor="let img of signedCopyFile">
                                <div *ngIf="img.fileType === 'pdf'">
                                    <a href="{{img.imageValue}}"><img src="assets/images/pdf.png" width="22" height="22"
                                            alt="PDF"></a>
                                </div>
                                <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                    {{img.fileName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4" *ngIf="!fileFlag"></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mt-4">
                    <h6 class="label-view">{{'ERP.REMARKS' | translate}}</h6>
                    <p class="label-input-text">
                        {{sharesInvestmentsModel.remarks}}</p>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4">
                    <h6 class="label-view">{{'ERP.STATUS' | translate}}</h6>
                    <p class="label-input-text">
                        {{sharesInvestmentsModel.statusName}}</p>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4"></div> -->
                <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mt-4"></div> -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mt-4 pull-right">
                    <div class="d-flex justify-content-end">
                        <p-button (click)="navigateToBack()" label="Back" class="btn-back"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>