<div class="col-12">
    <p-messages label="Info" life="4000" [(value)]="msgs"></p-messages>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 py-2">
        <div class="main-heading mt-1">{{'ERP.DEBIT_CARD_TYPES' | translate}}</div>
    </div>
    <div class="col-12 bg-card bg-label-colorfull px-1 pb-0">
        <form [formGroup]="debitCardTypeForm">
            <div class="col-12">
                <div class="col-12">
                <div class="row mt-n1">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.NAME' | translate}}</label>
                        <input pInputText id="state_txt_name" type="text" formControlName="name" maxlength="40"
                        [(ngModel)]="debitCardsTypes.name">
                        <p-message severity="error" text="Enter Valid Name"
                                    *ngIf="!debitCardTypeForm.controls['name'].valid && debitCardTypeForm.controls['name'].dirty">
                                  </p-message>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label>{{'ERP.DESCRIPTION' | translate}}</label>
                        <textarea pInputTextarea id="state_txt_name" type="text" class="form-control" formControlName="description"
                            [(ngModel)]="debitCardsTypes.description"></textarea>
                        </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'ERP.STATUS' | translate}}</label>
                        <p-dropdown placeholder="{{'ERP.SELECT' | translate}}"
                        [options]="statusList" formControlName="statusName"
                        [(ngModel)]="debitCardsTypes.status"></p-dropdown>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </form>
</div>
</div>

<div class="col-12 d-flex justify-content-end">
    <p-button label="{{'ERP.BACK' | translate}}" (click)="navigateToBack()"></p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled] = '!debitCardTypeForm.valid' *ngIf='!isEdit' (click)="submit()"> </p-button>
    <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled] = '!debitCardTypeForm.valid' *ngIf='isEdit' (click)="update()"> </p-button>
</div>



