<div class="col-12">
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start">{{'MEMBERSHIP_TRANSACTION.MEMBER360_VIEW' | translate}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 left-sidecard">
            <div class="col-12 memnbership-side-closure-card border-light">
                    <div class="col-12">
                        <h5 class="transaction-side-card-header">{{'MEMBERSHIP_TRANSACTION.OVERALL_ACCOUNT_DETAILS' | translate}}</h5>
                    </div>
                    <div class="col-12 py-0 mb-3">
                        <p class="text-fontwt mb-2">{{'ERP.ADMISSION_DETAILS' | translate}}</p>
                        <p-dropdown [options]="admissionNumbersList" [filter]="true" placeholder="Please Enter Admission Number"
                            [(ngModel)]="admissionNumber" (onChange)="OnChangeAdmissionNumber(admissionNumber)"></p-dropdown>
                    </div>
                    <div class="col-12 p-0" *ngIf="individualFlag">
                        <!-- Admission No & Image-part -->
                            <div class="col-12 pic-sig-status">
                                <div class="d-flex justify-content-center mb-2">
                                    <div *ngIf="!this.memberBasicDetailsModel.photoCopyPath"
                                        (click)="onClickMemberPhotoCopy()">
                                        <img src="assets/images/no-image.jpg" class="image-user cursor-pointer">
                                    </div>
                                    <div class="px-0"
                                        *ngFor="let img of memberBasicDetailsModel.multipartFileListForPhotoCopy"
                                        (click)="onClickMemberPhotoCopy()">
                                        <div class="col-12 p-0"
                                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                                            <!-- <a href="{{img.imageValue}}"> -->
                                            <img src="{{img.imageValue}}" class="image-user cursor-pointer">
                                            <!-- </a> -->
                                        </div>
                                        <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                                            <!-- <a href="{{img.imageValue}}"> -->
                                            <img src="assets\images\pdf.png" class="image-user cursor-pointer">
                                            <!-- </a> -->
                                        </div>
                                    </div>
                                    <!-- <p class="active-status"></p> -->
                                    <div *ngIf="!this.memberBasicDetailsModel.signatureCopyPath"
                                        (click)="onClickMemberPhotoCopy()">
                                        <img src="assets/images/no-image.jpg" class="image-sign cursor-pointer">
                                    </div>
                                    <div class="px-0"
                                        *ngFor="let img of memberBasicDetailsModel.multipartFileListForsignatureCopyPath"
                                        (click)="onClickMemberPhotoCopy()">
                                        <div class="col-12 p-0"
                                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                                            <!-- <a href="{{img.imageValue}}"> -->
                                            <img src="{{img.imageValue}}" class="image-sign cursor-pointer">
                                            <!-- </a> -->
                                        </div>
                                        <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                                            <!-- <a href="{{img.imageValue}}"> -->
                                            <img src="assets\images\pdf.png" class="image-sign cursor-pointer">
                                            <!-- </a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="text-center">
                                <span class="text-fontwt">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                                <p class="font-semibold text-break">{{memberBasicDetailsModel.admissionNumber}}</p>
                            </div> -->
                            <div class="text-center min-h-50px">
                                <p class="text-break view-member-name">{{memberBasicDetailsModel.name}}</p>
                                <div class="d-flex justify-content-center">
                                    <div class="member-name-border"></div>
                                </div>
                            </div>
                        <div class="row px-2">
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                        <p class="label-input-text">{{memberBasicDetailsModel.memberTypeName}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                        <p class="label-input-text">{{memberBasicDetailsModel.admissionDateVal}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.DATE_OF_BIRTH' | translate}} &
                                            {{'ERP.AGE' |
                                            translate}}</p>
                                        <p class="label-input-text">{{memberBasicDetailsModel.memDobVal}} & {{
                                            memberBasicDetailsModel.age }}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.MOBILE_NUMBER' | translate}}</p>
                                        <p class="label-input-text">{{memberBasicDetailsModel.mobileNumber}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.EMAIL' | translate}}</p>
                                        <p class="label-input-text">{{memberBasicDetailsModel.emailId}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.AADHAR_NO' | translate}}</p>
                                        <p class="label-input-text">{{memberBasicDetailsModel.aadharNumber}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.PAN_NO' | translate}}</p>
                                        <p class="label-input-text">{{memberBasicDetailsModel.panNumber}}</p>
                                </div>
                                <!-- KYC Approved -->
                                <!-- <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white d-flex py-0">
                                    <div class="col-10 p-0">
                                    <div>
                                    <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                    <p class="label-input-text">{{isKycApproved}}</p>
                                </div>
                                    </div>
                                    <div><img src="assets/images/verify.png" alt="" class="verifykyc mt-2"></div>
                                </div> -->
                                    <!-- KYC Not Approved -->
                                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                        <p class="label-input-text">{{isKycApproved}}</p>
                                    </div>
                                <div class="col-12 color-light justify-content-end text-right">
                                    <a class="fst-italic text-light cursor-pointer"
                                        (click)="onClickMemberIndividualMoreDetails()">{{'ERP.MORE_DETAILS' |
                                        translate}}</a>
                                </div>
                                </div>
                    </div>
                <div class="col-12 p-0" *ngIf="groupFlag">
                        <!-- Admission No & Image-part -->
                            <div class="col-12 pic-sig-status">
                                <div class="d-flex justify-content-center mb-2" (click)="onClickGroupPhotoCopy()">
                                    <img src="assets/images/no-image.jpg" class="image-user cursor-pointer">
                                    <!-- <p class="active-status"></p> -->
                                    <img src="assets/images/no-image.jpg" class="image-sign cursor-pointer">
                                </div>
                            </div>
                            <!-- <div class="text-center min-h-50px">
                                <span class="text-fontwt">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                                <p class="font-semibold text-break">{{memberGroupBasicDetails.admissionNumber}}</p>
                            </div> -->
                            <div class="text-center min-h-50px">
                                <p class="text-break view-member-name">{{memberGroupBasicDetails.name}}</p>
                                <div class="d-flex justify-content-center">
                                    <div class="member-name-border"></div>
                                </div>
                            </div>
                            <div class="row px-2">
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupBasicDetails.memberTypeName}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupBasicDetails.admissionDateVal}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.REGISTERED_DATE' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupBasicDetails.registrationDateVal}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.POC_NAME' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupBasicDetails.pocName}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.POC_MOBILE_NO' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupBasicDetails.pocNumber}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.PAN_NO' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupBasicDetails.panNumber}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.TAN_NO' | translate}}</p>
                                        <p class="label-input-text">{{memberGroupBasicDetails.tanNumber}}</p>
                                </div>
                                <!-- KYC Approved -->
                                <!-- <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break d-flex text-white py-0">
                                    <div class="col-10 p-0">
                                        <div>
                                            <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                            <p class="label-input-text">{{isKycApproved}}</p>
                                        </div>
                                    </div>
                                    <div><img src="assets/images/verify.png" alt="" class="verifykyc mt-2"></div>
                                </div> -->
                                <!-- KYC Not Approved -->
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                                <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                                <p class="label-input-text">{{isKycApproved}}</p>
                                        </div>
                                <div class="col-12 color-light justify-content-end text-right">
                                    <a class="fst-italic text-light cursor-pointer"
                                        (click)="viewMoreGroupDetails()">{{'ERP.MORE_DETAILS' |
                                        translate}}</a>
                                </div>
                            </div>
                </div>
                <div class="col-12 p-0" *ngIf="institutionFlag">
                        <!-- Admission No & Image-part -->
                            <div class="col-12 pic-sig-status">
                                <div class="d-flex justify-content-center mb-2" (click)="onClickInstitutionPhotoCopy()">
                                    <img src="assets/images/no-image.jpg" class="image-user cursor-pointer">
                                    <!-- <p class="active-status"></p> -->
                                    <img src="assets/images/no-image.jpg" class="image-sign cursor-pointer">
                                </div>
                            </div>
                            <!-- <div class="text-center min-h-50px">
                                <span class="text-fontwt">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                                <p class="font-semibold text-break">{{institutionBasicDetailsModel.admissionNumber}}</p>
                            </div> -->
                            <div class="text-center min-h-50px">
                                <p class="text-break view-member-name">{{institutionBasicDetailsModel.name}}</p>
                                <div class="d-flex justify-content-center">
                                    <div class="member-name-border"></div>
                                </div>
                            </div>

                            <div class="row px-2">
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                        <p class="label-input-text">{{institutionBasicDetailsModel.memberTypeName}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                        <p class="label-input-text">{{institutionBasicDetailsModel.admissionDateVal}}
                                        </p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.REGISTERED_DATE' | translate}}</p>
                                        <p class="label-input-text">{{institutionBasicDetailsModel.registrationDateVal}}
                                        </p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.POC_NAME' | translate}}</p>
                                        <p class="label-input-text">{{institutionBasicDetailsModel.pocName}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.POC_MOBILE_NO' | translate}}</p>
                                        <p class="label-input-text">{{institutionBasicDetailsModel.pocNumber}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.PAN_NO' | translate}}</p>
                                        <p class="label-input-text">{{institutionBasicDetailsModel.panNumber}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                        <p class="label-view text-fontwt">{{'ERP.TAN_NO' | translate}}</p>
                                        <p class="label-input-text">{{institutionBasicDetailsModel.tanNumber}}</p>
                                </div>
                                <!-- KYC Approved -->
                                <!-- <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break d-flex text-white py-0">
                                    <div class="col-10 p-0">
                                        <div>
                                            <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                            <p class="label-input-text">{{isKycApproved}}</p>
                                        </div>
                                    </div>
                                    <div><img src="assets/images/verify.png" alt="" class="verifykyc mt-2"></div>
                                </div> -->
                                <!-- KYC Not Approved -->
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card text-break text-white py-0">
                                            <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                            <p class="label-input-text">{{isKycApproved}}</p>
                                </div>
                                <div class="col-12 color-light justify-content-end text-right">
                                    <a class="fst-italic text-light cursor-pointer"
                                        (click)="viewMoreInstitutionDetails()">{{'ERP.MORE_DETAILS' | translate}}</a>
                                </div>
                            </div>
                            </div>
                        </div>
            </div>
       
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 right-sidecard">
            <div class="col-12 bg-card p-3">
                <div class="col-12 p-0">
                        <h6 class=" sub-heading">{{'ERP.ALL_ACCOUNTS_AND_SERVICES' | translate}}</h6>
                    </div>
                    <div class="col-12 degreeview-scroll" *ngIf="tableList && tableList.length > 0" [ngStyle]="{'height': tableList.length > minDataCount ? '24rem' : '12rem'}">
                    <div class="row g-3">
                        <div *ngFor="let data of tableList" class="memcards-width">
                            <div class="col-12 p-2 memcard-style"
                            [ngClass]="{'sb-memcard-style': data.application === 'Saving Bank', 'td-memcard-style': data.application === 'Term Deposit', 'loans-memcard-style': data.application === 'Loans', 'agent-memcard-style' : data.application === 'Agent', 'pigmy-memcard-style': data.application === 'Pigmy Deposits'}">
                            
                            <div class="col-12 p-0">
                                <div class="row">
                                    <div class="col-8 py-0">
                                <h6 class="memcard-heading text-left"
                                [ngClass]="{'sb-memcard-heading': data.application === 'Saving Bank', 'td-memcard-heading': data.application === 'Term Deposit', 'loans-memcard-heading': data.application === 'Loans', 'agent-memcard-heading' : data.application === 'Agent', 'pigmy-memcard-heading': data.application === 'Pigmy Deposits'}">
                                {{data.productName}}</h6>
                            </div>
                                <div class="col-4 py-0">
                                    <div class="d-flex justify-content-end">
                                    <div class="memcard-righticon cursor-pointer" (click)="getTransactionList(data)" pTooltip="{{'ERP.TRANSACTION' | translate}}" tooltipPosition="top"
                                    [ngClass]="{'sbmemcard-righticon': data.application === 'Saving Bank', 'tdmemcard-righticon': data.application === 'Term Deposit', 'loansmemcard-righticon': data.application === 'Loans', 'agentmemcard-righticon' : data.application === 'Agent', 'pigmymemcard-righticon': data.application === 'Pigmy Deposits'}">
                                    <i class="fa fa-exchange" aria-hidden="true"></i></div>
                                    <div class="memcard-righticon cursor-pointer" pTooltip="{{'ERP.MORE_DETAILS' | translate}}" tooltipPosition="top"
                                    [ngClass]="{'sbmemcard-righticon': data.application === 'Saving Bank', 'tdmemcard-righticon': data.application === 'Term Deposit', 'loansmemcard-righticon': data.application === 'Loans', 'agentmemcard-righticon' : data.application === 'Agent', 'pigmymemcard-righticon': data.application === 'Pigmy Deposits'}">
                                    <i class="fa fa-info" aria-hidden="true"></i></div>
                                </div>
                                </div>
                                </div>
                                </div>
                          

                                <!-- <div class="col-12">
                                    <img src="assets/images/icons/Money Box .png">
                                    <h6 class="text-secondary mt-1">{{data.productName}} </h6>
                                    <div class="justify-content-end d-flex">
                                    <a class="fst-italic text-right cursor-pointer"
                                        (click)="getTransactionList(data)">{{'ERP.TRANSACTION' |
                                        translate}}</a>
                                    </div>
                                </div> -->
                                <div class="col-12 p-0 mt-2">
                                    <div class="row">
                                        <div class="col-4 left-icon-data">
                                            <div class="outer-circle sb-outer-circle" *ngIf="data.application == 'Saving Bank'"><div class="inner-circle"><i class="fa fa-money" aria-hidden="true"></i></div></div>
                                            <div class="outer-circle td-outer-circle" *ngIf="data.application == 'Term Deposit'"><div class="inner-circle"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></div></div>
                                            <div class="outer-circle loans-outer-circle" *ngIf="data.application == 'Loans'"><div class="inner-circle"><i class="fa fa-briefcase" aria-hidden="true"></i></div></div>
                                            <div class="outer-circle agent-outer-circle" *ngIf="data.application == 'Agent'"><div class="inner-circle"><i class="fa fa-user-secret" aria-hidden="true"></i></div></div>
                                            <div class="outer-circle pigmy-outer-circle" *ngIf="data.application == 'Pigmy Deposits'"><div class="inner-circle"><i class="fa fa-product-hunt" aria-hidden="true"></i></div></div>
                                        </div>
                                        <div class="col-8 right-data">
                                            <div class="col-12 p-0">
                                                <p><span class="label-view">{{'ERP.ACCOUNT_NO' | translate}} : </span><span class="label-input-text">{{data.accountNumber}}</span></p>
                                            </div>
                                            <div class="col-12 p-0">
                                                <p><span class="label-view">{{'MEMBERSHIP_TRANSACTION.ACCOUNT_OPINING_DATE' |translate}} : </span><span class="label-input-text">{{data.accountOpeningDate}}</span></p>
                                            </div>
                                            <div class="col-12 p-0">
                                                <p><span class="label-view">{{'ERP.ACCOUNT_BALANCE' | translate}} : </span><span class="label-input-text">{{data.accountBalance}}</span></p>
                                            </div>
                                            <div class="col-12 p-0">
                                                <p><span class="label-view">{{'ERP.STATUS' | translate}} : </span><span class="label-input-text">{{data.status}}</span></p>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        <!-- <div class="NoData"><i class="fa fa-smile-o" aria-hidden="true"></i>&nbsp;&nbsp;<span>No data</span></div> -->
            </div>
            <div class="col-12 p-1"></div>
            <div class="col-12 bg-card p-3" *ngIf="showForm">
                <div class="flex row justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                        <h6 class="sub-heading mt-1">{{'MEMBERSHIP_TRANSACTION.TRANSACTION_HISTORY' | translate}}</h6>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                        <div class="col-12 p-0">
                            <div class="d-flex justify-content-end search-input-style">
                                <div class="input-group search-box d-flex justify-content-end">
                                    <div class="search">
                                        <span class="p-input-icon-right">
                                            <i class="pi pi-search global-search-icon"></i>
                                            <input autocomplete="off" type="text" id="skill_category_txt_search" pInputText placeholder="Search" class="searchbox"
                                                #searchInput (input)="dt.filterGlobal(searchInput.value, 'contains')">
                                        </span>
                                    </div>
                                </div>
                                    <p-button label="Download" icon="fa fa-download" iconPos="left"></p-button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="globel-border-top-color"></div>
                    <p-table #dt [value]="transactionDetailsDTOList" dataKey="id" editMode="row"
                            styleClass="p-datatable-striped" [rows]="5" [paginator]="true"
                            [showJumpToPageDropdown]="true" [showPageLinks]="false" [pageLinks]="1" [responsive]="true"
                            rowExpandMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{'ERP.ACCOUNT_NUMBER' | translate}} </th>
                                    <th>{{'ERP.TRANSACTION_DATE' | translate}} </th>
                                    <th>{{'ERP.TRANSACTION_TYPE' | translate}}</th>
                                    <th>{{'ERP.TRANSACTION_MODE' | translate}}</th>
                                    <th>{{'ERP.TRANSACTION_AMOUNT' | translate}}</th>
                                    <th>{{'ERP.STATUS' | translate}}</th>
                                    <!-- <th>Land</th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="rowData">
                                    <td>
                                        <p-cellEditor>
                                            <ng-template
                                                pTemplate="output">{{rowData.accountNumber}}</ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template
                                                pTemplate="output">{{rowData.trnasactionDateVal}}</ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="output">{{rowData.transactionTypeName}}</ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="output">{{rowData.transactionModeName}}</ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="output">{{rowData.transactionAmount}}</ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="output">{{rowData.statusName}}</ng-template>
                                        </p-cellEditor>
                                    </td>
                                   
                                </tr>
                            </ng-template>
                        </p-table>
            </div>
    </div>
    </div>
</div>

<div class="view-moredetails-popup">
    <p-dialog header="{{'ERP.BASIC_DETAILS' | translate}}" [modal]="true" [(visible)]="membreIndividualFlag" styleClass="moredetails-style">
        <div class="col-12 view-morepopup">
            <div class="d-flex justify-content-center px-3 py-0 mb-2">
                <div *ngIf="!this.memberBasicDetailsModel.photoCopyPath">
                    <img src="assets/images/no-image.jpg" class="image-user">
                </div>
                <div class="px-0" *ngFor="let img of memberBasicDetailsModel.multipartFileListForPhotoCopy">
                    <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="{{img.imageValue}}" class="image-user">
                        <!-- </a> -->
                    </div>
                    <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="assets\images\pdf.png" class="image-userr">
                        <!-- </a> -->
                    </div>
                </div>
                <!-- <p class="active-status"></p> -->
                <div *ngIf="!this.memberBasicDetailsModel.signatureCopyPath">
                    <img src="assets/images/no-image.jpg" class="image-sign">
                </div>
                <div class="px-0" *ngFor="let img of memberBasicDetailsModel.multipartFileListForsignatureCopyPath">
                    <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="{{img.imageValue}}" class="image-sign">
                        <!-- </a> -->
                    </div>
                    <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="assets\images\pdf.png" class="image-sign">
                        <!-- </a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center popup-basic-details mt-5 pt-3">
            <span class="fw-semibold">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
            <p class="fw-bold">{{memberBasicDetailsModel.admissionNumber}}</p>
        </div>
        <div class="col-12 popup-basic-details">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                        <p class="label-input-text">{{ memberBasicDetailsModel.memberTypeName }}&nbsp;({{
                            memberBasicDetailsModel.subProductName }})</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.SURNAME' | translate}}</span>
                        <p class="label-input-text">{{ memberBasicDetailsModel.surname}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.NAME' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.name}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.DATE_OF_BIRTH' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.memDobVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.AGE' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.age}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.GENDER' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.genderName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MARITAL_STATUS' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.maritalStatusName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.RELATION_WITH_MEMBER' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.relationTypeName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.RELATION_NAME' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.relativeName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.QUALIFICATION' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.qualificationName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.OCCUPATION' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.occupationName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.AADHAR_NO' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.aadharNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.panNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MOBILE_NUMBER' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.mobileNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.EMAIL' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.emailId }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.CASTE' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.casteName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.COMMUNITYS' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.communityName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MANAGEMENT_COMMITTE_RESOLUTION_NO' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.mcrNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-label">
                        <span class="label-view">{{'ERP.MCR_DOCUMENT_TYPE' | translate}}</span>
                        <!-- <div class="uplodad-style align-items-center"> -->
                        <!-- <p class="label-input-text">{{memberBasicDetailsModel.mcrDocumentCopy }}</p> -->
                        <div class="col-12 d-flex p-0"
                            *ngFor="let img of memberBasicDetailsModel.multipartFileListForMCRCopyPath">
                            <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22" height="22"></a>
                            </div>
                            <div class="docname-texteclipse pl-2 label-input-text" pTooltip="{{img.fileName}}"
                                tooltipPosition="bottom">
                                {{img.fileName}}</div>
                        </div>
                        <!-- </div> -->
                    </div>

                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.admissionDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_FEE' | translate}}</span>
                        <p class="label-input-text">{{memberBasicDetailsModel.admissionFee}}</p>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>
<div class="view-moredetails-popup">
    <p-dialog header="{{'ERP.BASIC_DETAILS' | translate}}" [modal]="true" [(visible)]="memberGroupBasicDetailsFlag" styleClass="moredetails-style">
        <div class="col-12 view-morepopup">
            <div class="d-flex justify-content-center px-3 py-0 mb-2">
                <img src="assets/images/no-image.jpg" class="image-user">
                <!-- <p class="active-status"></p> -->
                <img src="assets/images/no-image.jpg" class="image-sign">
            </div>
        </div>
        <div class="col-12 text-center popup-basic-details mt-5 pt-3">
            <span class="fw-semibold">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
            <p class="fw-bold">{{memberGroupBasicDetails.admissionNumber}}</p>
        </div>
        <div class="col-12 popup-basic-details">
            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                        <p class="label-input-text">{{ memberGroupBasicDetails.memberTypeName }}&nbsp;({{
                            memberGroupBasicDetails.subProductName }})</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.NAME' | translate}}</span>
                        <p class="label-input-text">{{memberGroupBasicDetails.name}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.REGISTERED_NO' | translate}}</span>
                        <p class="label-input-text">{{memberGroupBasicDetails.registrationNumber}}</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.REGISTERED_DATE' | translate}}</span>
                        <p class="label-input-text">{{memberGroupBasicDetails.registrationDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                        <p class="label-input-text">{{memberGroupBasicDetails.admissionDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.POC_NAME' | translate}}</span>
                        <p class="label-input-text">{{memberGroupBasicDetails.pocName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.POC_MOBILE_NO' | translate}}</span>
                        <p class="label-input-text">{{memberGroupBasicDetails.pocNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                        <p class="label-input-text">{{memberGroupBasicDetails.panNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.TAN_NO' | translate}}</span>
                        <p class="label-input-text">{{memberGroupBasicDetails.tanNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.GST_NO' | translate}}</span>
                        <p class="label-input-text">{{ memberGroupBasicDetails.gstNumber}}</p>
                    </div>
                </div>
            </div>
        </div>

    </p-dialog>
</div>
<div class="view-moredetails-popup">
    <p-dialog header="{{'ERP.BASIC_DETAILS' | translate}}" [modal]="true" [(visible)]="memberInstitutionBasicDetailsFlag" styleClass="moredetails-style">
        <div class="col-12 view-morepopup">
            <div class="d-flex justify-content-center px-3 py-0 mb-2">
                <img src="assets/images/no-image.jpg" class="image-user">
                <!-- <p class="active-status"></p> -->
                <img src="assets/images/no-image.jpg" class="image-sign">
            </div>
        </div>
        <div class="col-12 text-center popup-basic-details mt-5 pt-3">
            <span class="fw-semibold">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
            <p class="fw-bold">{{institutionBasicDetailsModel.admissionNumber}}</p>
        </div>
        <div class="col-12 popup-basic-details">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                        <p class="label-input-text">{{ institutionBasicDetailsModel.memberTypeName }}&nbsp;({{
                            institutionBasicDetailsModel.subProductName }})</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.NAME' | translate}}</span>
                        <p class="label-input-text">{{institutionBasicDetailsModel.name}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.REGISTERED_NO' | translate}}</span>
                        <p class="label-input-text">{{institutionBasicDetailsModel.registrationNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.REGISTERED_DATE' | translate}}</span>
                        <p class="label-input-text">{{institutionBasicDetailsModel.registrationDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                        <p class="label-input-text">{{institutionBasicDetailsModel.admissionDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.POC_NAME' | translate}}</span>
                        <p class="label-input-text">{{institutionBasicDetailsModel.pocName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.POC_MOBILE_NO' | translate}}</span>
                        <p class="label-input-text">{{institutionBasicDetailsModel.pocNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                        <p class="label-input-text">{{institutionBasicDetailsModel.panNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.TAN_NO' | translate}}</span>
                        <p class="label-input-text">{{institutionBasicDetailsModel.tanNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.GST_NO' | translate}}</span>
                        <p class="label-input-text">{{ institutionBasicDetailsModel.gstNumber}}</p>
                    </div>
                </div>
            </div>
        </div>

    </p-dialog>
</div>



<!-- Individual Photo Copy -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [modal]="true" [(visible)]="memberPhotoCopyZoom" styleClass="photo-dialog">
    <div class="col-12 px-0">
        <div class="row">
            <div class="col-6">
                <div>
                    <div *ngIf="!this.memberBasicDetailsModel.photoCopyPath">
                        <img src="assets/images/no-image.jpg" class="popup-images">
                    </div>
                    <div *ngFor="let img of memberBasicDetailsModel.multipartFileListForPhotoCopy">
                        <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                            <!-- <a href="{{img.imageValue}}"> -->
                            <img src="{{img.imageValue}}" class="popup-images">
                            <!-- </a> -->
                        </div>
                        <div *ngIf=" img.fileType =='pdf'">
                            <!-- <a href="{{img.imageValue}}"> -->
                            <img src="assets\images\pdf.png" class="popup-images">
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <div *ngIf="!this.memberBasicDetailsModel.signatureCopyPath">
                        <img src="assets/images/no-image.jpg" class="popup-images">
                    </div>
                    <div *ngFor="let img of memberBasicDetailsModel.multipartFileListForsignatureCopyPath">
                        <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                            <!-- <a href="{{img.imageValue}}"> -->
                            <img src="{{img.imageValue}}" class="popup-images">
                            <!-- </a> -->
                        </div>
                        <div *ngIf=" img.fileType =='pdf'">
                            <!-- <a href="{{img.imageValue}}"> -->
                            <img src="assets\images\pdf.png" class="popup-images">
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-12">
        <div class="d-flex justify-content-end">
            <p-button class="action-edit" label="{{'ERP.CLOSE' | translate}}" (click)="closePhoto()"></p-button>
        </div>
    </div> -->
</p-dialog>
<!--Group photo Copy dialog -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [modal]="true" [(visible)]="groupPhotoCopyZoom" styleClass="photo-dialog">
    <div class="col-12 px-0">
        <div class="row">
            <div class="col-6">
                <img src="assets/images/no-image.jpg" class="popup-images">
            </div>
            <div class="col-6">
                <img src="assets/images/no-image.jpg" class="popup-images">
            </div>
        </div>
    </div>
                <!-- <div class="col-12">
                    <div class="d-flex justify-content-end">
        <p-button class="action-edit" label="{{'ERP.CLOSE' | translate}}" (click)="closePhoto()"></p-button>
        </div>
    </div> -->
</p-dialog>
<!--Institution photo Copy dialog -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [modal]="true" [(visible)]="institutionPhotoCopyZoom" styleClass="photo-dialog">
    <div class="col-12 px-0">
        <div class="row">
            <div class="col-6">
                <img src="assets/images/no-image.jpg" class="popup-images">
            </div>
            <div class="col-6">
                <img src="assets/images/no-image.jpg" class="popup-images">
            </div>
        </div>
    </div>
                <!-- <div class="col-12">
                    <div class="d-flex justify-content-end">
        <p-button class="action-edit" label="{{'ERP.CLOSE' | translate}}" (click)="closePhoto()"></p-button>
        </div>
    </div> -->
</p-dialog>