<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
    <h6 class="sub-heading">{{'ERP.APPLICATION_DETAILS' | translate}}</h6>
        <form [formGroup]="applicationDetailsForm" id="exit_types_form">
            <div class="mt-n1 bg-label-colorfull">
                    <div class="row g-3">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.PRODUCT_NAMES' | translate}}</label>
                                <!-- <p-dropdown [options]="productListData" placeholder="Select" formControlName="productName"
                                    (onChange)="onChangeProduct()"
                                    [(ngModel)]="investmentApplicationDetailsModel.productId"></p-dropdown>
                                    <p-message severity="error" text="Enter Valid Name"
                                    *ngIf="!applicationDetailsForm.controls['productName'].valid && applicationDetailsForm.controls['productName'].dirty">
                                </p-message> -->
                                <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter Product Name"
                                formControlName="productName" [(ngModel)]="investmentApplicationDetailsModel.productName">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.BANK_NAME' | translate}}</label>
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter Institution Name"
                                formControlName="bankName" [(ngModel)]="investmentApplicationDetailsModel.bankName">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.ACCOUNT_NUMBER' | translate}}</label>
                                <input type="text" pInputText formControlName="accountNumber" placeholder="Enter Account Number"
                                    [(ngModel)]="investmentApplicationDetailsModel.accountNumber" pKeyFilter="alphanum"/>
                                    <p-message severity="error" text="Enter Valid Account Number"
                                    *ngIf="!applicationDetailsForm.controls['accountNumber'].valid && applicationDetailsForm.controls['accountNumber'].dirty">
                                </p-message>
                            </div>
                        </div>
                    <!-- </div> -->
                    <!-- <div class="row g-3 mt-0"> -->
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.DEPOSIT_AMOUNT' | translate}}</label>
                                <input type="text" pInputText formControlName="depositAmount" placeholder="Enter Deposit Amount"
                                    [(ngModel)]="investmentApplicationDetailsModel.depositAmount" 
                                    (focusout)="amountCheck(true)" pKeyFilter="num" (focusout)="calculateMaturityDetails()"/>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.ROI' | translate}}</label>
                                <input type="text" pInputText  formControlName="roi" placeholder="Enter ROI"
                                    [(ngModel)]="investmentApplicationDetailsModel.roi" (focusout)="calculateMaturityDetails()" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.DEPOSIT_DATE' | translate}}</label>
                                <p-calendar [showIcon]="true" formControlName="depositDate" dateFormat="{{orgnizationSetting.calendar}}"
                                    [(ngModel)]="investmentApplicationDetailsModel.depositDate" placeholder="Select Deposit Date"
                                    (onSelect)="dateCheck(true)"></p-calendar>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.DEPOSIT_TYPE' | translate}}</label>
                                <p-dropdown [options]="depositTypeList" placeholder="Select" formControlName="depositName"
                                    [(ngModel)]="investmentApplicationDetailsModel.depositType" 
                                    (onChange)="onChangeDepositType(investmentApplicationDetailsModel.depositType)"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.TENURE_IN_YEARS' | translate}}</label>
                                <input type="text" pInputText formControlName="tenureInYears" placeholder="Enter Tenure (In Years)"
                                    [(ngModel)]="investmentApplicationDetailsModel.tenureInYears" maxlength="2" pKeyFilter="num"
                                    (focusout)="calculateMaturityDetails()" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label>{{'INVESTMENTS_TRANSACTIONS.TENURE_IN_MONTHS' | translate}}</label>
                                <input type="text" pInputText formControlName="tenureInMonths" placeholder="Enter Tenure (In Months)"
                                    [(ngModel)]="investmentApplicationDetailsModel.tenureInMonths"
                                    (focusout)="calculateMaturityDetails()" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label>{{'INVESTMENTS_TRANSACTIONS.TENURE_IN_DAYS' | translate}}</label>
                                <input type="text" pInputText formControlName="tenureInDays" placeholder="Enter Tenure (In Days)"
                                    [(ngModel)]="investmentApplicationDetailsModel.tenureInDays"
                                    (focusout)="calculateMaturityDetails()" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.MATURITY_DATE' | translate}}</label>
                                <p-calendar [showIcon]="true" formControlName="maturityDate" placeholder="Select Maturity Date"
                                    dateFormat="{{orgnizationSetting.calendar}}" (onSelect)="dateCheck(false)"
                                    [(ngModel)]="investmentApplicationDetailsModel.maturityDate"></p-calendar>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.MATURITY_INTEREST_AMOUNT' | translate}}</label>
                                <input type="text" pInputText formControlName="maturityInterest" placeholder="Enter Maturity Interest Amount"
                                    [(ngModel)]="investmentApplicationDetailsModel.maturityInterest" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.MATURITY_AMOUNT' | translate}}</label>
                                <input type="text" pInputText formControlName="maturityAmount" placeholder="Enter Maturity Amount"
                                    [(ngModel)]="investmentApplicationDetailsModel.maturityAmount"
                                    (focusout)="amountCheck(false)" pKeyFilter="num" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.INTEREST_PAYMENT_FREQUENCY' | translate}}</label>
                                <p-dropdown [options]="interestPaymentFrequencyList" placeholder="Select"
                                    formControlName="interestOrInstallmentFrequencyName"
                                    [(ngModel)]="investmentApplicationDetailsModel.interestOrInstallmentFrequency"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngIf="installmentAmountFlag">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.INSTALLMENT_AMOUNT' | translate}}</label>
                                <input type="text" pInputText formControlName="installmentAmount" placeholder="Enter Amount"
                                    [(ngModel)]="investmentApplicationDetailsModel.installmentAmount" pKeyFilter="num"/>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.RESOLUTION_NUMBER' | translate}}</label>
                                <input type="text" pInputText formControlName="resolutionNumber" placeholder="Enter Resolution Number"
                                    [(ngModel)]="investmentApplicationDetailsModel.resolutionNumber" pKeyFilter="num"/>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.RESOLUTION_DATE' | translate}}</label>
                                <p-calendar [showIcon]="true" formControlName="resolutionDate" placeholder="Select Date"
                                    dateFormat="{{orgnizationSetting.calendar}}"
                                    [(ngModel)]="investmentApplicationDetailsModel.resolutionDate"></p-calendar>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <span class=""> {{ 'ERP.UPLOAD' | translate }}&nbsp;{{ 'INVESTMENTS_TRANSACTIONS.RESOLUTION_COPY' | translate }} </span>
                                <div class="uplodad-style align-items-center">
                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                        id="apply-leave_fileUp_attach" chooseLabel=" " name="file" accept=".pdf"
                                        (onRemove)="resolutionRemoveEvent()"
                                        (onSelect)="resolutionUploader($event,fileUpload)">
                                    </p-fileUpload>
                                    <div  class="col-12  d-flex p-1 contant-body" *ngFor="let img of resolutionCopyFileList">
                                        <div *ngIf="img.fileType=='pdf'">
                                            <a href="{{img.imageValue}}"> <img src="assets\images\pdf.png" width="22" height="22"></a>
                                        </div>  
                                        <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                            {{img.fileName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <span class=""> {{ 'ERP.UPLOAD' | translate }}&nbsp;{{ 'INVESTMENTS_TRANSACTIONS.DEPOSIT_BOND_COPY' | translate }} </span>
                                <div class="uplodad-style align-items-center">
                                    <!-- Upload Button Column -->
                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                        id="apply-leave_fileUp_attach" chooseLabel=" " name="file" accept=".pdf"
                                        (onRemove)="fileRemoveEvent()"
                                        (onSelect)="imageUploader($event,fileUpload)">
                                    </p-fileUpload>
                                    <div  class="col-12  d-flex p-1 contant-body" *ngFor="let img of investmentApplicationDetailsModel.multipartFileList">
                                        <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                            <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22"
                                                    height="22"></a>
                                        </div>
                                        <div *ngIf="img.fileType=='pdf'">
                                            <a href="{{img.imageValue}}"> <img src="assets\images\pdf.png" width="22" height="22"></a>
                                        </div>  
                                        <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                            {{img.fileName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngIf="!installmentAmountFlag">
                            <div class="form-label">
                            <label>{{'INVESTMENTS_TRANSACTIONS.AUTO_RENEWAL' | translate}}</label>
                                <p-dropdown [options]="renewalList" placeholder="Select" formControlName="isAutoRenewal"
                                    [(ngModel)]="investmentApplicationDetailsModel.isAutoRenewal"
                                    (onChange)="onAutoRenewalChange(investmentApplicationDetailsModel.isAutoRenewal)"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngIf="showRenewalType">
                            <div class="form-label">
                            <label><span class="red">*</span>{{'INVESTMENTS_TRANSACTIONS.AUTO_RENEWAL_TYPE' | translate}}</label>
                                <p-dropdown [options]="autoRenewalTypeList" placeholder="Select" formControlName="autoRenewalType"
                                    [(ngModel)]="investmentApplicationDetailsModel.autoRenewalType"></p-dropdown>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
</div>