<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'"></p-messages>
    <div class="stepper-top-section-strip">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 stepper-top-product-name-background">
                <div class="form-group">
                    <span>{{'ERP.MEMBER_TYPE' | translate}}</span>
                    <p class="mb-0">{{ memberGroupBasicDetails.memberTypeName }}&nbsp;({{
                        memberGroupBasicDetails.subProductName }})</p>
                </div>
            </div>
             
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                    <p class="mb-0">{{memberGroupBasicDetails.admissionNumber}}</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.NAME' | translate}}</span>
                    <p class="mb-0">{{memberGroupBasicDetails.name}}</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.REGISTRATION_NO' | translate}}</span>
                    <p class="mb-0">{{memberGroupBasicDetails.registrationNumber}}</p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.ADMISSION_DATE' | translate}}</span>
                    <p class="mb-0">{{memberGroupBasicDetails.admissionDateVal}}</p>
                </div>
            </div>
            <!-- <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.POC_NAME' | translate}}</span>
                    <p class="mb-0">{{memberGroupBasicDetails.pocName}}</p>
                </div>
            </div> -->
            <!-- <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.POC_MOBILE_NUMBER' | translate}}</span>
                    <p class="mb-0">{{memberGroupBasicDetails.pocNumber}}</p>
                </div>
            </div> -->
        </div>
    </div>

    <div class="col-12"></div>

    <h6 class="sub-heading">{{'ERP.KYC' | translate}}</h6>
    <!-- //<span class="admission-text">
        (Admission
        Number : {{memberGroupBasicDetails.admissionNumber}})</span> -->
        <div class="col-12 px-0">
            <form [formGroup]="groupKYCForm" id="exit_types_form">
                <p-button icon="fa fa-plus" label="{{'ADD ANOTHER DOCUMENT' | translate}}" (click)="addKyc($event)"
                    [disabled]="buttonDisabled" *ngIf="showButton" class="kyc-btnm-0"></p-button>
                    <div class="mt-2">
                    <p class="label-input-text text-danger" *ngIf="mandatoryDoxsTextShow">Note : {{requiredDocumentsNames}}</p>
                    </div>
                    <div class="col-12 p-0 pt-2">
                        <div class="row g-3">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2" *ngFor="let document of kycModelList ; let i = index">
                                <div class="stepper-kyc-card p-3 pb-1 mb-2" *ngIf="editIndex != i || editDocumentOfKycFalg">
                                    <!-- view card -->
                                    <div class="row">
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 d-flex align-items-center">
                                                <div class="card-leftbody">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="label-view">Promoter Name</h6>
                                                    <p class="label-input-text">{{document.promoterName}}</p>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="label-view">Document Type</h6>
                                                    <p class="label-input-text">{{document.kycDocumentTypeName}}
                                                    </p>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="label-view">Document Number</h6>
                                                    <p class="label-input-text">{{document.documentNumber}}</p>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="label-view">Name as per Document</h6>
                                                    <p class="label-input-text">{{document.nameAsPerDocument}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                            
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 justify-content-end d-flex right-actions">
                                                <div class="cardview-icon icon-size text-right cursor-pointer -mt-1" (click)="onClickkycPhotoCopy(document)"><i class="fa fa-eye mr-3" aria-hidden="true" pTooltip="{{'ERP.VIEW_DOC' | translate}}" tooltipPosition="top"></i></div>
                                                    <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn"
                                                        (click)="toggleEditForm(i ,document)" [disabled]="editButtonDisable" pTooltip="{{'ERP.EDIT' | translate}}" tooltipPosition="top"></p-button>
                                                        <p-button icon="fa fa-trash" class="kyc-edit-btn ml-3" (click)="deletDilogBox(document)" [disabled]="editButtonDisable" pTooltip="{{'ERP.DELETE' | translate}}" tooltipPosition="top"></p-button>
                                                        
                                                    <!-- <div class="col-12 px-0">
                                                        <div class="col-12 px-0" *ngFor="let img of document.multipleFilesList">
                                                            <div class="col-12 p-0"
                                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                                                                <a href="{{img.imageValue}}">
                                                                    <img src="{{img.imageValue}}" class="upload-img img-fluid"  pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                                                </a>
                                                            </div>
                                                            <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                                                                <a href="{{img.imageValue}}">
                                                                    <img src="assets\images\pdf.png" class="pdf-img img-fluid"  pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                       
                                                </div>
                                            </div>
                                        
                                    </div>
                                    <!-- Edit form -->
                                     <div class="col-12 global-border bg-label-colorfull p-3 py-2" *ngIf="editIndex === i  && !editDocumentOfKycFalg">
                                    <div class="row g-3 mt-n1">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                            <div class="form-label">
                                                <label><span class="red">*</span>Promoter Name</label>
                                                <p-dropdown placeholder="{{'ERP.SELECT'| translate}}" formControlName="promoter" [options]="promotersList"
                                                    id="docTypeId" [(ngModel)]="groupKycDeatilsModel.promoterId">
                                                </p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-label">
                                            <label><span class="red">*</span>Document Type</label>
                                            <p-dropdown placeholder="{{'ERP.SELECT'| translate}}" formControlName="kycDocumentTypeId"
                                                [options]="docTypeList" id="kycDocumentTypeId"  [(ngModel)]="groupKycDeatilsModel.kycDocumentTypeId"
                                                (onChange)="onChangeDocumnetTypesChange()">
                                            </p-dropdown>
                                        </div>
                                        </div>
                                        <div class="form-label">
                                            <label *ngIf="!isPanNumber"><span class="red">*</span>Document Number</label>
                                            <label *ngIf="isPanNumber"><span class="red">*</span>Pan Number(AFZPK7190K)</label>
                                            <input id="documentNumber" type="text" formControlName="documentNumber" pInputText
                                                [(ngModel)]="groupKycDeatilsModel.documentNumber" placeholder="Enter Document Number">
                                            <p-message severity="error" text="Enter Valid Number"
                                                *ngIf="!groupKYCForm.controls['documentNumber'].valid && groupKYCForm.controls['documentNumber'].dirty">
                                            </p-message>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-label">
                                            <label><span class="red">*</span>Name as per Document</label>
                                            <input id="nameAsPerDocument" type="text" pInputText formControlName="nameAsPerDocument"
                                                [(ngModel)]="groupKycDeatilsModel.nameAsPerDocument" placeholder="Enter Name As Per Document">
                                                <p-message severity="error" text="Enter Valid Name As Per Document"
                                                *ngIf="!groupKYCForm.controls['nameAsPerDocument'].valid && groupKYCForm.controls['nameAsPerDocument'].dirty">
                                            </p-message>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-label">
                                                <span class=""><span class="red">*</span>{{ 'MEMBERSHIP_TRANSACTION.DOCUMENT_COPY' | translate }}{{
                                                    'MEMBERSHIP_TRANSACTION.FILE_SIZE_FOR_BOTH' | translate }} </span>
                                                <div class="uplodad-style align-items-center">
                                                    <!-- Upload Button Column -->
                                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                                        id="apply-leave_fileUp_attach" chooseLabel=" " name="file" accept=".png,.jpg,.jpeg"
                                                        (onRemove)="fileRemoveEvent()" (onSelect)="imageUploader($event,fileUpload )">
                                                    </p-fileUpload>
                                                    <div class="col-12  d-flex p-1 contant-body" *ngFor="let img of groupKycDeatilsModel.multipleFilesList">
                                                        <span *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                            <a href="{{img.imageValue}}">
                                                                <img src="{{img.imageValue}}" width="22" height="22">
                                                            </a>
                                                        </span>
                                                        <!-- <span *ngIf="img.fileType=='pdf'">
                                                            <a href="{{img.imageValue}}"> <img src="assets/images/pdficon-img.png" width="22" height="22"></a>
                                                        </span> -->
                                                        <span class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                                            {{img.fileName}}
                                                        </span>
                                        
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-label">
                                            <div class="ml-2"><span class="red">*</span>{{ 'MEMBERSHIP_TRANSACTION.DOCUMENT_COPY' | translate }} </div>
                                            <div class="uplodad-style align-items-center">
        
                                                <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                                    chooseLabel=" " id="apply-leave_fileUp_attach" name="file"
                                                    accept=".png,.jpg,.jpeg,.pdf" [customUpload]="true" (onRemove)="fileRemoveEvent()"
                                                    (onSelect)="imageUploader($event,fileUpload)"
                                                   >
                                                </p-fileUpload>
                                                <div class="col-12  d-flex p-1 contant-body" *ngFor="let img of groupKycDeatilsModel.multipleFilesList">
                                                    <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                        <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22" height="22"></a>
                                                    </div>
                                                    <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                                        {{img.fileName}}</div>
                                                    
                                                </div>
                                            </div>
                                            </div>
        
                                        </div> -->
                        
                                        
                                        <div class="col-12">
                                            <div class="justify-content-end d-flex">
                                                <p-button label="{{'cancel' | translate}}" (onClick)="editCancle()"></p-button>
                                                <p-button label="{{'save' | translate}}" [disabled]="!groupKYCForm.valid || !saveButtonDisable"
                                                    (onClick)="editsave(groupKycDeatilsModel)"></p-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <!-- add form -->
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2" *ngIf="addDocumentOfKycFalg">
                            <div class="col-12 p-3 py-2 global-border bg-label-colorfull">
                            <div class="row g-3 mt-n1 ">
                                <div class="form-label">
                                    <label><span class="red">*</span>Promoter Name</label>
                                    <p-dropdown placeholder="{{'ERP.SELECT'| translate}}" formControlName="promoter" [options]="promotersList"
                                        id="docTypeId" [(ngModel)]="groupKycDeatilsModel.promoterId">
                                    </p-dropdown>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-label">
                                    <label><span class="red">*</span>Document Type</label>
                                    <p-dropdown placeholder="{{'ERP.SELECT'| translate}}" formControlName="kycDocumentTypeId"
                                        [options]="docTypeList" id="kycDocumentTypeId" [(ngModel)]="groupKycDeatilsModel.kycDocumentTypeId"
                                        (onChange)="onChangeDocumnetTypesChange()">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="form-label">
                                <label *ngIf="!isPanNumber"><span class="red">*</span>Document Number</label>
                                <label *ngIf="isPanNumber"><span class="red">*</span>Pan Number(AFZPK7190K)</label>
                                <input id="documentNumber" type="text" formControlName="documentNumber" pInputText
                                    [(ngModel)]="groupKycDeatilsModel.documentNumber" placeholder="Enter Document Number">
                                <p-message severity="error" text="Enter Valid Number"
                                    *ngIf="!groupKYCForm.controls['documentNumber'].valid && groupKYCForm.controls['documentNumber'].dirty">
                                </p-message>
                            </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-label">
                                    <label><span class="red">*</span>Name as per Document</label>
                                    <input id="nameAsPerDocument" type="text" pInputText formControlName="nameAsPerDocument"
                                        [(ngModel)]="groupKycDeatilsModel.nameAsPerDocument" placeholder="Enter Name as per Document">
                                        <p-message severity="error" text="Enter Valid Name As Per Document"
                                        *ngIf="!groupKYCForm.controls['nameAsPerDocument'].valid && groupKYCForm.controls['nameAsPerDocument'].dirty">
                                    </p-message>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                <div class="ml-2"> <span class="red">*</span>{{'MEMBERSHIP_TRANSACTION.DOCUMENT_COPY' |translate}}{{'MEMBERSHIP_TRANSACTION.FILE_SIZE_FOR_BOTH' | translate }}</div>
                                <div class="uplodad-style align-items-center">

                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                            id="apply-leave_fileUp_attach" chooseLabel=" " name="file" accept=".png,.jpg,.jpeg"
                                            (onRemove)="fileRemoveEvent()"
                                            (onSelect)="imageUploader($event,fileUpload )">
                                        </p-fileUpload>
                                </div>
                                </div>
                            </div>
                                <div class="col-12">
                                    <div class="justify-content-end d-flex">
                                        <p-button  label="{{'cancel' | translate}}" (click)="cancel()"></p-button>
                                        <p-button  [disabled]="!groupKYCForm.valid || !saveButtonDisable" label="{{'save' | translate}}"
                                            (click)="saveKyc(groupKycDeatilsModel)"></p-button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>

<p-dialog [(visible)]="displayDialog" [closable]="false" styleClass="delete-popup" [responsive]="true">
    <div class="col-12">
        <i class="fa fa-times-circle text-center" aria-hidden="true"></i>
    
        <p class="text-center popup-header">{{'ERP.ARE_YOU_SURE_TO_DELETE' | translate}}</p>
        <p class="text-center pop-subheader">{{'ERP.DO_YOU_REALLY_TO_DELETE_THESE_RECORDS' | translate}}</p>
  
    </div>
    <div class="col-12 text-center p-2">
            <p-button pRipple class="yes-button" label="{{'ERP.DELETE' | translate}}" (click)="submitDelete()"></p-button>
            <p-button pRipple class="no-button" label="{{'ERP.CANCEL' | translate}}" (click)="cancelForDialogBox()"></p-button>
    </div>
  </p-dialog>

    <!-- KYC Photo Copy -->
<p-dialog header="{{'ERP.DOCUMENT_COPY' | translate}}" [(visible)]="kycPhotoCopyZoom" [modal]="true" [maximizable]="true" (onResize)="onDialogResize($event)" styleClass="doc-photo-dialog">
    <div class="col-12">
    <div *ngFor="let img of multipleFilesList">
        <div class="mb-3 imgcustom-class" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
            <!-- <a href="{{img.imageValue}}"> -->
                <img src="{{img.imageValue}}" class="doc-photocopy">
            <!-- </a> -->
        </div>
        <div class="mb-3 imgcustom-class" *ngIf=" img.fileType =='pdf'">
            <!-- <a href="{{img.imageValue}}"> -->
                <img src="assets\images\pdf.png" class="doc-photocopy">
            <!-- </a> -->
        </div>
    </div>
</div>
</p-dialog>