<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <h6 class="sub-heading">{{'ERP.DOCUMENTS' | translate}}</h6>
    <div class="stepper-top-section-strip">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 stepper-top-product-name-background">
                <div class="form-group">
                    <span>{{'ERP.PRODUCT_NAME' | translate}}</span>
                    <p class="mb-0">{{accountsModel.productName}}</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group ml-2">
                    <span>{{'ERP.ACCOUNT_NUMBER' | translate}}</span>
                    <p class="mb-0">{{accountsModel.accountNumber}}</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group ml-2">
                    <span>{{'ERP.ACCOUNT_TYPE' | translate}}</span>
                    <p class="mb-0">{{accountsModel.accountTypeName}}</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.DEPOSIT_AMOUNT' | translate}}</span>
                    <p class="mb-0">{{depositAmount}}</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                    <p class="mb-0">{{admissionNumber}}</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <span>{{'ERP.DEPOSIT_DATE' | translate}}</span>
                    <p class="mb-0">{{depositDate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12"></div>
    <form [formGroup]="requiredForm" id="exit_types_form">
        <p-button icon="fa fa-plus" label="{{'ERP.ADD_ANOTHER_DOCUMENT' | translate}}"
            (click)="addDocument($event)" [disabled]="buttonDisabled" class="kyc-btnm-0"></p-button>
            <p class="label-input-text text-danger mt-2" *ngIf="mandatoryDoxsTextShow">Note : {{requiredDocumentsNamesText}}</p>
        <div class="col-12 p-0 pt-2">
            <div class="row g-3">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" *ngFor="let document of kycModelList ; let i = index">
                    <div class="stepper-doc-card p-3 mb-2" *ngIf="editIndex != i || editDocumentOfKycFalg">
                        <!-- view card -->
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 d-flex align-items-center">
                                <div class="card-leftbody">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <h6 class="label-view">{{ 'ERP.DOCUMENT_TYPE' | translate }}</h6>
                                        <p class="label-input-text">{{document.requiredDocumentTypeName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <h6 class="label-view">{{'ERP.DOCUMENT_NUMBER' | translate }}</h6>
                                        <p class="label-input-text">{{document.documentNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h6 class="label-view">{{'ERP.NAME_AS_PER_DOCUMENT' | translate }}</h6>
                                        <p class="label-input-text">{{document.nameAsPerDocument}}
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 justify-content-end d-flex right-actions">
                                <div class="cardview-icon icon-size text-right cursor-pointer -mt-1" (click)="onClickdocPhotoCopy(document)"><i
                                        class="fa fa-eye mr-3" aria-hidden="true" pTooltip="{{'ERP.VIEW_DOC' | translate}}" tooltipPosition="top"></i></div>
                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn" (click)="toggleEditForm(i ,document)"
                                    [disabled]="editButtonDisable" pTooltip="{{'ERP.EDIT' | translate}}" tooltipPosition="top"></p-button>
                                <p-button icon="fa fa-trash" class="kyc-edit-btn ml-3" (click)="deletDilogBox(document)" pTooltip="{{'ERP.DELETE' | translate}}" tooltipPosition="top"></p-button>
                            </div>
                        </div>
                    </div>

                    <!-- Edit form -->
                    <div class="col-12 global-border bg-label-colorfull p-3"
                        *ngIf="editIndex === i  && !editDocumentOfKycFalg">
                        <div class="row g-3 mt-n1">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{ 'ERP.DOCUMENT_TYPE' | translate }}</label>
                                    <p-dropdown placeholder="{{'ERP.SELECT'| translate}}"
                                        formControlName="requiredDocumentTypeName" [options]="documentNameList"
                                        id="docTypeId" [(ngModel)]="requiredDocumentDetails.requiredDocumentTypeId">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{'ERP.DOCUMENT_NUMBER' | translate }}</label>
                                    <input id="documentNumber" type="text" formControlName="documentNumber"
                                        [(ngModel)]="requiredDocumentDetails.documentNumber" pInputText
                                        placeholder="Enter Document Number">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{'ERP.NAME_AS_PER_DOCUMENT' | translate }}</label>
                                    <input id="nameAsPerDocument" type="text" pInputText formControlName="nameAsPerDocument"
                                        [(ngModel)]="requiredDocumentDetails.nameAsPerDocument" placeholder="Enter Name As Per Document">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <div class="ml-2"> <span class="red">*</span> {{ 'ERP.DOCUMENT_COPY' | translate }} {{ 'DAILYDEPOSITS.PDF_SIZE' | translate }}</div>
                                    <div class="uplodad-style align-items-center">
                                    <!-- Upload Button Column -->
                                
                                        <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]" chooseLabel=" " id="apply-leave_fileUp_attach" name="file"
                                            accept=".pdf" (onRemove)="fileRemoeEvent()"  [customUpload]="true" formContralName="fileUpload" (onSelect)="imageUploader($event,fileUpload)">
                                        </p-fileUpload>
                                
                                    <!-- Uploaded Files Display Column -->
                                    <div class="col-12 d-flex p-1 contant-body" *ngFor="let img of requiredDocumentDetails.multipartFileList">
                                        <span *ngIf="img.fileType=='pdf'">
                                            <a href="{{img.imageValue}}"> <img src="assets/images/pdficon-img.png" width="22" height="22"></a>
                                        </span>
                                        <span class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                            {{img.fileName}}
                                        </span>
                                    </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="justify-content-end d-flex">
                                    <p-button label="{{'cancle' | translate}}" (onClick)="editCancle()"></p-button>
                                    <p-button label="{{'save' | translate}}" [disabled]="!requiredForm.valid || !isFileUploaded"
                                        (onClick)="editsave(requiredDocumentDetails)"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- add form -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" *ngIf="addDocumentOfKycFalg">
                    <div class="col-12  p-3 global-border bg-label-colorfull">
                        <div class="row g-3 mt-n1">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{ 'ERP.DOCUMENT_TYPE' | translate }}</label>
                                    <p-dropdown placeholder="{{'ERP.SELECT'| translate}}" formControlName="requiredDocumentTypeName"
                                        [options]="documentNameList" id="docTypeId"
                                        [(ngModel)]="requiredDocumentDetails.requiredDocumentTypeId">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{'ERP.DOCUMENT_NUMBER' | translate }}</label>
                                    <input id="documentNumber" type="text" formControlName="documentNumber"
                                        [(ngModel)]="requiredDocumentDetails.documentNumber"
                                        placeholder="Enter Document Number">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{'ERP.NAME_AS_PER_DOCUMENT' | translate }}</label>
                                    <input id="nameAsPerDocument" type="text" pInputText formControlName="nameAsPerDocument"
                                        [(ngModel)]="requiredDocumentDetails.nameAsPerDocument" placeholder="Enter Name As Per Document">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <div class="ml-2"> <span class="red">*</span> {{ 'ERP.DOCUMENT_COPY' | translate }} {{ 'DEMANDDEPOSITS.PDF_SIZE' | translate }}</div>
                                    <div class="uplodad-style align-items-center">
                                        <!-- Upload Button Column -->
                            
                                        <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]" chooseLabel=" "
                                            id="apply-leave_fileUp_attach" name="file" accept=".pdf" (onRemove)="fileRemoeEvent()"
                                            [customUpload]="true" formContralName="fileUpload" (onSelect)="imageUploader($event,fileUpload)">
                                        </p-fileUpload>
                            
                                        <!-- Uploaded Files Display Column -->
                                        <div class="col-12 d-flex p-1 contant-body" *ngFor="let img of requiredDocumentDetails.multipartFileList">
                                            <span *ngIf="img.fileType=='pdf'">
                                                <a href="{{img.imageValue}}"> <img src="assets/images/pdficon-img.png" width="22" height="22"></a>
                                            </span>
                                            <span class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                                {{img.fileName}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>

                            <div class="col-12">
                                <div class="justify-content-end d-flex">
                                    <p-button label="{{'cancle' | translate}}" (click)="cancel()"></p-button>
                                    <p-button label="{{'save' | translate}}" [disabled]="!requiredForm.valid || !isFileUploaded"
                                        (click)="saveDocument(requiredDocumentDetails)"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<p-dialog [(visible)]="displayDialog" [closable]="false" styleClass="delete-popup" [responsive]="true">
    <div class="col-12">
        <i class="fa fa-times-circle text-center" aria-hidden="true"></i>

        <p class="text-center popup-header">{{'ERP.ARE_YOU_SURE_TO_DELETE' | translate}}</p>
        <p class="text-center pop-subheader">{{'ERP.DO_YOU_REALLY_TO_DELETE_THESE_RECORDS' | translate}}</p>

    </div>
    <div class="col-12 text-center p-2">
        <p-button pRipple class="yes-button" label="{{'ERP.DELETE' | translate}}" (click)="submitDelete()"></p-button>
        <p-button pRipple class="no-button" label="{{'ERP.CANCEL' | translate}}"
            (click)="cancelForDialogBox()"></p-button>
    </div>
</p-dialog>

<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [(visible)]="docPhotoCopyZoom" [modal]="true" [maximizable]="true" (onResize)="onDialogResize($event)" styleClass="doc-photo-dialog">
    <div class="col-12">
    <div *ngFor="let img of multipleFilesList">
        <div class="mb-3" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                <img src="{{img.imageValue}}" class="doc-photocopy">
        </div>
        <div class="mb-3" *ngIf=" img.fileType =='pdf'">
                <img src="assets\images\pdf.png" class="doc-photocopy">
        </div>
    </div>
</div>
</p-dialog>