<!-- <router-outlet></router-outlet> -->
<div class="col-12">
        <div class="row justify-content-between top-header-section px-0">
            <div class="main-heading mt-1 justify-content-start">{{'AGENT_DETAILS_TRANSACTION.AGENT_DETAILS' | translate}}</div>
            <!-- <div class="justify-content-end view-popup-top">
                <p-button label="{{'ERP.RENEWAL_ACCOUNTS' | translate}}" [outlined]="true" badge="1" class="top-badge-btn"></p-button>
                <p-button label="{{'ERP.MATURED_ACCOUNTS' | translate}}" [outlined]="true" badge="3" class="top-badge-btn"></p-button>
            </div> -->
        </div>
        <div class="row">
        <div class="col-12 summary-carousel ">
            <div class="main-summary">
                <span class="box-text-summary">Summary</span>
            </div>
        </div>

    <div class="col-12">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="col-12 p-0 filter-button">
                <p-button icon="pi pi-filter" label="SEARCH FILTER" (click)="onChange()"></p-button>
                
            </div>
        </div>
        
        
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="col-12 p-0">
                <div class="d-flex justify-content-end search-input-style">
                    <div class="input-group search-box d-flex justify-content-end">
                        <div class="search">
                            <span class="p-input-icon-right">
                                <i class="pi pi-search global-search-icon"></i>
                                <!-- <input type="text" pInputText class="searchbox" placeholder="Search" /> -->
                                <input autocomplete="off" type="text" id="skill_category_txt_search" pInputText
                                placeholder="Search" class="searchbox"
                                #searchInput>
                            <!-- <span><i class="fa fa-search"></i></span> -->
                            </span>
                        </div>
                    </div>

                            <p-button (click)="addAgentDetails()" label="Agent Registration" icon="fa fa-plus" iconPos="left"></p-button>  
                </div>
            </div>
        </div>
       
    </div>
    </div>
    </div>
   <!-- Flter-section start -->
   <div class="col-12 p-0" *ngIf="showForm">
    <div class="col-12 global-border search-filter-open">
          <div class="row p-2 pt-0">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="username">{{'AGENT_DETAILS_TRANSACTION.ACCOUNT_NUMBER' | translate}}
                    </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter Account Number">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="username">{{'AGENT_DETAILS_TRANSACTION.NAME' | translate}}
                    </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter Name">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="username">{{'AGENT_DETAILS_TRANSACTION.AADHAR_NUMBER' | translate}}
                    </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter Aadhaar Number">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="username">{{'AGENT_DETAILS_TRANSACTION.PAN_NUMBER' | translate}}
                    </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter Pan Number">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="username">{{'AGENT_DETAILS_TRANSACTION.MOBILE_NUMBER' | translate}}
                    </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter Mobile Number">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="form-label">
                    <label for="username">{{'AGENT_DETAILS_TRANSACTION.VILLAGE' | translate}}
                    </label>
                    <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter Village">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end pt-3 pr-2">
                <p-button label="Apply" (click)="onChange()"></p-button>
            </div>            
          </div>
      </div>
  </div>
  <!-- Flter-section End -->


    <div class="globel-border-top-color"></div>

        <p-table  #dt  [value]="gridListData"[columns]="columns" dataKey="id" selectionMode="single"
         [rows]="5" [paginator]="true" [pageLinks]="1" [responsive]="true" styleClass="p-datatable-striped"
         [showJumpToPageDropdown]="true" [showPageLinks]="false"  rowExpandMode="single">
            <ng-template pTemplate="header">
                <!-- <th> </th> -->
                <tr>
                <!-- <th *ngFor="let col of columns">
                    {{col.header | translate}}
                </th> -->
                <th>{{'AGENT_DETAILS_TRANSACTION.ADMISSION_NUMBER' | translate}}</th>
                <th>{{'AGENT_DETAILS_TRANSACTION.AGENT_NAME' | translate}}</th>
                <th>{{'AGENT_DETAILS_TRANSACTION.CONTACT' | translate}}</th>
                <th>{{'AGENT_DETAILS_TRANSACTION.COLLECTION_TYPE' | translate}}</th>
                <th>{{'AGENT_DETAILS_TRANSACTION.ASSIGNED_NO_OF_PRODUCTS' | translate}}</th>
                <th>{{'AGENT_DETAILS_TRANSACTION.ASSIGNED_NO_OF_ACCOUNTS' | translate}}</th>
                <th>{{'AGENT_DETAILS_TRANSACTION.STATUS' | translate}}</th>
                <th class="width-15em">{{'AGENT_DETAILS_TRANSACTION.ACTION' | translate}}</th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-cashcounter>
                <tr [pSelectableRow]="rowData">
                    <!-- <td><img src="./../assets/images/person.jpg" class="image" /></td> -->
                    <!-- <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td> -->
                    <td>
                        <div class="d-block">
                            <span><img class="table-circle-image" src="assets/images/avata2r-table.png" /></span>
                            <span class="account-number-style" (click)="editAgentDetails(rowData)">{{
                                rowData.admissionNumber }}</span>
                        </div>
                    </td>
                    <td>{{rowData.name}}</td>
                    <td>{{rowData.mobileNumber}}</td>
                    <td>{{rowData.collectiontype}}</td>
                    <td>{{rowData.depositAmount}}</td>
                    <td>{{ rowData.depositDate}}</td>
                    <td>{{rowData.statusName}}</td>


                    <td>
                        <div class="global-action-btn flex align-items-center justify-content-center">

                            <p-button label="{{'AGENT_DETAILS_TRANSACTION.VIEW' | translate}}" class="action-view" (click)="viewAgentDetails(rowData)"></p-button>
                            <p-dropdown id="bunit_txt_status" placeholder="operations" [filter]="true"
                                [options]="agentOperationsList" [(ngModel)]="operations" class="action-operation"
                                (onChange)="navigateToInfoDetails($event,rowData)" [appendTo]="'body'"></p-dropdown>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="status-counts">  
            <span class="active-div">
                <span class="status-circle active"></span>ACTIVE : {{ activeStatusCount }}
            </span>
            <span class="inactive-div">
                <span class="status-circle inactive"></span>INACTIVE: {{ inactiveStatusCount }}
            </span>   
        </div>
        <div class="col-12 margtop-3rem"></div>
    </div>