<div class="col-12">

    <div class="stepper-top-section-strip">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                    <span>{{'ERP.MEMBER_TYPE' | translate}}</span>
                    <p class="mb-0">individual(class-B)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                    <span>{{'ERP.NAME' | translate}}</span>
                    <p class="mb-0">Rajasekhar</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                    <span>{{'ERP.AADHAR_NUMBER' | translate}}</span>
                    <p class="mb-0">B.E/B.tech</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                    <span>{{'ERP.MOBILE_NUMBER' | translate}}</span>
                    <p class="mb-0">9789978956</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12"></div>



    <form [formGroup]="communicationform">
        <h6 class="sub-heading">{{'ERP.COMMUNICATION' | translate}}<span class="admission-text">(Admission
                Number:&nbsp;123456789)</span></h6>

        <div class="col-12 bg-label-colorfull p-0">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <h6 class="super-sub-heading">Registered</h6>
                    <div class="col-12 global-border">
                        <div class="col-12">
                            <div class="row g-3 mt-n1">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label>{{'ERP.STATES' | translate}}</label>

                                        <p-dropdown optionLabel="name" placeholder="Select"></p-dropdown>

                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label>{{'ERP.DISTRICTS' | translate}}</label>

                                        <p-dropdown optionLabel="name" placeholder="Select "></p-dropdown>

                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label> {{'ERP.MANDAL/TESHIL' | translate}}</label>

                                        <p-dropdown optionLabel="name" placeholder="Select "></p-dropdown>

                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label>{{'ERP.VILLAGES' | translate}} </label>

                                        <p-dropdown optionLabel="name" placeholder="Select "></p-dropdown>

                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label for="code"> {{'ERP.ADDRESS1' | translate}} </label>
                                        <textarea type="text" class="form-control" pInputTextarea placeholder="House No., Door No., Landmark..etc"></textarea>
                                    </div>
                                </div>
                               
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label for="username">{{'ERP.PINCODE' | translate}} </label>
                                        <input pInputText id="bunit_txt_name" maxlength="40" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="d-flex justify-content-between mt-xl-0 mt-lg-0 mt-4">
                        <h6 class="super-sub-heading">{{'ERP.PERMANENT' | translate}}</h6>
                        <div class="grid mr-3">

                            <p-inputSwitch formControlName="isSameAddress"></p-inputSwitch>
                            <p class="pl-1 m-0">{{'ERP.SAME_AS_REGISTERED_ADDRESS' | translate}}</p>

                        </div>
                    </div>

                    <div class="col-12 global-border">
                        <div class="col-12">
                            <div class="row  g-3  mt-n1">

                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label>{{'ERP.STATES' | translate}}</label>
                                        <div>
                                            <p-dropdown optionLabel="name" placeholder="Select"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label>{{'ERP.DISTRICTS' | translate}}</label>
                                        <div>
                                            <p-dropdown optionLabel="name" placeholder="Select "></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label>{{'ERP.MANDAL/TESHIL' | translate}}</label>
                                        <div>
                                            <p-dropdown optionLabel="name" placeholder="Select "></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label>{{'ERP.VILLAGE' | translate}} </label>
                                        <div>
                                            <p-dropdown optionLabel="name" placeholder="Select "></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label for="code">
                                            {{'ERP.ADDRESS1' | translate}}
                                        </label>
                                    </div>

                                    <textarea type="text" class="form-control" pInputTextarea placeholder="House No., Door No., Landmark..etc"></textarea>
                                </div>
                              
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-label">
                                        <label for="username">{{'ERP.PINCODE' | translate}}
                                        </label>
                                    </div>
                                    <input pInputText id="bunit_txt_name" maxlength="40" type="text">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>

</div>