
<div class="col-12">
       
    <div class="stepper-top-section-strip">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <span>{{'ERP.PRODUCT' | translate}}</span>
                    <p class="mb-0">{{siLoanApplicationModel.siProductName}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <span>{{'ERP.OPERATION_TYPE' | translate}}</span>
                    <p class="mb-0">{{siLoanApplicationModel.operationTypeName}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <span>{{'ERP.LOAN_ACCOUNT_NO' | translate}}</span>
                    <p class="mb-0">{{siLoanApplicationModel.accountNumber}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                    <span>{{'ERP.REQUEST_AMOUNT' | translate}}</span>
                    <p class="mb-0">{{siLoanApplicationModel.requestedAmount}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12"></div>
    <h6 class="sub-heading">{{'ERP.GUARANTOR_DETAILS' | translate}}</h6>
    <!-- <h6 class="sub-heading">{{'ERP.GUARANTOR_DETAILS' | translate}}<span class="admission-text">(Admission
        Number:&nbsp;{{admissionNumber}})</span></h6> -->
    <form [formGroup]="siLoanGuarantorForm" id="exit_types_form">
        <div class="mt-n1 bg-label-colorfull">
            <div class="row g-3">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <label for="number"> <span class="red">*</span>{{'ERP.ADMISSION_NUMBER' | translate}} </label>
                    <p-multiSelect [options]="allTypesOfmembershipList" [(ngModel)]="selectedMembers"
                        optionLabel="label" optionValue="value" placeholder="Select"  [showClear]="false" (onClear)="onClear($event)"
                        (onChange)="OnChangeAdmissionNumber(selectedMembers)" formControlName="admissionNo">
                    </p-multiSelect>
            
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12" *ngIf="selectedMembers.length > 0">
                        <label for="noguarantors">{{ 'ERP.NO_OF_GUARANTORS' | translate }}</label>
                        <input  type="text" pInputText value="{{selectedMembers.length }}" [disabled]="true" placeholder="Enter No of Guarantors"/>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2"></div>
        <div  class="col-12 p-3 mem-details-stripbox" *ngIf="selectedList.length > 0">
            <div class="col-auto rounded bg-white mb-2" *ngFor="let member of selectedList">
                <div class="d-flex">
                    <div class="col">
                    <img class="mem-details-stripimage" src="assets/images/avata2r-table.png" alt="secondaryholder-image" />
                    </div>
                    <div class="col"></div>
                    <div class="w-100 mt-1 mb-2 h-90p">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span class="label-view">{{ 'ERP.NAME' | translate }}</span>
                                <p class="label-input-text text-break m-0">{{ member.name }}</p>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span class="label-view">{{ 'ERP.CONTACT' | translate }}</span>
                                <p class="label-input-text text-break m-0">{{ member.mobileNumber }}</p>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span class="label-view">{{ 'ERP.AADHAR_NUMBER' | translate }} </span>
                                <p class="label-input-text text-break m-0">{{ member.aadharNumber }}</p>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span class="label-view">{{ 'ERP.EMAIL' | translate }}</span>
                                <p class="label-input-text text-break m-0">{{ member.emailId }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

