<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start">{{'LOANS.SIMPLE_INTEREST_LOANS' | translate}} <i
                    class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'ERP.COLLECTION_DETAILS' | translate}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-25-right">
            <!-- member ship card -->
            <div class="col-12 sb-side-services-card  border-light" *ngIf="memberTypeName == 'Individual'">
                <div class="col-12">
                    <h5 class="transaction-side-card-header">{{'ERP.ACCOUNT_DETAILS' | translate}}</h5>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.ACCOUNT_NUMBER' | translate}}</p>
                    <p class="font-semibold m-0">{{siLoanApplicationModel.accountNumber}}</p>
                </div>

                <div class="col-12 pic-sig-status">
                    <div class="d-flex justify-content-center">
                        <div *ngFor="let img of membershipBasicDetailsModel.multipartFileListForPhotoCopy"
                            (click)="onClickMemberPhotoCopy()">
                            <div *ngIf="photoCopyFlag">
                                <span class="{{img.imageValue}}"
                                    *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                    <!-- <a href="{{img.imageValue}}" (clicl)="onClickMemberPhotoCopy()"></a> -->
                                    <img src="{{img.imageValue}}" class="image-user cursor-pointer">
                                </span>
                            </div>
                            <div *ngIf="!photoCopyFlag">
                                <span>
                                    <img src="assets/images/no-image.jpg" class="image-user cursor-pointer">
                                </span>
                            </div>
                        </div>
                        <p class="active-status"></p>
                        <div *ngFor="let img of membershipBasicDetailsModel.multipartFileListForsignatureCopyPath"
                            (click)="onClickMemberPhotoCopy()">
                            <div *ngIf="photoCopyFlag">
                                <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                    *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                    <!-- <a href="{{img.imageValue}}" (clicl)="onClickMemberPhotoCopy()"></a> -->
                                    <img src="{{img.imageValue}}" class="image-sign cursor-pointer">
                                </span>
                            </div>
                            <div *ngIf="!photoCopyFlag">
                                <span>
                                    <img src="assets/images/no-image.jpg" class="image-sign cursor-pointer">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.ADMISSION_NUMBER' | translate}}</p>
                    <p class="font-semibold m-0">{{membershipBasicDetailsModel.tempAdmissionNumber}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.NAME' | translate}}</p>
                    <p class="font-semibold m-0">{{membershipBasicDetailsModel.name}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.PRODUCT_NAME' | translate}}</p>
                    <p class="font-semibold m-0">{{siLoanApplicationModel.siProductName}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.SANCTION_AMOUNT' | translate}}</p>
                    <p class="font-semibold m-0">{{siLoanApplicationModel.sanctionAmount}}</p>
                </div>

                <div class="col-12 min-h-50px">
                    <div class="grid">
                        <div class="col-6 text-white text-break">
                            <p class="m-0">{{'LOANS.DISBURSMENT_AMOUNT' | translate}}</p>
                            <p class="font-semibold m-0">{{disburmentAmount}} </p>
                        </div>
                        <div class="col-6 text-white  text-break">
                            <p class="m-0">{{'LOANS.UNIT_NUMBER' | translate}}</p>
                            <p class="font-semibold m-0">--</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'LOANS.COLLECTION_AMOUNT' | translate}}</p>
                    <p class="font-semibold m-0">{{dueAmount}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.TOTAL_OUTSTANDING_AMOUNT' | translate}}</p>
                    <p class="font-semibold m-0">{{nextDisbursmentDate}}</p>
                </div>

                <div class="col-12 min-h-50px">
                    <div class="grid">
                        <div class="col-6 text-white text-break">
                            <p class="m-0">{{'LOANS.LOAN_APPROVED_DATE' | translate}}</p>
                            <p class="font-semibold m-0">{{siLoanApplicationModel.loanApprovedDateVal}}</p>
                        </div>
                        <div class="col-6 text-white  text-break">
                            <p class="m-0">{{'LOANS.LOAN_DUE_DATE' | translate}}</p>
                            <p class="font-semibold m-0">{{disbursmentDueDate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 color-light justify-content-end text-right">
                    <a class="fst-italic text-light cursor-pointer"
                        (click)="onClickMemberIndividualMoreDetails()">{{'ERP.MORE_DETAILS' | translate}}</a>
                </div>
            </div>
            <div class="col-12 sb-side-services-card  border-light" *ngIf="memberTypeName == 'Group'">
                <div class="col-12">
                    <h5 class="transaction-side-card-header">{{'ERP.ACCOUNT_DETAILS' | translate}}</h5>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.ACCOUNT_NUMBER' | translate}}</p>
                    <p class="font-semibold m-0">{{siLoanApplicationModel.accountNumber}}</p>
                </div>
                <div class="col-12 pic-sig-status text-break">
                    <div class="d-flex justify-content-center">
                        <img src="assets/images/no-image.jpg" class="image-user">
                        <p class="active-status"></p>
                        <img src="assets/images/no-image.jpg" class="image-sign">
                    </div>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.ADMISSION_NUMBER' | translate}}</p>
                    <p class="font-semibold m-0">{{membershipGroupDetailsModel.tempAdmissionNumber}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.NAME' | translate}}</p>
                    <p class="font-semibold m-0">{{membershipGroupDetailsModel.name}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.PRODUCT_NAME' | translate}}</p>
                    <p class="font-semibold m-0">{{siLoanApplicationModel.siProductName}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.SANCTION_AMOUNT' | translate}}</p>
                    <p class="font-semibold m-0">{{siLoanApplicationModel.sanctionAmount}}</p>
                </div>

                <div class="col-12 min-h-50px">
                    <div class="grid">
                        <div class="col-6 text-white text-break">
                            <p class="m-0">{{'LOANS.DISBURSMENT_AMOUNT' | translate}}</p>
                            <p class="font-semibold m-0">{{disburmentAmount}} </p>
                        </div>
                        <div class="col-6 text-white  text-break">
                            <p class="m-0">{{'LOANS.UNIT_NUMBER' | translate}}</p>
                            <p class="font-semibold m-0">--</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'LOANS.COLLECTION_AMOUNT' | translate}}</p>
                    <p class="font-semibold m-0">{{dueAmount}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.TOTAL_OUTSTANDING_AMOUNT' | translate}}</p>
                    <p class="font-semibold m-0">{{nextDisbursmentDate}}</p>
                </div>

                <div class="col-12 min-h-50px">
                    <div class="grid">
                        <div class="col-6 text-white text-break">
                            <p class="m-0">{{'LOANS.LOAN_APPROVED_DATE' | translate}}</p>
                            <p class="font-semibold m-0">{{siLoanApplicationModel.loanApprovedDateVal}}</p>
                        </div>
                        <div class="col-6 text-white  text-break">
                            <p class="m-0">{{'LOANS.LOAN_DUE_DATE' | translate}}</p>
                            <p class="font-semibold m-0">{{disbursmentDueDate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 color-light justify-content-end text-right">
                    <a class="fst-italic text-light cursor-pointer"
                        (click)="onClickOfGroupPromotes()">{{'ERP.MORE_DETAILS' |
                        translate}}</a>
                </div>
            </div>
            <div class="col-12 sb-side-services-card  border-light" *ngIf="memberTypeName == 'Institution'">
                <div class="col-12">
                    <h5 class="transaction-side-card-header">{{'ERP.ACCOUNT_DETAILS' | translate}}</h5>
                </div>

                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.ACCOUNT_NUMBER' | translate}}</p>
                    <p class="font-semibold m-0">{{siLoanApplicationModel.accountNumber}}</p>
                </div>
                <div class="col-12 pic-sig-status text-break">
                    <div class="d-flex justify-content-center">
                        <img src="assets/images/no-image.jpg" class="image-user">
                        <p class="active-status"></p>
                        <img src="assets/images/no-image.jpg" class="image-sign">
                    </div>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.ADMISSION_NUMBER' | translate}}</p>
                    <p class="font-semibold m-0">{{membershipInstitutionDetailsModel.tempAdmissionNumber}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.NAME' | translate}}</p>
                    <p class="font-semibold m-0">{{membershipInstitutionDetailsModel.name}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.PRODUCT_NAME' | translate}}</p>
                    <p class="font-semibold m-0">{{siLoanApplicationModel.siProductName}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.SANCTION_AMOUNT' | translate}}</p>
                    <p class="font-semibold m-0">{{siLoanApplicationModel.sanctionAmount}}</p>
                </div>

                <div class="col-12 min-h-50px">
                    <div class="grid">
                        <div class="col-6 text-white text-break">
                            <p class="m-0">{{'LOANS.DISBURSMENT_AMOUNT' | translate}}</p>
                            <p class="font-semibold m-0">{{disburmentAmount}} </p>
                        </div>
                        <div class="col-6 text-white  text-break">
                            <p class="m-0">{{'LOANS.UNIT_NUMBER' | translate}}</p>
                            <p class="font-semibold m-0">--</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'LOANS.COLLECTION_AMOUNT' | translate}}</p>
                    <p class="font-semibold m-0">{{dueAmount}}</p>
                </div>
                <div class="col-12 min-h-50px text-white text-break ">
                    <p class="m-0">{{'ERP.TOTAL_OUTSTANDING_AMOUNT' | translate}}</p>
                    <p class="font-semibold m-0">{{nextDisbursmentDate}}</p>
                </div>

                <div class="col-12 min-h-50px">
                    <div class="grid">
                        <div class="col-6 text-white text-break">
                            <p class="m-0">{{'LOANS.LOAN_APPROVED_DATE' | translate}}</p>
                            <p class="font-semibold m-0">{{siLoanApplicationModel.loanApprovedDateVal}} </p>
                        </div>
                        <div class="col-6 text-white  text-break">
                            <p class="m-0">{{'LOANS.LOAN_DUE_DATE' | translate}}</p>
                            <p class="font-semibold m-0">{{disbursmentDueDate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 color-light justify-content-end text-right">
                    <a class="fst-italic text-light cursor-pointer"
                        (click)="onClickInstitutionMoreDetails()">{{'ERP.MORE_DETAILS' | translate}}</a>
                </div>


            </div>
            <!-- member card end -->
        </div>
        <div class="col-75-fullmidd">
            <form [formGroup]="collectionForm">
                <div class="col-12 p-2 bg-card bg-label-colorfull">
                    <div class="mt-n1 p-2">
                        <div class="row g-3 mb-3">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{'ERP.DUE_AS_ON_DATE' | translate}}
                                    </label>
                                        <input pInputText formControlName="dueAsOnDate" placeholder="Enter Amount"
                                        id="bunit_txt_name" maxlength="40" type="text"
                                        [(ngModel)]="siCollectionModal.dueAsOnDate">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{'LOANS.COLLECTION_AMOUNT' | translate}}
                                    </label>
                                    <input pInputText formControlName="collectionAmount" placeholder="Enter Amount"
                                        id="bunit_txt_name" maxlength="40" type="text"
                                        [(ngModel)]="siCollectionModal.totalCollectionAmount">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="form-label">
                                    <label>{{'LOANS.TRANSACTION_DATE' | translate}}
                                    </label>
                                    <p-calendar [showIcon]="true" [dateFormat]="orgnizationSetting.calendar"
                                        id="calendar" name="calendar" formControlName="transactionDate"
                                        [(ngModel)]="siCollectionModal.transactionDateVal"
                                        placeholder="DD/MM/YYYY"></p-calendar>

                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="form-label">
                                    <label for="username">{{'LOANS.PAYMENT_MODE' | translate}}
                                    </label>
                                    <p-dropdown [options]="paymentMethodOptions" placeholder="Select"
                                        formControlName="paymentMode"
                                        [(ngModel)]="siCollectionModal.paymentMode" [appendTo]="'body'">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mb-3">
                       
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="form-label">
                                <label for="code">
                                    {{'LOANS.REFERENCE_NUMBER' | translate}}
                                </label>
                                <input pInputText formControlName="referenceNumber" placeholder="Enter Amount" id="bunit_txt_name"
                                    maxlength="40" type="text" [(ngModel)]="siCollectionModal.referenceNumber">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row g-3 mb-3">
                        <p-table [value]="transactionHistoryList" dataKey="id" selectionMode="single"
                        [columns]="siLoanCollectionColumns" styleClass="p-datatable-striped" [rows]="5"
                        [showJumpToPageDropdown]="true" [paginator]="true" [responsive]="true" rowExpandMode="single"
                        [showPageLinks]="false" [pageLinks]="1">
    
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th>
                                    {{'LOANS.DEBIT' | translate}}
                                </th>
                                <th></th>
                                <th></th>
                                <th>
                                    {{'LOANS.CREADIT' | translate}}
                                </th>
                                <th></th>
                                <th></th>
                                <th>
                                    {{'LOANS.OUT_STANDING_PRINCIPAL' | translate}}
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>
                                    {{'LOANS.CHARGES' | translate}}
                                    
                                </th>
                                <th>
                                    {{'LOANS.INTEREST' | translate}}
                                </th>
                                <th>
                                    {{'LOANS.PRINCIPAL' | translate}}
                                </th>
                                <th>
                                    {{'LOANS.CHARGES' | translate}}
                                    
                                </th>
                                <th>
                                    {{'LOANS.INTEREST' | translate}}
                                </th>
                                <th>
                                    {{'LOANS.PRINCIPAL' | translate}}
                                </th>
                                <th>
                                    {{'LOANS.CHARGES' | translate}}
                                    
                                </th>
                                <th>
                                    {{'LOANS.INTEREST' | translate}}
                                </th>
                                <th>
                                    {{'LOANS.PRINCIPAL' | translate}}
                                </th>
                                <th>
                                    {{'LOANS.TOTAL_OUT_STANDING_PRINCIPAL' | translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-accounttypes>
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of siLoanCollectionColumns">
                                   
                                    <div class="status-style statussubmissionforapproval" *ngIf="(col.field =='statusName') && rowData.submissionForApproval"> {{rowData[col.field]}}</div>
                                    <div class="status-style statusactive" *ngIf="(col.field =='statusName') && rowData.approved"> {{rowData[col.field]}}</div>
                                    <div class="status-style statuspending" *ngIf="(col.field =='statusName') && rowData.scheduled"> {{rowData[col.field]}}</div>
                                    <div class="status-style statuspending" *ngIf="(col.field =='statusName') && rowData.requestForResubmmission"> {{rowData[col.field]}}</div>
                                    <div *ngIf="(col.field !='statusName')"> {{rowData[col.field]}}</div>
    
                                    
                                </td>
                                <td>
                                    <div class="global-action-btn flex align-items-center justify-content-center">
                                        <p-button class="action-edit" label="{{'ERP.EDIT' | translate}}"
                                            [disabled]="isEditDeleteButtonEnable"
                                            (click)="editCollection(rowData)"></p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    </div>
                    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 btn-footer mt-4">
                        <div class="col-12 d-flex justify-content-end p-0 pt-4 group-button-bottom">
                            <p-button label="{{'ERP.BACK' | translate}}" (click)="navigateToBack()"></p-button>
                            <p-button label="{{'ERP.CLEAR' | translate}}" (click)="cancelOrRefresh()"></p-button>
                            <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!collectionForm.valid"
                                (click)="addOrUpdate()"></p-button>
                        </div>
                    </div>

                </div>

            </form>

            <div class="col-12 p-1"></div>
            <div class="col-12 p-3 bg-light-card">
                <div class="flex justify-content-between py-2">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <div class="sub-heading mt-1">{{'ERP.COLLECTION_DETAILS' | translate}}</div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <div class="col-12 p-0">
                            <div class="d-flex justify-content-end search-input-style">
                                <div class="input-group search-box d-flex justify-content-end">
                                    <div class="search mr-0">
                                        <span class="p-input-icon-right">
                                            <i class="pi pi-search global-search-icon"></i>
                                            <input autocomplete="off" type="text" id="skill_category_txt_search"
                                                pInputText placeholder="Search" class="searchbox">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="globel-border-top-color"></div>
                <p-table [value]="siLoanCollectionList" dataKey="id" selectionMode="single"
                    [columns]="siLoanCollectionColumns" styleClass="p-datatable-striped" [rows]="5"
                    [showJumpToPageDropdown]="true" [paginator]="true" [responsive]="true" rowExpandMode="single"
                    [showPageLinks]="false" [pageLinks]="1">

                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of siLoanCollectionColumns">
                                {{col.header | translate}}
                            </th>
                            <th class="width-15em">{{'ERP.ACTION' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-accounttypes>
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of siLoanCollectionColumns">
                               
                                <div class="status-style statussubmissionforapproval" *ngIf="(col.field =='statusName') && rowData.submissionForApproval"> {{rowData[col.field]}}</div>
                                <div class="status-style statusactive" *ngIf="(col.field =='statusName') && rowData.approved"> {{rowData[col.field]}}</div>
                                <div class="status-style statuspending" *ngIf="(col.field =='statusName') && rowData.created"> {{rowData[col.field]}}</div>
                                <div class="status-style statuspending" *ngIf="(col.field =='statusName') && rowData.requestForResubmmission"> {{rowData[col.field]}}</div>
                                <div *ngIf="(col.field !='statusName')"> {{rowData[col.field]}}</div>

                                
                            </td>
                            <td>
                                <div class="global-action-btn flex align-items-center justify-content-center">
                                    <p-button class="action-edit" label="{{'ERP.EDIT' | translate}}"
                                        [disabled]="isEditDeleteButtonEnable"
                                        (click)="editCollection(rowData)"></p-button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="col-12 margtop-3rem">{{'ERP.TOTAL_DISBURSEMENT_AMOUNT' | translate}} {{totalDisbursement}}</div>
                <div class="col-12 margtop-3rem"></div>
            </div>
        </div>
    </div>
</div>


<!-- Individual details dialog -->
<div class="view-moredetails-popup">
    <p-dialog header="Basic Details" [modal]="true" [(visible)]="membreIndividualFlag" [style]="{ width: '55vw' }">
        <div class="col-12 view-morepopup">
            <div class="d-flex justify-content-center px-3 py-0 mb-2">
                <div *ngIf="!this.membershipBasicDetailsModel.photoCopyPath">
                    <img src="assets/images/no-image.jpg" class="image-user">
                </div>
                <div class="px-0" *ngFor="let img of membershipBasicDetailsModel.multipartFileListForPhotoCopy">
                    <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="{{img.imageValue}}" class="image-user">
                        <!-- </a> -->
                    </div>
                    <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="assets\images\pdf.png" class="image-user">
                        <!-- </a> -->
                    </div>
                </div>
                <!-- <p class="active-status"></p> -->
                <div *ngIf="!this.membershipBasicDetailsModel.signatureCopyPath">
                    <img src="assets/images/no-image.jpg" class="image-sign">
                </div>
                <div class="px-0" *ngFor="let img of membershipBasicDetailsModel.multipartFileListForsignatureCopyPath">
                    <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="{{img.imageValue}}" class="image-sign">
                        <!-- </a> -->
                    </div>
                    <div class="col-12 p-0" *ngIf=" img.fileType =='pdf'">
                        <!-- <a href="{{img.imageValue}}"> -->
                        <img src="assets\images\pdf.png" class="image-sign">
                        <!-- </a> -->
                    </div>
                </div>
            </div>


            <!-- <div class="d-flex justify-content-center mb-4" *ngIf ="!photoCopyFlag">
                    <div>
                        <img src="assets/images/no-image.jpg" class="image-user">
                    </div>
                    <p class="active-status"></p>
                    <div>
                        <img src="assets/images/no-image.jpg" class="image-sign">
                    </div>
                </div> -->

        </div>
        <div class="col-12 text-center popup-basic-details mt-5 pt-3">
            <span class="fw-semibold">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
            <p class="fw-bold">{{membershipBasicDetailsModel.tempAdmissionNumber}}</p>
        </div>
        <div class="col-12 popup-basic-details">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MEMBER_TYPE' | translate}}</span>
                        <p class="fw-semibold">{{ membershipBasicDetailsModel.memberTypeName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.SURNAME' | translate}}</span>
                        <p class="fw-semibold">{{ membershipBasicDetailsModel.surname}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.NAME' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.name}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.DATE_OF_BIRTH' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.dobVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.AGE' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.age}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.GENDER' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.genderName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MARITAL_STATUS' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.maritalStatusName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.RELATION_WITH_MEMBER' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.relationTypeName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.RELATION_NAME' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.relativeName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.QUALIFICATION' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.qualificationName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.OCCUPATION' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.occupationName }}</p>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.AADHAR_NO' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.aadharNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.PAN_NO' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.panNumber }}</p>
                    </div>
                </div> -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MOBILE_NUMBER' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.mobileNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.EMAIL' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.emailId }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.CASTE' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.casteName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.COMMUNITYS' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.communityName }}</p>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.admissionNumber}}</p>
                    </div>
                </div> -->
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12" >
                    <div class="form-group">
                        <span class="fw-light">{{'MEMBERSHIP_TRANSACTION.RESOLUTION_NUMBER' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.mcrNumber }}</p>
                    </div>
                </div> -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.ADMISSION_DATE' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.admissionDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.ADMISSION_FEE' | translate}}</span>
                        <p class="fw-semibold">{{membershipBasicDetailsModel.admissionFee}}</p>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>

<!-- institution Promoter details dialog -->
<div class="view-moredetails-popup">
    <p-dialog header="More Basic Details" [(visible)]="institutionPromoterPromoterFlag" styleClass="moredetails-style">
        <div class="col-12 view-morepopup">
            <div class="d-flex justify-content-center px-3 py-0 mb-2">
                <img src="assets/images/no-image.jpg" class="image-user">
                <!-- <p class="active-status"></p> -->
                <img src="assets/images/no-image.jpg" class="image-sign">
            </div>
        </div>
        <div class="col-12 text-center popup-basic-details mt-5 pt-3">
            <span class="fw-semibold">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
            <p class="fw-bold">{{membershipInstitutionDetailsModel.tempAdmissionNumber}}</p>
        </div>
        <div class="col-12 popup-basic-details">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.NAME' | translate}}</span>
                        <p class="label-input-text">{{membershipInstitutionDetailsModel.name}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                        <p class="label-input-text">{{membershipInstitutionDetailsModel.tempAdmissionNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                        <p class="label-input-text">{{membershipInstitutionDetailsModel.memberTypeName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                        <p class="label-input-text">{{membershipInstitutionDetailsModel.admissionDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.REGISTERED_DATE' | translate}}</span>
                        <p class="label-input-text">{{membershipInstitutionDetailsModel.registrationDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.CONTACT' | translate}}</span>
                        <p class="label-input-text">{{membershipInstitutionDetailsModel.pocNumber}}</p>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                <div class="form-group">
                    <span class="label-view">{{'ERP.EMAIL' | translate}}</span>
                    <p class="label-input-text">{{membershipInstitutionDetailsModel.emailId}}</p>
                </div>
            </div> -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                        <p class="label-input-text">{{membershipInstitutionDetailsModel.panNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.TAN_NO' | translate}}</span>
                        <p class="label-input-text">{{membershipInstitutionDetailsModel.tanNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.GST_NO' | translate}}</span>
                        <p class="label-input-text">{{membershipInstitutionDetailsModel.gstNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.KYC' | translate}}</span>
                        <p class="label-input-text">{{isKycApproved}}</p>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-12"></div>
        <h6 class="super-sub-heading">{{'ERP.INSTITUTION_PROMOTER_DETAILS' | translate}}</h6>

        <div class="globel-border-top-color"></div>
        <p-table #dt [columns]="groupPrmoters" [value]="institutionPromoter" dataKey="id"
            styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true"
            [showPageLinks]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let promoter of columns ">{{promoter.header | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let promoter of columns ">{{rowData[promoter.field]}}</td>
                </tr>
            </ng-template>
        </p-table>
        <!-- <ng-template pTemplate="footer">
            <p-button class="pull-right" label="{{'ERP.CLOSE' | translate}}" (click)="close()"></p-button>
        </ng-template> -->

        <div class="col-12"></div>


    </p-dialog>
</div>

<!-- group prmoter details dialog -->
<div class="view-moredetails-popup">
    <p-dialog header="More Basic Details" [(visible)]="groupPromotersPopUpFlag" styleClass="moredetails-style">
        <div class="col-12 view-morepopup">
            <div class="d-flex justify-content-center px-3 py-0 mb-2">
                <img src="assets/images/no-image.jpg" class="image-user">
                <!-- <p class="active-status"></p> -->
                <img src="assets/images/no-image.jpg" class="image-sign">
            </div>
        </div>
        <div class="col-12 text-center popup-basic-details mt-5 pt-3">
            <span class="fw-semibold">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
            <p class="fw-bold">{{membershipGroupDetailsModel.tempAdmissionNumber}}</p>
        </div>
        <div class="col-12 popup-basic-details">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.NAME' | translate}}</span>
                        <p class="label-input-text">{{membershipGroupDetailsModel.name}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                        <p class="label-input-text">{{membershipGroupDetailsModel.tempAdmissionNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.MEMBER_TYPE' | translate}}</span>
                        <p class="label-input-text">{{membershipGroupDetailsModel.memberTypeName}}</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.REGISTERED_DATE' | translate}}</span>
                        <p class="label-input-text">{{membershipGroupDetailsModel.registrationDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.ADMISSION_DATE' | translate}}</span>
                        <p class="label-input-text">{{membershipGroupDetailsModel.admissionDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.CONTACT' | translate}}</span>
                        <p class="label-input-text">{{membershipGroupDetailsModel.pocNumber}}</p>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                                <div class="form-group">
                                    <span class="label-view">{{'ERP.EMAIL' | translate}}</span>
                                    <p class="label-input-text">{{membershipGroupDetailsModel.emailId}}</p>
                                </div>
                            </div> -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.TAN_NO' | translate}}</span>
                        <p class="label-input-text">{{membershipGroupDetailsModel.tanNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.PAN_NO' | translate}}</span>
                        <p class="label-input-text">{{membershipGroupDetailsModel.panNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.GST_NO' | translate}}</span>
                        <p class="label-input-text">{{membershipGroupDetailsModel.gstNumber}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
                    <div class="form-group">
                        <span class="label-view">{{'ERP.KYC' | translate}}</span>
                        <p class="label-input-text">{{isKycApproved}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12"></div>
        <h6 class="super-sub-heading">{{'ERP.GROUP_PROMOTER_DETAILS' | translate}}</h6>
        <div class="globel-border-top-color"></div>
        <p-table #dt [columns]="promoterDetails" [value]="promoterDetails" editMode="row"
            styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true"
            [showPageLinks]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single"
            [globalFilterFields]="['surname', 'name', 'operatorTypeName', 'dob', 'age', 'genderName', 'maritalStatusName', 'mobileNumber', 'aadharNumber', 'emailId', 'startDate']">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let promoter of groupPrmoters ">{{promoter.header | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-editing="editing" let-ri="rowIndex">
                <tr>
                    <td *ngFor="let promoter of groupPrmoters ">{{row[promoter.field]}}</td>
                </tr>
            </ng-template>
        </p-table>
        <!-- <ng-template pTemplate="footer">
                    <p-button class="pull-right" label="{{'ERP.CLOSE' | translate}}"(click)="close()"></p-button>
                </ng-template> -->

        <div class="col-12"></div>


    </p-dialog>
</div>

<!--Individual photo Copy dialog -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [(visible)]="memberPhotoCopyZoom" styleClass="photo-dialog">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div>
                    <div *ngFor="let img of membershipBasicDetailsModel.multipartFileListForPhotoCopy">
                        <div *ngIf="photoCopyFlag">
                            <span class="{{img.imageValue}}"
                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                <!-- <a href="{{img.imageValue}}" (clicl)="onClickMemberPhotoCopy()"></a> -->
                                <img src="{{img.imageValue}}" class="popup-images">
                            </span>
                        </div>
                        <div *ngIf="!photoCopyFlag">
                            <span>
                                <img src="assets/images/no-image.jpg" class="popup-images">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div>
                    <div *ngFor="let img of membershipBasicDetailsModel.multipartFileListForsignatureCopyPath">
                        <div *ngIf="photoCopyFlag">
                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                <!-- <a href="{{img.imageValue}}" (clicl)="onClickMemberPhotoCopy()"></a> -->
                                <img src="{{img.imageValue}}" class="popup-images">
                            </span>
                        </div>
                        <div *ngIf="!photoCopyFlag">
                            <span>
                                <img src="assets/images/no-image.jpg" class="popup-images">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- <div class="col-12">
                    <div class="d-flex justify-content-end">
        <p-button class="action-edit" label="{{'ERP.CLOSE' | translate}}" (click)="closePhoto()"></p-button>
        </div> -->
</p-dialog>