<div class="col-12">
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start">Loans<i class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'ERP.VIEW' | translate}}</div>
        </div>
    </div>

    <div class="col-12 p-0">
        <div class="row">
    <!-- Leftside card -->
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 left-sidecard">
        <div class="col-12 side-card-view">
            <div class="col-12 inner-border">
                <h6 class="side-card-header">{{'ERP.BASIC_DETAILS' | translate}}</h6>
                <div class="row">
            <!-- Image-part -->
            <div class="col-xl-12 col-lg-12 col-md-3 col-sm-4 col-xs-4">
                <div class="text-center ht-3rem">
                    <span class="text-fontwt">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
                    <p class="font-semibold text-break"></p>
                </div>
            
                <div class="col-12 pic-sig-status">
                    <div class="d-flex justify-content-center mb-4">
                        <img src="assets/images/avatar-table.png" class="image-user">
                        <p class="active-status"></p>
                        <img src="assets/images/sign.png" class="image-sign">
                    </div>
                    <p class="member-name"><span class="font-semibold text-break border-bottom"></span></p>
                </div>
                </div>
                
                <div class="col-xl-12 col-lg-12 col-md-9 col-sm-8 col-xs-8 mt-3">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card">
                            <span class="basicdata-icons icon-size"><i class="fa fa-id-card-o"></i></span>
                            <div>
                                <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                <p class="label-input-text"></p>
            </div>
        </div>
            <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card">
                <span class="basicdata-icons icon-size"><i class="fa fa-calendar"></i></span>
                <div>
                    <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                    <p class="label-input-text"></p>
                </div>
            </div>
                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card">
                    <span class="basicdata-icons icon-size"><i class="fa fa-calendar"></i></span>
                    <div>
                        <p class="label-view text-fontwt">{{'ERP.DATE_OF_BIRTH' | translate}}&{{'ERP.AGE' | translate}}</p>
                    <p class="label-input-text"></p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card">
                <span class="basicdata-icons icon-size"><i class="fa fa-phone-square"></i></span>
                <div>
                    <p class="label-view text-fontwt">{{'ERP.CONTACT' | translate}}</p>
                    <p class="label-input-text"></p>
                </div>
            </div>
                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card">
                    <span class="basicdata-icons icon-size"><i class="fa fa-envelope"></i></span>
                    <div>
                        <p class="label-view text-fontwt">{{'ERP.EMAIL' | translate}}</p>
                    <p class="label-input-text"></p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card">
                <span class="basicdata-icons icon-size"><i class="fa fa-address-card-o"></i></span>
                <div>
                    <p class="label-view text-fontwt">{{'ERP.AADHAR_NUMBER' | translate}} </p>
                    <p class="label-input-text"></p>
                </div>
            </div>
                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card">
                    <span class="basicdata-icons icon-size"><i class="fa fa-address-card-o"></i></span>
                    <div>
                        <p class="label-view text-fontwt">{{'ERP.PAN_NUMBER' | translate}}</p>
                    <p class="label-input-text"></p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card">
                <div class="col-10 d-flex p-0">
                    <span class="basicdata-icons icon-size"><i class="fa fa-check-circle-o"></i></span>
                    <div>
                    <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                    <p class="label-input-text">Approved</p>
                </div>
                    </div>
                <div class="col-2 kyc-done icon-size text-right"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 moredetails-text">
                <p>More Details</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 right-content">
    <p-scrollPanel styleClass="scroll-class">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-12 p-0">
                    <div class="global-card-bg-color view-carddata icon-size">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex">
                                        <span class="card-icon"><i class="fa fa-id-badge"></i></span>
                                        <h6 class="sub-heading mt-1">{{'ERP.PRODUCT_DETAILS' | translate}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <h6 class="subsuper-sub-heading mt-1">{{'ERP.APPLICATION_DETAILS' | translate}}</h6>
               
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.PRODUCT' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.LOAN_ACCOUNT_NUMBER' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.ROI' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.APPLICATION_DATE' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.MIN_LOAN_PERIOD_IN_MONTHS' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.MAX_LOAN_PERIOD_IN_MONTHS' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.PENAL_ROI' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.IOD' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.REPAYMENT_FREQUENCY' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.IS_ANY_LOANS_HAVING_IN_OTHER_BANKS' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.OTHER_BANKS_LOAN_DUE_AMOUNT' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.LOAN_PURPOSES' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.OPERATION_TYPE' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.REQUEST_AMOUNT' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.SANCTION_AMOUNT' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.LOAN_PERIOD_IN_MONTHS' | translate}}s</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.LOAN_DUE_DATE' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.TOTAL_DISBURSEMENT_UNITS' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.DISBURSEMENT_AMOUNT' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.DISBURSEMENT_DUE_AMOUNT' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.APPLICATION_FEE' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.PROCESSING_FEE' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.CGST_PA' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.SGST_PA' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.IGST_PA' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.TOTAL_CHARGES_AMOUNT' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                </div>

                <div class="row">
                    <h6 class="subsuper-sub-heading mt-1">{{'ERP.OTHER_BANK_LOAN_OUTSTANDING_DETAILS' | translate}} </h6>
                </div>
               <div class="globel-border-top-color"></div>
                        <p-table [value]="loansViewList" dataKey="id" selectionMode="single" styleClass="p-datatable-striped" [showJumpToPageDropdown]="true" [showPageLinks]="false"
                            [rows]="5" [paginator]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{'ERP.BANK_NAME' | translate}}</th>
                                    <th>{{'ERP.ACCOUNT_NUMBER' | translate}}</th>
                                    <th>{{'ERP.LOAN_AMOUNT' | translate}}</th>
                                    <th>{{'ERP.OUTSTANDING_AMOUNT' | translate}}</th>
                                    <th>{{'ERP.LOAN_DATE' | translate}}</th>
                                    <th>{{'ERP.LOAN_DUE_DATE' | translate}}</th>
                                    <th>{{'ERP.FILE' | translate}}</th>
                                    <th>{{'ERP.STATUS' | translate}}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-loansViewList>
                                <tr>
                                    <td>{{ loansViewList.BankName }}</td>
                                    <td>{{ loansViewList.AccountNumber }}</td>
                                    <td>{{ loansViewList.LoanAmount }}</td>
                                    <td>{{ loansViewList.OutstandingAmount}}</td>
                                    <td>{{ loansViewList.LoanDate }}</td>
                                    <td>{{ loansViewList.LoanDueDate }}</td>
                                    <td>{{ loansViewList.File }}</td>
                                    <td>{{ loansViewList.Status}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="col-12 margtop-3rem"></div>
                        <div class="col-12 p-2"></div>
                        <div class="row">
                            <h6 class="subsuper-sub-heading mt-1">{{'ERP.LAND_AND_CROP_DETAILS' | translate}}</h6>
                              
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.VILLAGES' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.SURVEY_NO' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.TOTAL_LAND_IN_ACRES' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.SEASON' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.CROP' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.SOIL_TYPE' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.LAND_TYPE' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.SOIL_TYPE' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                </div>
            
                <div class="row">
                    <h6 class="subsuper-sub-heading mt-1">{{'ERP.INSURANCR_DETAILS' | translate}}</h6>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.POLICY_NAME' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.POLICY_NUMBER' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.INSURENCE_AMOUNT' | translate}}</h6>
                        <p class="label-input-text"></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.UPLOAD' | translate}}</h6>
                        <p class="label-input-text view-pdficon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><span></span></p>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-12 p-1"></div>
    <div class="col-lg-4 col-md-4 col-sm-12 content-100 gap-right">
        <div class="col-12 p-0">
            <div class="global-card-bg-color view-carddata icon-size communication-cardht pb-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
        <div class="d-flex">
            <span class="card-icon"><i class="fa fa-map-marker"></i></span>
            <h6 class="sub-heading mt-1">{{'ERP.COMMUNICATION' | translate}}</h6>
        </div>
    </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ht-3rem">
                    <h6 class="subsuper-sub-heading mt-1">{{'ERP.REGISTERED' | translate}}</h6>
                    <p class="label-input-text"></p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 ht-3rem">
                    <h6 class="subsuper-sub-heading mt-2">{{'ERP.PERMANENT' | translate}}</h6>
                    <p class="label-input-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
    <div class="col-12 p-1 padding-show"></div>
    <div class="col-lg-8 col-md-8 col-sm-12 content-100 gap-left">
        <div class="col-12 p-0">
            <div class="global-card-bg-color view-carddata icon-size">
                <div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="d-flex">
                <span class="card-icon"><i class="fa fa-podcast"></i></span>
                <h6 class="sub-heading mt-1">{{'ERP.KYC' | translate}}</h6>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ht-3rem">
                        <h6 class="label-view">{{'ERP.APPROVED_ON' | translate}}</h6>
                    <p class="label-input-text"></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ht-3rem">
                    <h6 class="label-view">{{'ERP.STATUS' | translate}}</h6>
                    <p class="label-input-text"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12 kycdoc-image">
                    <div class="d-flex">
                        <div class="global-border text-center bg-white">
                            <p class="m-0 doc-image-text">Aadhar</p>
                            <div class="col-12 p-0 kycdoc-boxsize">
                        <img src="assets/images/aadhar.png" class="aadhar-img">
                        </div>
                    </div>
                    <div class="global-border text-center bg-white">
                        <p class="m-0 doc-image-text">PAN</p>
                        <div class="col-12 p-0 kycdoc-boxsize">
                        <img src="assets/images/pan.png" class="pan-img">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 px-0">
                <p class="conform-ps m-0">Is Photo and Signature Approved : <b>Yes</b></p>
            </div>
        </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    <div class="col-12 p-1"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-12 p-0">
            <div class=" global-card-bg-color view-carddata icon-size">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                    <div class="d-flex">
                        <span class="card-icon"><i class="fa fa-certificate"></i></span>
                        <h6 class="sub-heading mt-1">{{'ERP.LOAN_GUARANTOR' | translate}}</h6>
                    </div>
                </div>
            </div>
            <div class="globel-border-top-color"></div>
            <p-table [value]="loanGuarantorDetails"   dataKey="id" selectionMode="single"
            styleClass="p-datatable-striped" [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5" [paginator]="false" [pageLinks]="1" [responsive]="true"
                rowExpandMode="single">
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{'ERP.ADMISSION_NUMBER' | translate}}</th>
                        <th>{{'ERP.NAME' | translate}}</th>
                        <th>{{'ERP.FATHER_OR_SPOUSE_NAME' | translate}}</th>
                        <th>{{'ERP.AADHAR_NUMBER' | translate}}</th>
                        <th>{{'ERP.PAN_NUMBER' | translate}}</th>
                        <th>{{'ERP.MOBILE_NUMBER' | translate}}</th>
                        <th>{{'ERP.EMAIL' | translate}}</th>
                        <th>{{'ERP.OCCUPATION' | translate}}</th>
                        <th>{{'ERP.INCOME' | translate}}</th>
                        <th>{{'ERP.ADDRESS' | translate}}</th>
                        <th>{{'ERP.UPLOAD' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-loanGuarantorDetails>
                    <tr>
                        <td>{{ loanGuarantorDetails.AdmissionNumber }}</td>
                        <td>{{ loanGuarantorDetails.Name }}</td>
                        <td>{{ loanGuarantorDetails.FatherSpouseName }}</td>
                        <td>{{ loanGuarantorDetails.AadharNo }}</td>
                        <td>{{ loanGuarantorDetails.PanNo }}</td>
                        <td>{{ loanGuarantorDetails.MobileNo }}</td>
                        <td>{{ loanGuarantorDetails.email }}</td>
                        <td>{{ loanGuarantorDetails.Occupation }}</td>
                        <td>{{ loanGuarantorDetails.Income }}</td>
                        <td>{{ loanGuarantorDetails.Address }}</td>
                        <td>{{ loanGuarantorDetails.Upload }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="col-12 margtop-3rem"></div>
        </div>
    </div>
    </div>
    </div>
    <div class="col-12 p-1"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-12 p-0">
            <div class="global-card-bg-color view-carddata icon-size">
                <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex">
                            <span class="card-icon"><i class="fa fa-user-o"></i></span>
        <h6 class="sub-heading mt-1">{{'ERP.NOMINEE' | translate}}</h6>
        </div>
        </div>
        </div>

        <div class="col-12">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.TYPE_OF_NOMINEE' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.RELATIONSHIP_WITH_MEMBERSHIP' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.FULL_NAME' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.AGE' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.MOBILE_NUMBER' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.EMAIL' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.ADDRESS' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 kycdoc-position">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ht-3rem">
                    <h6 class="label-view">{{'ERP.AADHAR_NUMBER' | translate}}</h6>
                    <p class="label-input-text"></p>
                </div>
                <div class="col-12 kycdoc-image">
                    <div class="d-flex">
                        <div class="global-border text-center bg-white">
                            <p class="m-0 doc-image-text">Aadhar</p>
                            <div class="col-12 p-0 kycdoc-boxsize">
                        <img src="assets/images/aadhar.png" class="aadhar-img">
                        </div>
                    </div>
                    </div>
                </div>
        </div>

        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-12 p-1"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-12 p-0">
            <div class="global-card-bg-color view-carddata icon-size">
            <div class="col-12">
            <div class="row">
            <div class="col-6">
            <div class="d-flex">
            <span class="card-icon"><i class="fa fa-id-badge"></i></span>
            <h6 class="sub-heading mt-1">{{'ERP.LOAN_MORTAGAGE' | translate}}</h6>
        </div>
    </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.COLLATERAL' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.PASSBOOK_NUMBER' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.SURVEY_NO' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.LAND_TYPE' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.APPLICATION_DATE' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.MIN_LOAN_PERIOD_IN_MONTHS' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.MIN_LOAN_PERIOD_IN_MONTHS' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.UPLOAD' | translate}}</h6>
                <p class="label-input-text view-pdficon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><span></span></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ht-3rem">
                <h6 class="label-view">{{'ERP.REMARKS' | translate}}</h6>
                <p class="label-input-text"></p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-12 p-1"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-12 p-0">
            <div class=" global-card-bg-color view-carddata icon-size pb-3">
                <div class="col-12">
                <div class="row">
                    <div class="col-6">
                <div class="d-flex">
                    <span class="card-icon"><i class="fa fa-file-text"></i></span>
                    <h6 class="sub-heading mt-1">{{'ERP.LOAN_DOCUMENTS' | translate}}</h6>
                </div>
            </div>
            </div>
            <div class="globel-border-top-color"></div>
                <p-table [value]="loansDocuments" dataKey="id" selectionMode="single" styleClass="p-datatable-striped" [showJumpToPageDropdown]="true" [showPageLinks]="false"
                    [rows]="5" [paginator]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{'ERP.DOCUMENT_TYPE' | translate}}</th>
                            <th>{{'ERP.DOCUMENT_NO' | translate}}</th>
                            <th>{{'ERP.FILE_PATH' | translate}}</th>
                            <th>{{'ERP.REMARKS' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-loansDocuments>
                        <tr>
                            <td>{{ loansDocuments.DocumentType }}</td>
                            <td>{{ loansDocuments.DocumentNo }}</td>
                            <td>{{ loansDocuments.FilePath }}</td>
                            <td>{{ loansDocuments.Remarks }}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="col-12 margtop-3rem"></div>
           
        </div>
    </div>
    </div>
    </div>
    <div class="col-12 p-1"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-12 p-0">
            <div class=" global-card-bg-color view-carddata icon-size pb-3">
                <div class="col-12">
                <div class="row">
                    <div class="col-6">
                <div class="d-flex">
                    <span class="card-icon"><i class="fa fa-sitemap"></i></span>
                    <h6 class="sub-heading mt-1">{{'ERP.LOAN_GENEALOGY_TREE' | translate}}</h6>
                </div>
            </div>
            </div>
            <div class="globel-border-top-color"></div>
                <p-table [value]="loansDocuments" dataKey="id" selectionMode="single" styleClass="p-datatable-striped" [showJumpToPageDropdown]="true" [showPageLinks]="false"
                    [rows]="5" [paginator]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{'ERP.NAME' | translate}}</th>
                            <th>{{'ERP.RELATION_WITH_APPLICANT' | translate}}</th>
                            <th>{{'ERP.REMARKS' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-loansDocuments>
                        <tr>
                            <td>{{ loansDocuments.Name }}</td>
                            <td>{{ loansDocuments.RealtionWithApplicant }}</td>
                            <td>{{ loansDocuments.Remarks }}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="col-12 margtop-3rem"></div>
            </div>
        </div>
        </div>
        </div>
    </div>
    </p-scrollPanel>

    <div class="col-12 viewbottom-footer icon-size">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 mt-4">
                <p-button icon="fa fa-download" iconPos="left" pTooltip="Filename.pdf" tooltipPosition="top" ></p-button>
                <!-- <p-button  icon="fa fa-print" iconPos="left" pTooltip="Print" tooltipPosition="top"></p-button> -->
            </div>
            <div class="col-12 p-3 bottom-padding"></div>
            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 ht-3rem">
                <h6 class="label-view">{{'ERP.STATUS' | translate}}</h6>
                <p class="status-style statusactive">Approved</p>
            </div>
            <div class="col-12 p-3 bottom-padding"></div>
            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 ht-3rem">
                <h6 class="label-view">{{'ERP.REMARKS' | translate}}</h6>
                <p class="label-input-text">Successfully Completed</p>
            </div>
            <div class="col-xl-3 col-lg-12 col-md-3 col-sm-12 mt-4">
                <div class="d-flex justify-content-end">
                <p-button label="BACK"></p-button>
            </div>
            </div>
        </div>
    </div>
    <div class="col-12 m-2"></div>

</div>
</div>
</div>
</div>
