<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
    <div class="stepper-top-section-strip">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <span>{{'DEMANDDEPOSITS.PRODUCT_NAME' | translate}}</span>
                        <p class="m-0 font-semibold text-break">{{generalConfigModel.productName}}</p>
                </div>
            </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <span>{{'DEMANDDEPOSITS.MIN_BALANCE_FOR_ACCOUNT_OPEN' | translate}}</span>
                        <p class="m-0 font-semibold text-break">{{generalConfigModel.minDepositAmountForAccountOpen}}</p>
                </div>
            </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <span>{{'DEMANDDEPOSITS.ACCOUNT_INACTIVATION_PERIOD_IN_DAYS' | translate}}</span>
                        <p class="m-0 font-semibold text-break">{{generalConfigModel.accInactiveDays}}</p>
                </div>
            </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <span>{{'DEMANDDEPOSITS.EFFECTIVE_START_DATE' | translate}}</span>
                        <p class="m-0 font-semibold text-break">{{generalConfigModel.effectiveStartDate}}</p>
                </div>
            </div>
            </div>
    
        </div>
        <div class="col-12"></div>
<form [formGroup]="requiredDocumentsForm" id="exit_types_form">
        <div class="flex justify-content-between py-2">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="sub-heading mt-1">{{'DEMANDDEPOSITS.REQUIRED_DOCUMENTS' | translate}}</div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="col-12 p-0">
                        <div class="d-flex justify-content-end search-input-style">
                            <div class="input-group search-box d-flex justify-content-end">
                                <div class="search">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search global-search-icon"></i>
                                        <input autocomplete="off" type="text" id="skill_category_txt_search" pInputText
                                        placeholder="Search" class="searchbox"
                                        #searchInput (input)="dt.filterGlobal(searchInput.value, 'contains')">
                                    </span>
                                </div>
                            </div>
    
                            <p-button (click)="addRequirdDocuments()" label="Add" icon="fa fa-plus" iconPos="left"
                                id="add_btn" [disabled]="addButton"></p-button>
                        </div>
                    </div>
                </div>
            </div>         
            <div class="globel-border-top-color"></div>
                <p-table #dt  [value]="requiredDocumentsModelList" dataKey="id" editMode="row"styleClass="p-datatable-striped" 
                [paginator]="true" [pageLinks]="1" [rows]="10" [showJumpToPageDropdown]="true"
                [showPageLinks]="false" [responsive]="true" rowExpandMode="single"
                [globalFilterFields]="['documentTypeName','isRequired','fileUpload','effectiveStartDate','effectiveEndDate']">
              
                    <ng-template pTemplate="header">
                        <tr>
                            <th><span class="red">*</span>{{'DEMANDDEPOSITS.DOCUMENT_TYPE' | translate}}</th>
                            <th>{{'DEMANDDEPOSITS.MANDATORY' | translate}}</th>
                            <th class="width-15em">{{'DEMANDDEPOSITS.ACTION' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="rowData">
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown [options]="documenttypelist" formControlName="documentTypeName" 
                                        [(ngModel)]="rowData.documentTypeId" [appendTo]="'body'" (onChange)="documenttypeDuplicateCheck(rowData.documentTypeId)"
                                            placeholder="select"></p-dropdown>
                                    </ng-template>
                                    <ng-template
                                        pTemplate="output">{{rowData.documentTypeName}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    <p-dropdown [options]="requiredlist" formControlName="isRequired" 
                                                [(ngModel)]="rowData.isRequired" [appendTo]="'body'" 
                                                placeholder="select"></p-dropdown>
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    {{ rowData.isRequired ? 'Yes' : 'No' }}
                                  </ng-template>
                                </p-cellEditor>
                              </td>
                         
                             
                          
                            <td>
                                <div class="global-action-btn global-action-btn flex align-items-center justify-content-center">
                                <p-button *ngIf="editing"  [disabled]="!requiredDocumentsForm.valid" (click)="addOrUpdaterequiredDocuments(rowData)" pSaveEditableRow
                                    id="prj_stakehlder_bt_cancel" label="{{'ERP.SAVE'|translate }}"
                                    class="action-save">
                                </p-button>
                                <p-button *ngIf="editing" pCancelEditableRow id="prj_stakehlder_bt_cancel"  
                                    class="action-delete" (click)="cancelrequiredDocuments()" label="{{'ERP.CANCEL'|translate }}">
                                </p-button>
                                <p-button *ngIf="!editing" pInitEditableRow (click)="edirequiredDocumentsRow(rowData)"
                                   [disabled]="editDeleteDisable" label="{{'ERP.EDIT' | translate}}"
                                    id="prj_stakehlder_bt_edit" class='action-edit'></p-button>
                                </div>
        
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
        <div class="col-12 margtop-3rem"></div>

</form>
</div>