<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <div class="stepper-top-section-strip">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 stepper-top-product-name-background">
                <div class="form-group">
                <span>{{'INVESTMENTS_TRANSACTIONS.PRODUCT' | translate}}</span>
                <p class="mb-0">{{investmentApplicationDetailsModel.productName}}</p>
            </div>
        </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group ml-2">
                <span>{{'INVESTMENTS_TRANSACTIONS.BANK_NAME' | translate}}</span>
                <p class="mb-0">{{investmentApplicationDetailsModel.bankName}}</p>
            </div>
        </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                <span>{{'INVESTMENTS_TRANSACTIONS.ACCOUNT_NUMBER' | translate}}</span>
                <p class="mb-0">{{investmentApplicationDetailsModel.accountNumber}}</p>
            </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                <span>{{'INVESTMENTS_TRANSACTIONS.DEPOSIT_DATE' | translate}}</span>
                <p class="mb-0">{{investmentApplicationDetailsModel.depositDate}}</p>
            </div>
            </div>
        </div>
    </div>
    <div class="col-12"></div>


    <h6 class="sub-heading">{{'INVESTMENTS_TRANSACTIONS.INVESTMENT_ACCOUNT_DOCUMENTS' | translate}}<span
            class="admission-text">(Application Number:&nbsp;{{investmentApplicationDetailsModel.id}})</span></h6>
    <div class="col-12 px-0">
    <form [formGroup]="investmentAccountDocumentsForm" id="exit_types_form">
        <p-button icon="fa fa-plus" label="{{ 'INVESTMENTS_TRANSACTIONS.ADD_ANOTHER_DOCUMENT' | translate}}"
            (click)="addAccountDocuments($event)" [disabled]="buttonDisabled" *ngIf="showAddButton" class="kyc-btnm-0"></p-button>
        <div class="col-12 p-0 pt-2">
            <div class="row g-3">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let document of investmentAccountDocumentsList ; let i = index">
                    <div class="stepper-kyc-card p-3 mb-2" *ngIf="editIndex != i || editDocumentOfKycFalg">
                        <!-- view card -->
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 d-flex align-items-center">
                                <div class="card-leftbody">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <h6 class="label-view">Document TypeName</h6>
                                        <p class="label-input-text">{{document.requiredDocTypeName}}
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <h6 class="label-view">Document Number</h6>
                                        <p class="label-input-text">{{document.requiredDocNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <h6 class="label-view">Name As Per Document</h6>
                                        <p class="label-input-text docname-texteclipse">{{document.nameAsPerDocument}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 justify-content-end d-flex right-actions">
                                <div class="cardview-icon icon-size text-right cursor-pointer -mt-1" (click)="onClickdocPhotoCopy(document)"><i
                                    class="fa fa-eye mr-3" aria-hidden="true" pTooltip="{{'ERP.VIEW_DOC' | translate}}" tooltipPosition="top"></i></div>
                                    <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn"
                                        (click)="toggleEditForm(i ,document)"
                                        [disabled]="editButtonDisable" pTooltip="{{'ERP.EDIT' | translate}}" tooltipPosition="top"></p-button>
                                    <p-button icon="fa fa-trash" class="kyc-edit-btn ml-3"
                                        (click)="deletDilogBox(document)"
                                        [disabled]="editButtonDisable" pTooltip="{{'ERP.DELETE' | translate}}" tooltipPosition="top"></p-button>

                            </div>
                        </div>
                    </div>
                    <!-- Edit form -->
                    <div class="col-12 global-border bg-label-colorfull p-3"
                        *ngIf="editIndex === i  && !editDocumentOfKycFalg">
                        <div class="row g-3 mt-n1">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>Document Type</label>
                                    <p-dropdown placeholder="{{'INVESTMENTS_TRANSACTIONS.SELECT'| translate}}"
                                        formControlName="requiredDocTypeName" [options]="documentTypeList"
                                        id="requiredDocTypeId"
                                        (onChange)="documentDuplicateCheck(investmentAccountDocumentsModel.requiredDocTypeId)"
                                        [(ngModel)]="investmentAccountDocumentsModel.requiredDocTypeId">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>Document Number</label>
                                    <input id="requiredDocNumber" type="text" pInputText
                                        formControlName="requiredDocNumber"
                                        [(ngModel)]="investmentAccountDocumentsModel.requiredDocNumber"
                                        placeholder="Enter Document Number">
                                    <p-message severity="error" text="Enter Valid Doc Number"
                                        *ngIf="!investmentAccountDocumentsForm.controls['requiredDocNumber'].valid && investmentAccountDocumentsForm.controls['requiredDocNumber'].dirty">
                                    </p-message>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>Name As Per Document</label>
                                    <input id="nameAsPerDocument" type="text" pInputText
                                        formControlName="nameAsPerDocument"
                                        [(ngModel)]="investmentAccountDocumentsModel.nameAsPerDocument"
                                        placeholder="Enter Name As Per Document">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <span class="">{{ 'INVESTMENTS_TRANSACTIONS.UPLOAD_DOCUMENT' | translate }} </span>
                                    <div class="uplodad-style align-items-center">
                                        <!-- Upload Button Column -->

                                        <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                            chooseLabel=" " id="apply-leave_fileUp_attach" name="file"
                                            accept=".pdf" [customUpload]="true"
                                            (onRemove)="fileRemoveEvent()"
                                            (onSelect)="imageUploader($event,fileUpload)">
                                        </p-fileUpload>
                                        <div class="col-12  d-flex p-1 contant-body"
                                            *ngFor="let img of investmentAccountDocumentsModel.multipleFilesList">
                                            <!-- <div
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22"
                                                        height="22"></a>
                                            </div> -->
                                            <div *ngIf="img.fileType=='pdf'">
                                                <a href="{{img.imageValue}}"> <img src="assets\images\pdf.png" width="22" height="22"></a>
                                            </div>
                                            <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}"
                                                tooltipPosition="bottom">
                                                {{img.fileName}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="justify-content-end d-flex">
                                    <p-button label="{{'INVESTMENTS_TRANSACTIONS.CANCEL' | translate}}"
                                        (onClick)="editCancel()"></p-button>
                                    <p-button label="{{'INVESTMENTS_TRANSACTIONS.SAVE' | translate}}"
                                        [disabled]="!investmentAccountDocumentsForm.valid"
                                        (onClick)="editSaveAccountDocuments(investmentAccountDocumentsModel)"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- add form -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
                    *ngIf="addDocumentOfKycFalg">
                    <div class="col-12 p-3 global-border bg-label-colorfull">
                    <div class="row g-3 mt-n1">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-label">
                                <label><span class="red">*</span>Document Type</label>
                                <p-dropdown placeholder="{{'INVESTMENTS_TRANSACTIONS.SELECT'| translate}}"
                                    formControlName="requiredDocTypeName" [options]="documentTypeList"
                                    id="requiredDocTypeId"
                                    (onChange)="documentDuplicateCheck(investmentAccountDocumentsModel.requiredDocTypeId)"
                                    [(ngModel)]="investmentAccountDocumentsModel.requiredDocTypeId">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-label">
                                <label><span class="red">*</span>Document Number</label>
                                <input id="requiredDocNumber" type="text" pInputText formControlName="requiredDocNumber"
                                    [(ngModel)]="investmentAccountDocumentsModel.requiredDocNumber"
                                    placeholder="Enter Document Number">
                                <p-message severity="error" text="Enter Valid Doc Number"
                                    *ngIf="!investmentAccountDocumentsForm.controls['requiredDocNumber'].valid && investmentAccountDocumentsForm.controls['requiredDocNumber'].dirty">
                                </p-message>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-label">
                                <label><span class="red">*</span>Name As Per Document</label>
                                <input id="nameAsPerDocument" type="text" pInputText formControlName="nameAsPerDocument"
                                    [(ngModel)]="investmentAccountDocumentsModel.nameAsPerDocument"
                                    placeholder="Enter Name As Per Document">
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-label">
                                <span> {{'INVESTMENTS_TRANSACTIONS.UPLOAD_DOCUMENT' |translate}}</span>
                                <div class="uplodad-style align-items-center">

                                    <p-fileUpload #fileUpload name="myfile[]" id="apply-leave_fileUp_attach"
                                        chooseLabel=" " name="file" accept=".pdf" [customUpload]="true"
                                        (onSelect)="imageUploader($event,fileUpload)" formContralName="fileUpload">
                                    </p-fileUpload>
                                    <div class="col-12  d-flex p-1 contant-body" *ngFor="let img of investmentAccountDocumentsModel.multipleFilesList">
                                        <div *ngIf="img.fileType=='pdf'">
                                            <a href="{{img.imageValue}}"> <img src="assets\images\pdf.png" width="22" height="22"></a>
                                        </div>
                                        <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                            {{img.fileName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="justify-content-end d-flex">
                                <p-button label="{{'INVESTMENTS_TRANSACTIONS.CANCEL' | translate}}" (click)="cancel()"></p-button>
                                <p-button [disabled]="!investmentAccountDocumentsForm.valid"
                                    label="{{'INVESTMENTS_TRANSACTIONS.SAVE' | translate}}"
                                    (click)="saveAccountDocuments(investmentAccountDocumentsModel)"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
</div>
</div>
<p-dialog [(visible)]="displayDialog" [closable]="false" styleClass="delete-popup" [responsive]="true">
    <div class="col-12">
        <i class="fa fa-times-circle text-center" aria-hidden="true"></i>

        <p class="text-center popup-header">{{'INVESTMENTS_TRANSACTIONS.ARE_YOU_SURE_TO_DELETE' | translate}}</p>
        <p class="text-center pop-subheader">{{'INVESTMENTS_TRANSACTIONS.DO_YOU_REALLY_TO_DELETE_THESE_RECORDS' |
            translate}}</p>

    </div>
    <div class="col-12 text-center p-2">
        <p-button pRipple class="yes-button" label="{{'INVESTMENTS_TRANSACTIONS.DELETE' | translate}}"
            (click)="submitDelete()"></p-button>
        <p-button pRipple class="no-button" label="{{'INVESTMENTS_TRANSACTIONS.CANCEL' | translate}}"
            (click)="cancelForDialogBox()"></p-button>
    </div>
</p-dialog>

<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [(visible)]="docPhotoCopyZoom" [modal]="true" [maximizable]="true" (onResize)="onDialogResize($event)" styleClass="doc-photo-dialog">
    <div class="col-12">
    <div *ngFor="let img of multipleFilesList">
        <div class="mb-3" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png' ">
                <img src="{{img.imageValue}}" class="doc-photocopy">
        </div>
        <div class="mb-3" *ngIf=" img.fileType =='pdf'">
                <img src="assets\images\pdf.png" class="doc-photocopy">
        </div>
    </div>
</div>