<div class="col-12">
    <div class="row">
        <div class="col-6">
            <h6 class="sub-heading">{{'ERP.APPLICATION_DETAILS' | translate}}</h6>
        </div>

        <div class="col-6 text-end">
            <a (click)="productViewPopUp()" class="text-end cursor-pointer">View
                Product Details</a>
        </div>
    </div>
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'">
    </p-messages>
    <form [formGroup]="applicationForm">
        <div class="mt-n1  bg-label-colorfull">
            <div class="row g-3">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.PRODUCT_TYPE' | translate}}</label>
                            <p-dropdown [options]="productsList" placeholder="{{'ERP.SELECT' | translate}}" formControlName="fdCummulativeProductId"
                                [(ngModel)]="fdCumulativeApplicationModel.fdCummulativeProductId" (onChange)="onChangeProduct($event)"
                                [disabled]="isProductDisable">
                            </p-dropdown>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label for="username">{{'TERMDEPOSITSTRANSACTION.ACCOUNT_NUMBER' | translate}}
                        </label>

                        <input pInputText id="bunit_txt_name" type="text" formControlName="accountNumber"
                            [(ngModel)]="fdCumulativeApplicationModel.accountNumber" placeholder="Enter Loan Account Number">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label for="code">
                            {{'TERMDEPOSITSTRANSACTION.DEPOSIT_DATE' | translate}}
                        </label>
                        <p-calendar formControlName="depositDate" [showIcon]="true"
                        [dateFormat]="orgnizationSetting.calendar" placeholder="DD/MM/YYYY"
                        [(ngModel)]="fdCumulativeApplicationModel.depositDateVal" >
                        calculateMaturity
                    </p-calendar>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12" *ngIf="!accountTypeDropDownHide">
                    <div class="form-label">
                    <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.ACCOUNT_TYPE' | translate}}</label>
                        <p-dropdown [options]="accountList" placeholder="{{'ERP.SELECT' | translate}}"
                            formControlName="accountType" [disabled]="applicationType" (onChange)="onChangeAccountType($event)"
                            [(ngModel)]="fdCumulativeApplicationModel.accountType">
                        </p-dropdown>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label for="username"><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.ROI' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" type="text" formControlName="roi"
                        [(ngModel)]="fdCumulativeApplicationModel.roi" placeholder="Enter ROI">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label for="username">{{'TERMDEPOSITSTRANSACTION.PENAL_ROI' | translate}}
                        </label>
                        <input pInputText id="bunit_txt_name" type="text" formControlName="penalRoi"
                        [(ngModel)]="fdCumulativeApplicationModel.penalRoi"placeholder="Enter Penal ROI">
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label>{{'TERMDEPOSITSTRANSACTION.DEPOSIT_AMOUNT' | translate}}</label>
                            <input pInputText id="state_txt_name" type="text" formControlName="depositAmount"
                                [(ngModel)]=" fdCumulativeApplicationModel.depositAmount" placeholder="Enter Amount"
                                (focusout)="calculateMaturity()">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label>{{'TERMDEPOSITSTRANSACTION.TENURE_IN_DAYS' | translate}}</label>
                            <input pInputText id="state_txt_name" type="text" formControlName="tenureInDays"
                                [(ngModel)]=" fdCumulativeApplicationModel.tenureInDays" placeholder="Enter Tenure (In Days)"
                                (focusout)="calculateMaturity()">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label>{{'TERMDEPOSITSTRANSACTION.TENURE_IN_MONTHS' | translate}}</label>
                            <input pInputText id="state_txt_name" type="text" formControlName="tenureInMonths"
                                [(ngModel)]=" fdCumulativeApplicationModel.tenureInMonths" placeholder="Enter Tenure (In Months)"
                                (focusout)="calculateMaturity()">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label>{{'TERMDEPOSITSTRANSACTION.TENURE_IN_YEARS' | translate}}</label>
                            <input pInputText id="state_txt_name" type="text" formControlName="tenureInYears"
                                [(ngModel)]=" fdCumulativeApplicationModel.tenureInYears" placeholder="Enter Tenure (In Years)"
                                (focusout)="calculateMaturity()">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label>{{'TERMDEPOSITSTRANSACTION.MATURITY_DATE' | translate}}</label>
                            <input pInputText id="state_txt_name" type="text" formControlName="maturityDate"
                                [(ngModel)]=" fdCumulativeApplicationModel.maturityDate">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label>{{'TERMDEPOSITSTRANSACTION.MATURITY_AMOUNT' | translate}}</label>
                            <input pInputText id="state_txt_name" type="text" formControlName="maturityAmount"
                                [(ngModel)]=" fdCumulativeApplicationModel.maturityAmount">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-label">
                        <label>{{'TERMDEPOSITSTRANSACTION.IS_AUTO_RENEWAL' | translate}}</label>
                        <p-dropdown [options]="renewalList" placeholder="{{'ERP.SELECT' | translate}}"
                        formControlName="isRenewal"
                        [(ngModel)]="fdCumulativeApplicationModel.isAutoRenewal">
                    </p-dropdown>
                    </div>
                </div>
              
            </div>
        </div>
    </form>
</div>
<p-dialog header="Product Details" [modal]="true" [(visible)]="displayDialog" styleClass="moredetails-style">
    <div class="popup-basic-details">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <p-scrollPanel styleClass="scroll-class">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class="global-card-bg-color view-carddata icon-size">
                                    <div class="col-12 p-0">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-id-badge"></i></span>
                                                    <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.GENERAL_CONFIGURATION' |
                                                        translate}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 px-0">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.PRODUCT_NAME' |translate}}
                                                    </h6>
                                                    <p class="label-input-text">{{ productDefinitionModel.name}}</p>
                                                </div>

                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.IS_SPECIAL_SCHEME'
                                                        |translate}}</h6>
                                                    <p class="label-input-text"> {{
                                                        productDefinitionModel.isSpecialScheme ? 'Yes' :
                                                        ' ' }}
                                                    </p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <h6 class="label-view">
                                                        {{'TERMDEPOSITSTRANSACTION.MAX_DEPOSIT_AMOUNT' |translate}}
                                                    </h6>
                                                    <p class="label-input-text">{{
                                                        productDefinitionModel.maxDepositAmount}}</p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <h6 class="label-view">
                                                        {{'TERMDEPOSITSTRANSACTION.MIN_TENURE'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">{{
                                                        productDefinitionModel.minTenure}}</p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <h6 class="label-view">
                                                        {{'TERMDEPOSITSTRANSACTION.MAX_TENURE'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">{{ productDefinitionModel.maxTenure}}
                                                    </p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.IS_AUTO_RENEWAL'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">{{
                                                        productDefinitionModel.isAutoRenewal ? 'Yes' : ' '}}</p>
                                                </div>
                                              
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.EFFECTIVE_START_DATE'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">{{
                                                        productDefinitionModel.effectiveStartDate}}</p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.EFFECTIVE_END_DATE'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">{{ productDefinitionModel.effectiveEndDate}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-newspaper-o"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'TERMDEPOSITSTRANSACTION.INTEREST_POLICY' |translate}}</h6>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="globel-border-top-color"></div>
                                        <p-table [value]="interestPolicyList" dataKey="id" selectionMode="single"
                                            styleClass="p-datatable-striped" [showJumpToPageDropdown]="true"
                                            [showPageLinks]="false" [rows]="5" [paginator]="false" [pageLinks]="1"
                                            [responsive]="true" rowExpandMode="single">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th> {{'TERMDEPOSITSTRANSACTION.NAME' | translate}}</th>
                                                    <th> {{'TERMDEPOSITSTRANSACTION.MIN_DAYS' | translate}}</th>
                                                    <th> {{'TERMDEPOSITSTRANSACTION.MAX_DAYS' | translate}}</th>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.GENERAL_ROI' | translate}}</th>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.STAFF_ROI' | translate}}</th>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.SENIOR_CITIZEN_ROI' | translate}}
                                                    </th>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.PENAL_ROI' | translate}}</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr>
                                                    <td>{{ rowData.name }}</td>
                                                    <td>{{ rowData.minDays }}</td>
                                                    <td>{{ rowData.maxDays }}</td>
                                                    <td>{{ rowData.generalRoi }}</td>
                                                    <td>{{ rowData.staffRoi }}</td>
                                                    <td>{{ rowData.seniorcitizenRoi }}</td>
                                                    <td>{{ rowData.penaltyRoi }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="col-12 margtop-3rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12 p-0">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-file-text"></i></span>
                                                    <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.REQUIRED_DOCUMENTS'
                                                        |translate}}</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="globel-border-top-color"></div>
                                        <p-table [value]="requireddocumentlist" dataKey="id" selectionMode="single"
                                            styleClass="p-datatable-striped" [showJumpToPageDropdown]="true"
                                            [showPageLinks]="false" [rows]="5" [paginator]="false" [pageLinks]="1"
                                            [responsive]="true" rowExpandMode="single">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.DOCUMENT_TYPE' | translate}}</th>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.IS_MANDATORY' | translate}}</th>

                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr>
                                                    <td>{{ rowData.documentTypeName }}</td>
                                                    <td>{{ rowData.isRequired ? 'Yes' : 'No'}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="col-12 margtop-3rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>

            </div>
        </div>
    </div>
</p-dialog>