
<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <h6 class="sub-heading">{{'ERP.KYC' | translate}}<span class="admission-text">(Admission
            Number:&nbsp;{{admissionNumber}})</span></h6>

    <form [formGroup]="kycForm" id="exit_types_form">
        <!-- <p-button icon="fa fa-plus" label="{{'ADD KYC DOCUMENT' | translate}}"
                                (click)="addKyc($event)" [disabled]="buttonDisabled"></p-button> -->
        <div class="col-12 px-0">
            <div class="row g-3">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12"
                    *ngFor="let document of kycModelList ; let i = index">
                    <div class="stepper-kyc-card p-3 pb-1 mb-2" *ngIf="editIndex != i || editDocumentOfKycFalg">
                        <!-- view card -->
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 d-flex align-items-center">
                                <div class="card-leftbody">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 min-h-50px"
                                        *ngIf="!individualFlag">
                                        <h6 class="label-view">{{ 'TERMDEPOSITSTRANSACTION.PROMOTER_NAME' | translate }}</h6>
                                        <p class="label-input-text">{{document.promoterName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h6 class="label-view">{{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_TYPE' | translate }}</h6>
                                        <p class="label-input-text">{{document.kycDocumentTypeName}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h6 class="label-view">{{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_NUMBER' | translate }}</h6>
                                        <p class="label-input-text">{{document.documentNumber}}</p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h6 class="label-view">{{ 'TERMDEPOSITSTRANSACTION.NAME_AS_PER_DOCUMENT' | translate }}</h6>
                                        <p class="label-input-text docname-texteclipse">{{document.nameAsPerDocument}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 justify-content-end d-flex right-actions">
                                <div class="cardview-icon icon-size text-right cursor-pointer -mt-1"
                                    (click)="onClickkycPhotoCopy()"><i class="fa fa-eye mr-3" aria-hidden="true"></i>
                                </div>
                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn"
                                    (click)="toggleEditForm(i ,document)" [disabled]="editButtonDisable"></p-button>

                                <!-- <div class="col-12 px-0">
                                                            <div class="col-12 px-0" *ngFor="let img of document.multipartFileList">
                                                                    <div class="col-12 p-0" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                                        <a href="{{img.imageValue}}">
                                                                            <img src="{{img.imageValue}}" class="upload-img img-fluid" pTooltip="{{img.fileName}}" tooltipPosition="bottom">
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-12 p-0" *ngIf="img.fileType=='pdf'">
                                                                        <a href="{{img.imageValue}}"> <img src="assets/images/pdficon-img.png" width="22"
                                                                                height="22"></a>
                                                                    </div>
                                                                </div>
                                                            </div> -->

                                <!-- <div class="col-12 border-top" *ngFor="let img of document.multipartFileList">
                                                                <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                                    <a href="{{img.imageValue}}">
                                                                        <img src="{{img.imageValue}}" width="50px" height="50px" >
                                                                    </a>
                                                                </div>
                                                            </div> -->
                            </div>
                        </div>
                    </div>

                    <!-- Edit form -->
                    <div class="col-12 global-border bg-label-colorfull p-3"
                        *ngIf="editIndex === i  && !editDocumentOfKycFalg">
                        <div class="row g-3 mt-n1">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!individualFlag">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{ 'TERMDEPOSITSTRANSACTION.PROMOTER_NAME' | translate }}</label>
                                    <p-dropdown placeholder="{{'ERP.SELECT'| translate}}" formControlName="promoter"
                                        [options]="promotersList" id="docTypeId" [(ngModel)]="fdCumulativeKycModel.promoterId">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_TYPE' | translate }}</label>
                                    <p-dropdown placeholder="{{'ERP.SELECT'| translate}}" formControlName="docTypeName"
                                        [options]="documentNameList" id="docTypeId"
                                        [(ngModel)]="fdCumulativeKycModel.kycDocumentTypeId"
                                        (onChange)="kycModelDuplicateCheck(fdCumulativeKycModel.kycDocumentTypeId)">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <label><span class="red">*</span>{{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_NUMBER' | translate }}</label>
                                    <input id="documentNumber" type="text" formControlName="docNumber"
                                        [(ngModel)]="fdCumulativeKycModel.documentNumber" pInputText
                                        placeholder="Enter Document Number">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-label">
                                        <label><span class="red">*</span>{{ 'TERMDEPOSITSTRANSACTION.NAME_AS_PER_DOCUMENT' | translate }}</label>
                                        <input id="documentNumber" type="text" formControlName="nameAsPerDocument"
                                            pInputText [(ngModel)]="fdCumulativeKycModel.nameAsPerDocument"
                                            placeholder="Enter Document Number">
                                        <p-message severity="error" text="Enter Valid Name"
                                            *ngIf="!kycForm.controls['nameAsPerDocument'].valid && kycForm.controls['nameAsPerDocument'].dirty">
                                        </p-message>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-label">
                                    <span class=""> {{ 'TERMDEPOSITSTRANSACTION.DOCUMENT_COPY' | translate }} </span>
                                    <div class="uplodad-style align-items-center">
                                        <!-- Upload Button Column -->

                                        <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]" chooseLabel=" " 
                                            id="apply-leave_fileUp_attach" accept=".png,.jpg,.jpeg,.pdf" 
                                            [customUpload]="true" formControlName="fileUpload"
                                            [disabled]="kycForm.get('fileUpload').disabled"
                                            (onSelect)="imageUploader($event,fileUpload)">
                                        </p-fileUpload>

                                        <!-- Uploaded Files Display Column -->

                                        <div class="col-12 d-flex p-1 contant-body"
                                            *ngFor="let img of fdCumulativeKycModel.multipartFileList">
                                            <span *ngIf="img.fileType=='pdf'">
                                                <a href="{{img.imageValue}}"> <img src="assets/images/pdficon-img.png"
                                                        width="22" height="22"></a>
                                            </span>
                                            <span
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <a href="{{img.imageValue}}">
                                                    <img src="{{img.imageValue}}" width="22" height="22">
                                                </a>
                                            </span>

                                            <span class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}"
                                                tooltipPosition="bottom">
                                                {{img.fileName}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="justify-content-end d-flex">
                                    <p-button label="{{ 'TERMDEPOSITSTRANSACTION.CANCEL' | translate }}" (onClick)="editCancle()"></p-button>
                                    <p-button label="{{ 'TERMDEPOSITSTRANSACTION.SAVE' | translate }}" [disabled]="!kycForm.valid"
                                        (onClick)="editsave(fdCumulativeKycModel)"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- KYC Photo Copy -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [(visible)]="kycPhotoCopyZoom" styleClass="doc-photo-dialog">
    <div class="col-12">
        <div *ngFor="let document of kycModelList ; let i = index">
            <div *ngFor="let img of document.multipartFileList">
                <div class="mb-3" *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                    <!-- <a href="{{img.imageValue}}"> -->
                    <img src="{{img.imageValue}}" class="doc-photocopy">
                    <!-- </a> -->
                </div>
                <div class="mb-3" *ngIf="img.fileType=='pdf'">
                    <!-- <a href="{{img.imageValue}}">  -->
                    <img src="{{img.imageValue}}" class="doc-photocopy">
                    <!-- </a> -->
                </div>
            </div>
        </div>
    </div>
</p-dialog>