<div class="col-12">
    <p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-messages>
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start">{{'ERP.SAO_LOANS' | translate}} <i
                    class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'ERP.DISBURSEMENT' | translate}}</div>
        </div>
    </div>
    <!-- Basic Details  -->
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 left-sidecard">
            <div class="col-12 membership-side-card">
                <div class="col-12">
                    <h5 class="transaction-side-card-header">{{'ERP.BASIC_DETAILS' | translate}}</h5>
                </div>

                <div class="col-12 individual-basic" >
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-3 col-sm-4 col-xs-4">
                            <div class="col-12 pic-sig-status">
                                <div class="col-12 pic-sig-status">
                                    <div class="d-flex justify-content-center mb-3"  >
                                        <div *ngFor="let img of individualMemberDetailsModel.multipartFileListForPhotoCopy">
                                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <img src="{{img.imageValue}}" class="image-user cursor-pointer">
                                            </span>
                                        </div>
                                        <div *ngIf="individualMemberDetailsModel.multipartFileListForPhotoCopy == null || individualMemberDetailsModel.multipartFileListForPhotoCopy == undefined">
                                            <img src="assets/images/no-image.jpg" (click)="onClickMemberPhotoCopy()" class="image-user cursor-pointer">
                                        </div>
                                        <p class="active-status"></p>
                                        <div *ngFor="let img of individualMemberDetailsModel.multipartFileListForsignatureCopyPath">
                                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                <img src="{{img.imageValue}}" class="image-sign cursor-pointer">
                                            </span>
                    
                                        </div>
                                        <div *ngIf = "individualMemberDetailsModel.multipartFileListForsignatureCopyPath == null || individualMemberDetailsModel.multipartFileListForsignatureCopyPath == undefined">
                                            <img src="assets/images/no-file.jpg" (click)="onClickMemberPhotoCopy()" class="image-sign cursor-pointer">
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="text-center min-h-50px">
                                <span class="text-fontwt">{{'LOAN_TRANSACTION.NAME' | translate}}</span>
                                <p class="font-semibold text-break">{{individualMemberDetailsModel.name}}</p>
                            </div>
                            
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-9 col-sm-8 col-xs-8 mt-2">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                    <p class="label-view text-fontwt">{{'ERP.MEMBER_TYPE' | translate}}</p>
                                    <p class="label-input-text">{{individualMemberDetailsModel.memberTypeName}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                    <p class="label-view text-fontwt">{{'ERP.ADMISSION_DATE' | translate}}</p>
                                    <p class="label-input-text">{{individualMemberDetailsModel.admissionDateVal}}
                                    </p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                    <p class="label-view text-fontwt">{{'ERP.DATE_OF_BIRTH' | translate}} &
                                        {{'ERP.AGE' | translate}}</p>
                                    <p class="label-input-text">{{individualMemberDetailsModel.dobVal}} &
                                        {{individualMemberDetailsModel.age}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                    <p class="label-view text-fontwt">{{'ERP.CONTACT' | translate}}</p>
                                    <p class="label-input-text">{{individualMemberDetailsModel.mobileNumber}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                    <p class="label-view text-fontwt">{{'ERP.EMAIL' | translate}}</p>
                                    <p class="label-input-text">{{individualMemberDetailsModel.emailId}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                    <p class="label-view text-fontwt">{{'ERP.AADHAR' | translate}}</p>
                                    <p class="label-input-text">{{individualMemberDetailsModel.aadharNumber}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 basicdata-card">
                                    <p class="label-view text-fontwt">{{'ERP.PAN_NO' | translate}}</p>
                                    <p class="label-input-text">{{individualMemberDetailsModel.panNumber}}</p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                    *ngIf="individualMemberDetailsModel.isKycApproved">
                                    <div class="col-10 d-flex p-0">
                                        <div>
                                            <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                            <p class="label-input-text">{{isKycApproved}}</p>
                                        </div>
                                    </div>
                                    <div class="col-2 kyc-done icon-size text-right"><i class="fa fa-check-circle"
                                            aria-hidden="true"></i></div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex basicdata-card"
                                    *ngIf="!individualMemberDetailsModel.isKycApproved">
                                    <div class="col-10 d-flex p-0">
                                        <div>
                                            <p class="label-view text-fontwt">{{'ERP.KYC' | translate}}</p>
                                            <p class="label-input-text">{{isKycApproved}}</p>
                                        </div>
                                    </div>
                                    <div class="col-2 kyc-done icon-size text-right"><i
                                            class="fa fa-check-circle text-white" aria-hidden="true"></i></div>
                                </div>


                                <div class="col-12 color-light justify-content-end text-right">
                                    <a class="fst-italic text-light cursor-pointer"
                                        (click)="onClickMemberIndividualMoreDetails()">{{'ERP.MORE_DETAILS' |
                                        translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
               
            </div>
        </div>
        <!-- Account Details  -->
        <div class="col-75-fullmidd">
            <div class="col-12 bg-card border mt-1">
                <div class="col-12">
                    <div class="col-12">
                        <div class="row justify-content-between">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5 class="sub-heading">{{'ERP.ACCOUNT_DETAILS' | translate}}</h5>
                            </div>
                            <div class=" col-lg-6 col-md-6 col-sm-6">
                                <!-- <div class=" d-flex justify-content-end">
                                    <div class="basic-detaisl-btn view-popup-top"><a (click)="showBasicDetailsDialog('right')"
                                            class="top-badge-btn btn-outline-0 ">Basic Details</a></div>
                                    <div class="basic-detaisl-btn view-popup-top"><a (click)="showHistoryDialog('right')"
                                            class="top-badge-btn btn-outline-0">History Details</a></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.ACCOUNT_NUMBER' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.accountNumber}}</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.PRODUCT_TYPE' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.saoProductName}}</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.ROI' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.effectiveRoi}}</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.APPLICATION_DATE' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.applicationDateVal}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.OPERATION_TYPE' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.operationTypeName}}</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.PENAL_ROI' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.penalInterest}}</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.IOD' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.iod}}</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.REPAYMENT_FREQUENCY' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.repaymentFrequencyName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.LOAN_PURPOSES' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.purposeName}}</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.REQUEST_AMOUNT' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.requestedAmount}}</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.SANCTION_AMOUNT' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.sanctionAmount}}</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.LOAN_PERIOD_IN_MONTHS' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.loanPeriod}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="min-h-50px text-break">
                                    <p class="m-0 label-view">{{'ERP.LOAN_DUE_DATE' | translate}}</p>
                                    <p class="label-input-text" id="accountNumber">{{saoLoanApplicationModel.loanDueDateVal}}</p>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="col-12 p-1"></div>
            <!-- Disbursment Details  -->
            <div class="col-12 bg-card bg-label-colorfull p-3" *ngIf="showTable">
                <!-- <div class="sub-heading">Disbursement Details</div> -->
                <div class="flex justify-content-between py-2">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <div class="sub-heading mt-1">Disbursement Details</div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <div class="col-12 p-0">
                            <div class="d-flex justify-content-end search-input-style">
                                <div class="input-group search-box d-flex justify-content-end">
                                    <div class="search mr-0">
                                        <span class="p-input-icon-right">
                                            <i class="pi pi-search global-search-icon"></i>
                                            <input type="text" pInputText class="searchbox" placeholder="Search" />
                                        </span>
                                    </div>
                                </div>
                                <p-button (click)="addDisbursment()" label="{{ 'ADD' | translate }}" icon="fa fa-plus"
                                iconPos="left" [disabled]="addOrEdit" id="bunit_bt_submit"></p-button>
                                <p-button label="{{'ERP.BACK' | translate}}"  [disabled]="addOrEdit" (click)="back()"></p-button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="globel-border-top-color"></div>
                <p-table [value]="gridList" dataKey="id" editMode="row" selectionMode="single"
                    styleClass="p-datatable-striped" [showJumpToPageDropdown]="true" [rows]="5" [paginator]="true"
                    [pageLinks]="1" [responsive]="true" rowExpandMode="single" [showPageLinks]="false"
                    [globalFilterFields]="['disbursementAmount', 'accountNumber','disbursementDate','transactionDate','statusName']">
                    
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of disbursement">
                                {{col.header | translate}}
                            </th>
                            <th class="width-15em">{{'ERP.ACTION' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-accounttypes>
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of disbursement">
                                <div class="status-style statussubmissionforapproval" *ngIf="(col.field =='statusName') && rowData.submissionForApproval"> {{rowData[col.field]}}</div>
                                <div class="status-style statusactive" *ngIf="(col.field =='statusName') && rowData.approved"> {{rowData[col.field]}}</div>
                                <div class="status-style statuspending" *ngIf="(col.field =='statusName') && rowData.scheduled"> {{rowData[col.field]}}</div>
                                <div class="status-style statuspending" *ngIf="(col.field =='statusName') && rowData.requestForResubmmission"> {{rowData[col.field]}}</div>
                                <div *ngIf="(col.field !='statusName')"> {{rowData[col.field]}}</div>
                            </td>
                            <td>
                                <div class="global-action-btn flex align-items-center justify-content-center">
                                    <p-button class="action-edit" label="{{'ERP.EDIT' | translate}}"
                                        [disabled]="editDisable"
                                        (click)="edit(rowData)"></p-button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="col-12 margtop-3rem"></div>
                <p class="font-bold m-0">{{'ERP.TOTAL_DISBURSEMENT_AMOUNT' | translate}} : {{
                    totalDisbursement }}</p>
            </div>

        </div>

    </div>

</div>
<!-- disburment pop up -->
<p-dialog header="Disbursement Details" [(visible)]="addOrEdit" styleClass="moredetails-style" [closable]="false">
    <div class="popup-basic-details">
        <form [formGroup]="loanDisubursementForm">
            <div class="col-12 p-2 bg-card bg-label-colorfull">
                <div class="mt-n1 p-2">
                    <div class="row g-3 mb-3">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="form-label">
                                <label><span class="red">*</span>{{'LOANS.DISBURSEMENT_AMOUNT' | translate}}
                                </label>
                                <input pInputText formControlName="disbursementAmount" placeholder="Enter Amount"
                                    id="bunit_txt_name" maxlength="40" type="text"
                                    [(ngModel)]="disbursementModel.disbursementAmount">
                                    <p-message severity="error" text="Enter Valid Amount"
                                    *ngIf="!loanDisubursementForm.controls['disbursementAmount'].valid && loanDisubursementForm.controls['disbursementAmount'].dirty">
                                </p-message>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="form-label">
                                <label>{{'LOANS.ACCOUNT_NUMBER' | translate}}
                                </label>
                                <input pInputText formControlName="accountNumber" placeholder="Enter Amount"
                                    id="bunit_txt_name" maxlength="40" type="text"
                                    [(ngModel)]="saoLoanApplicationModel.accountNumber">
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="form-label">
                                <label>{{'LOANS.DISBURSEMENT_DATE' | translate}}
                                </label>
                                <p-calendar [showIcon]="true" [dateFormat]="orgnizationSetting.calendar"
                                    id="calendar" name="calendar" formControlName="disbursementDate"
                                    [(ngModel)]="disbursementModel.disbursementDateVal"
                                    placeholder="DD/MM/YYYY"></p-calendar>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="form-label">
                                <label for="username">{{'LOANS.TRANSACTION_DATE' | translate}}
                                </label>
                                <p-calendar [showIcon]="true" [dateFormat]="orgnizationSetting.calendar"
                                    id="calendar" name="calendar" formControlName="transactionDate"
                                    [(ngModel)]="disbursementModel.transactionDateVal"
                                    placeholder="DD/MM/YYYY"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="form-label">
                            <label for="code">
                                {{'ERP.DISBURSEMENT_DUE_DATE' | translate}}
                            </label>
                            <p-calendar [showIcon]="true" [dateFormat]="orgnizationSetting.calendar" id="calendar"
                                name="calendar" formControlName="disbursementDueDate"
                                [(ngModel)]="disbursementModel.dueDisbursmentDateVal"
                                placeholder="DD/MM/YYYY"></p-calendar>
                        </div>
                    </div> -->
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="form-label">
                            <label for="code"><span class="red">*</span>
                                {{'LOANS.IS_VERIFIED_PHOTO_SIGNATURE' | translate}}
                            </label>
                            <p-dropdown [options]="trueFalseList" placeholder="Select"
                                formControlName="isPhotoSignVerfied"
                                [(ngModel)]="disbursementModel.isPhotoSignVerfied" [appendTo]="'body'">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 btn-footer mt-4">
                        <div class="col-12 d-flex justify-content-end p-0 pt-4 group-button-bottom">
                           
                            <!-- <p-button label="{{'ERP.CLEAR' | translate}}" (click)="cancelOrRefresh()"></p-button> -->
                            <p-button label="{{'ERP.CANCEL' | translate}}" (click)="canclePopUp()"></p-button>
                            <p-button label="{{'ERP.SUBMIT' | translate}}" [disabled]="!loanDisubursementForm.valid"
                                (click)="addOrUpdate()"></p-button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</p-dialog>

<!--Individual photo Copy dialog -->
<p-dialog header="{{'ERP.PHOTO_COPY' | translate}}" [(visible)]="memberPhotoCopyZoom" styleClass="photo-dialog">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div>
                    <div *ngFor="let img of individualMemberDetailsModel.multipartFileListForPhotoCopy">
                        <div *ngIf="photoCopyFlag">
                            <span class="{{img.imageValue}}"
                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                <!-- <a href="{{img.imageValue}}" (clicl)="onClickMemberPhotoCopy()"></a> -->
                                <img src="{{img.imageValue}}" class="popup-images">
                            </span>
                        </div>
                        <div *ngIf="!photoCopyFlag">
                            <span>
                                <img src="assets/images/no-image.jpg" class="popup-images">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div>
                    <div *ngFor="let img of individualMemberDetailsModel.multipartFileListForsignatureCopyPath">
                        <div *ngIf="photoCopyFlag">
                            <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                                *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                <!-- <a href="{{img.imageValue}}" (clicl)="onClickMemberPhotoCopy()"></a> -->
                                <img src="{{img.imageValue}}" class="popup-images">
                            </span>
                        </div>
                        <div *ngIf="!photoCopyFlag">
                            <span>
                                <img src="assets/images/no-image.jpg" class="popup-images">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- <div class="col-12">
                    <div class="d-flex justify-content-end">
        <p-button class="action-edit" label="{{'ERP.CLOSE' | translate}}" (click)="closePhoto()"></p-button>
        </div> -->
</p-dialog>

<div class="view-moredetails-popup">
    <p-dialog header="More Basic Details" [(visible)]="showForm" styleClass="moredetails-style">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
            <div class="col-12 view-morepopup">
                <div class="d-flex justify-content-center px-3 py-0 mb-2" *ngIf="photoCopyFlag">
                    <div class="px-0" *ngFor="let img of individualMemberDetailsModel.multipartFileListForPhotoCopy">

                        <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                            <img src="{{img.imageValue}}" class="image-user">
                        </span>
                    </div>
                    <div class="px-0"
                        *ngFor="let img of individualMemberDetailsModel.multipartFileListForsignatureCopyPath">
                        <span class="{{img.imageValue}}" (click)="onClickMemberPhotoCopy()"
                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                            <img src="{{img.imageValue}}" class="image-user">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center popup-basic-details mt-5 pt-3">
            <span class="fw-semibold">{{'ERP.ADMISSION_NUMBER' | translate}}</span>
            <p class="fw-bold">{{individualMemberDetailsModel.admissionNumber}}</p>
        </div>
        <div class="col-12 popup-basic-details">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MEMBER_TYPE' | translate}}</span>
                        <p class="fw-semibold">{{ individualMemberDetailsModel.memberTypeName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.SURNAME' | translate}}</span>
                        <p class="fw-semibold">{{ individualMemberDetailsModel.surname}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.NAME' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.name}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.DATE_OF_BIRTH' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.dobVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.AGE' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.age}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.GENDER' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.genderName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MARITAL_STATUS' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.maritalStatusName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.RELATION_WITH_MEMBER' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.relationTypeName}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.RELATION_NAME' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.relativeName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.QUALIFICATION' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.qualificationName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.OCCUPATION' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.occupationName }}</p>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 min-h-50px">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <span class="fw-light">{{'ERP.AADHAR_NO' | translate}}</span>
                    <p class="fw-semibold">{{individualMemberDetailsModel.aadharNumber }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <span class="fw-light">{{'ERP.PAN_NO' | translate}}</span>
                    <p class="fw-semibold">{{individualMemberDetailsModel.panNumber }}</p>
                </div>
            </div> -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.MOBILE_NUMBER' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.mobileNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.EMAIL' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.emailId }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.CASTE' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.casteName }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.COMMUNITYS' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.communityName }}</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'MEMBERSHIP_TRANSACTION.RESOLUTION_NUMBER' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.mcrNumber }}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-label">
                        <span class="fw-light">{{'MEMBERSHIP_TRANSACTION.RESOLUTION_COPY' | translate}}</span>
                        <div class="col-12 d-flex p-0"
                            *ngFor="let img of individualMemberDetailsModel.multipartFileListForMCRCopyPath">
                            <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22" height="22"></a>
                            </div>
                            <div class="docname-texteclipse pl-2 fw-semibold" pTooltip="{{img.fileName}}"
                                tooltipPosition="bottom">{{img.fileName}}</div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.ADMISSION_DATE' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.admissionDateVal}}</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="fw-light">{{'ERP.ADMISSION_FEE' | translate}}</span>
                        <p class="fw-semibold">{{individualMemberDetailsModel.admissionFee}}</p>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>