<p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
<div class="col-12">
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start">
                {{'BORROWINGSTRANSACTIONS.PRODUCT_DEFINITION' | translate}}<i
                    class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'BORROWINGSTRANSACTIONS.BORROWINGS_PREVIEW' | translate}}
            </div>
        </div>
    </div>

    <div class="col-12 p-0">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <p-scrollPanel styleClass="scroll-class">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class="global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-id-badge"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'BORROWINGSTRANSACTIONS.PRODUCT_DEFINITION' | translate}}
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="col-6" *ngIf="editbtn">
                                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                    (click)="editSiBorrowingsproductDefinationdetails(siProductDefinitionModel,0)"></p-button>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.PRODUCT_NAME'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">{{ siProductDefinitionModel.name}}</p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.EFFECTIVE_START_DATE' |translate}}
                                                    </h6>
                                                    <p class="label-input-text">{{siProductDefinitionModel.effectiveStartDate}}</p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.EFFECTIVE_END_DATE' |translate}}
                                                    </h6>
                                                    <p class="label-input-text">{{siProductDefinitionModel.endDate}}</p>
                                                </div>
                                               
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px viewcustom-input-number">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.MINIMUM_AMOUNT' |translate}}</h6>
                                                        <p-inputNumber id="bunit_txt_name" [(ngModel)]="siProductDefinitionModel.minAmount" 
                                                        mode="currency" inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>

                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px viewcustom-input-number">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.MAXIMUM_AMOUNT' |translate}}</h6>
                                                        <p-inputNumber id="bunit_txt_name" [(ngModel)]="siProductDefinitionModel.maxAmount" 
                                                        mode="currency" inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>

                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.MINIMUM_BORROWING_PERIOD_IN_MONTHS' |translate}}</h6>
                                                      
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.minBorrowingPeriodInMonths  }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.MAX_BORROWING_PERIOD_IN_MONTHS' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.maxBorrowingPeriodInMonths  }}
                                                </div>
                                               
                                            
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.BORROWING_TYPE' |translate}}</h6>
                                                        
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.borrowingTypeName  }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.SCHEME_TYPE' |translate}}</h6>
                                                       
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.borrowingSchemeTypeName  }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.DEMAND_ALERT_DAYS' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.demandAlertDays  }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.INTEREST_CALCULATION_TYPE'
                                                        |translate}}</h6>
                                                    <p class="label-input-text"> {{ siProductDefinitionModel.interestCalculationTypeName  }}
                                                    </p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.REPAYMENT_FREQUENCY' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.repaymentFrequencyName  }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">{{'BORROWINGSTRANSACTIONS.DEFAULTER_ALERT_DAYS'
                                                        |translate}}</h6>
                                                    <p class="label-input-text"> {{ siProductDefinitionModel.defaulterAlertDays }}
                                                    </p>
                                                </div>
                                            
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.MAX_BORROWING_ACCOUNTS_ALLOWED' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.maxBorrowingAccountsAllowed  }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.LINK_SHARE_CAPITAL_APPLICABLE' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.linkSharecapitalApplicable ? 'Yes' : 'No' }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.INSTITUTION_NAME' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.institutionName  }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.MINIMUM_DAYS_FOR_RENEWAL' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.minDaysForRenewel  }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.IS_NPA_APPLICABLE' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.isNpaExceptional ? 'Yes' : 'No' }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.INTEREST_TYPE' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.interestType }}
                                                </div>
                                               
                                            
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.INTEREST_CALCULATION_FREQUENCY' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.interestCalculationFrequency  }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.IF_FORECLOSURE_ALLOWED' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.isForeclosureAllowed ? 'Yes' : 'No' }}
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'BORROWINGSTRANSACTIONS.IS_GESTATION_PERIOD_REQUIRED' |translate}}</h6>
                                                        <p class="label-input-text"> {{ siProductDefinitionModel.isGestationPeriodRequired ? 'Yes' : 'No' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-newspaper-o"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'BORROWINGSTRANSACTIONS.INTEREST_POLICY' |translate}}</h6>
                                                </div>
                                            </div>
                                            <div class="col-3" *ngIf="editbtn">
                                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                    (click)="editSiBorrowingsproductDefinationdetails(siProductDefinitionModel,1)"></p-button>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="globel-border-top-color"></div>
                                        <p-table [value]="interestPolicyList" dataKey="id"
                                            selectionMode="single" styleClass="p-datatable-striped"
                                            [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5"
                                            [paginator]="false" [pageLinks]="1" [responsive]="true"
                                            rowExpandMode="single">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>{{'BORROWINGSTRANSACTIONS.TENURE_TYPE' | translate}}</th> 
                                                    <th> {{'BORROWINGSTRANSACTIONS.MIN_SLAB_AMOUNT' | translate}}</th> 
                                                    <th> {{'BORROWINGSTRANSACTIONS.MAX_SLAB_AMOUNT' | translate}}</th> 
                                                    <th>{{'BORROWINGSTRANSACTIONS.GENERAL_ROI' | translate}}</th>
                                                    <th>{{'BORROWINGSTRANSACTIONS.STAFF_ROI' | translate}}</th>
                                                    <th>{{'BORROWINGSTRANSACTIONS.SENIOR_CITIZEN_ROI' | translate}}</th>
                                                    <th>{{'BORROWINGSTRANSACTIONS.PENAL_ROI' | translate}}</th>
                                                  
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr>
                                                    <td>{{ rowData.tenureTypeName }}</td>
                                                    <td>{{ rowData.minSlabAmount }}</td>
                                                    <td>{{ rowData.maxSlabAmount }}</td>
                                                    <td>{{ rowData.roi }}</td>
                                                    <td>{{rowData.employeeConcession}}</td>
                                                    <td>{{rowData.seniorCitizenConcession}}</td>
                                                    <td>{{rowData.penalInterest}}</td>
                                                
                                                </tr>
                                            </ng-template>
                                        </p-table>

                                        <div class="col-12 margtop-3rem"></div>
                                        <h6 class="super-sub-heading">
                                            {{'BORROWINGSTRANSACTIONS.COLLECTION_APPORTION_ORDER' |translate}}</h6>
                                            <div class="globel-border-top-color"></div>
                                        <p-table [value]="collectionOrderList" dataKey="id"
                                        selectionMode="single" styleClass="p-datatable-striped"
                                        [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5"
                                        [paginator]="false" [pageLinks]="1" [responsive]="true"
                                        rowExpandMode="single">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th> {{'BORROWINGSTRANSACTIONS.COLLECTION_COMPONENT' | translate}}</th>
                                                <th> {{'BORROWINGSTRANSACTIONS.ORDER' | translate}}</th>
                                      
                                              
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData>
                                            <tr>
                                                <td>{{ rowData.collectionCompenentName }}</td>
                                                <td>{{ rowData.order }}</td>
                                               
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                        <div class="col-12 margtop-3rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-link"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'BORROWINGSTRANSACTIONS.LINKED_SHARE_CAPITAL' |translate}}</h6>
                                                </div>
                                            </div>
                                            <div class="col-3" *ngIf="editbtn">
                                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                    (click)="editSiBorrowingsproductDefinationdetails(siProductDefinitionModel,2)"></p-button>
                                            </div>
                                        </div>
                                        

                                        <div class="globel-border-top-color"></div>
                                        <p-table [value]="linkedShareCapitalList" dataKey="id"
                                            selectionMode="single" styleClass="p-datatable-striped"
                                            [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5"
                                            [paginator]="false" [pageLinks]="1" [responsive]="true"
                                            rowExpandMode="single">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th> {{'BORROWINGSTRANSACTIONS.COLLECTION_TYPE' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.COLLECTION_VALUE' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.MIN_SLAB_AMOUNT' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.MAX_SLAB_AMOUNT' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.GST_APPLICABLE' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.CGST' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.SGST' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.IGST' | translate}}</th>
                                                
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr>
                                                    <td>{{ rowData.collectionTypeName }}</td>
                                                    <td>{{ rowData.collectionValue }}</td>
                                                    <td>{{ rowData.minSlabAmount }}</td>
                                                    <td>{{ rowData.maxSlabAmount }}</td>
                                                    <td>{{rowData.gstApplicable ? 'Yes' : 'No'}}</td>
                                                    <td>{{rowData.cgstPercentage}}</td>
                                                    <td>{{rowData.sgstPercentage}}</td>
                                                    <td>{{rowData.igstPercentage}}</td>
                                                
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="col-12 margtop-3rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-list-alt"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'BORROWINGSTRANSACTIONS.CHARGES' |translate}}</h6>
                                                </div>
                                            </div>
                                            <div class="col-3" *ngIf="editbtn">
                                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                    (click)="editSiBorrowingsproductDefinationdetails(siProductDefinitionModel,3)"></p-button>
                                            </div>
                                        </div>
                                        

                                        <div class="globel-border-top-color"></div>
                                        <p-table [value]="chargesList" dataKey="id"
                                            selectionMode="single" styleClass="p-datatable-striped"
                                            [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5"
                                            [paginator]="false" [pageLinks]="1" [responsive]="true"
                                            rowExpandMode="single">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th> {{'BORROWINGSTRANSACTIONS.CHARGES_TYPE' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.CHARGES' | translate}}</th>
                                                    <th>{{'BORROWINGSTRANSACTIONS.MIN_SLAB_AMOUNT' | translate}}</th>
                                                    <th>{{'BORROWINGSTRANSACTIONS.MAX_SLAB_AMOUNT' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.COLLECTION_FREQUENCY' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.MIN_CHARGES' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.MAX_CHARGES' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.CGST' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.SGST' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.IGST' | translate}}</th>
                                                 
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr>
                                                    <td>{{ rowData.chargesTypeName }}</td>
                                                    <td>{{ rowData.charges }}</td>
                                                    <td>{{ rowData.minSlabAmount }}</td>
                                                    <td>{{ rowData.maxSlabAmount }}</td>
                                                    <td>{{rowData.collectionFrequencyName}}</td>
                                                    <td>{{rowData.minCharges}}</td>
                                                    <td>{{rowData.maxChrges}}</td>
                                                    <td>{{rowData.cgst}}</td>
                                                    <td>{{rowData.sgst}}</td>
                                                    <td>{{rowData.igst}}</td>
                                         
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="col-12 margtop-3rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-bandcamp"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'BORROWINGSTRANSACTIONS.PURPOSE' |translate}}</h6>
                                                </div>
                                            </div>
                                            <div class="col-3" *ngIf="editbtn">
                                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                    (click)="editSiBorrowingsproductDefinationdetails(siProductDefinitionModel,4)"></p-button>
                                            </div>
                                        </div>
                                        

                                        <div class="globel-border-top-color"></div>
                                        <p-table [value]="purposeList" dataKey="id"
                                            selectionMode="single" styleClass="p-datatable-striped"
                                            [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5"
                                            [paginator]="false" [pageLinks]="1" [responsive]="true"
                                            rowExpandMode="single">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th> {{'BORROWINGSTRANSACTIONS.PURPOSE_TYPE' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.MIN_GESTATION_PERIOD' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.MAX_GESTATION_PERIOD' | translate}}</th>
                                                    <th> {{'BORROWINGSTRANSACTIONS.REMARKS' | translate}}</th>
                                                  
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr>
                                                    <td>{{ rowData.purposeName }}</td>
                                                    <td>{{ rowData.gesitationPeriod }}</td>
                                                    <td>{{ rowData.maxGesitationPeriod }}</td>
                                                    <td>{{ rowData.remarks }}</td>
                                           
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="col-12 margtop-3rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-file-text"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'BORROWINGSTRANSACTIONS.REQUIRED_DOCUMENTS' |translate}}</h6>
                                                </div>
                                            </div>
                                            <div class="col-3" *ngIf="editbtn">
                                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                    (click)="editSiBorrowingsproductDefinationdetails(siProductDefinitionModel,5)"></p-button>
                                            </div>
                                        </div>

                                        <div class="globel-border-top-color"></div>
                                        <p-table [value]="requiredDocumentsList" dataKey="id" selectionMode="single"
                                            styleClass="p-datatable-striped"
                                            [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5"
                                            [paginator]="false" [pageLinks]="1" [responsive]="true"
                                            rowExpandMode="single">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>{{'BORROWINGSTRANSACTIONS.DOCUMENT_TYPE' | translate}}</th>
                                                    <th>{{'BORROWINGSTRANSACTIONS.IS_MANDATORY' | translate}}</th>
                                                 
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr>
                                                    <td>{{ rowData.documentTypeName }}</td>
                                                    <td>{{ rowData.isRequired ? 'Yes' : 'No' }}</td>
                                           
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="col-12 margtop-3rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>

                <div class="col-12 viewbottom-footer icon-size">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 mt-4">
                            <p-button icon="fa fa-download" iconPos="left" pTooltip="Filename.pdf"
                                tooltipPosition="top"></p-button>
                            <p-button icon="fa fa-print" iconPos="left" pTooltip="Print"
                                tooltipPosition="top"></p-button>
                        </div>
                        <!-- <div class="col-12 p-3 bottom-padding"></div>
                        <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 min-h-60px">
                            <h6 class="label-view">Status</h6>
                            <p class="status-style statusactive">Approved</p>
                        </div>
                        <div class="col-12 p-3 bottom-padding"></div>
                        <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 min-h-50px">
                            <h6 class="label-view">Remarks</h6>
                            <p class="label-input-text">Successfully Completed</p>
                        </div> -->

                        <div class="col-xl-9 col-lg-8 col-md-9 col-sm-8 mt-4">
                            <div class="d-flex justify-content-end">
                                <p-button (click)="navigateToBack()"
                                    label="{{'BORROWINGSTRANSACTIONS.BACK' | translate}}"></p-button>
                                    <p-button *ngIf="isShowSubmit" label="{{'BORROWINGSTRANSACTIONS.SUBMIT' | translate}}" (click)="submit()" ></p-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 m-2"></div>
            </div>
        </div>
    </div>
</div>