
<div class="app-head d-flex">
    <h5 class="main-heading pt-3">{{'ERP.SAVINGS_BANK' | translate}}</h5>
    <span class="icon"><i class="pi pi-angle-right" style="font-size: 1rem"></i></span>
    <h5 class="main-heading pt-3">{{'ERP.DEBIT_CARD' | translate}}</h5>
</div>
<div class="row g-3">
    <div class="col-2">
        <p-card class="side-card">
            <h6>{{'ERP.ACCOUNT_DETAILS' | translate}}</h6>
            <div class="border"></div>
            <div>
                <span>{{'ERP.ACCOUNT_NUMBER' | translate}}</span>
                <p class="font-semibold text-break">664577</p>

            </div>
            <div class="images">
                <img src="/assets/images/smily.jpeg" width="90px" height="auto" class="responsive-logo">
            </div>
            <div>
                <span>{{'ERP.NAME' | translate}}</span>
                <p class="font-semibold text-break">saicharan</p>
                <div class="border"></div>
            </div>

            <div>
                <span>{{'ERP.PRODUCT_TYPE' | translate}}</span>
                <p class="font-semibold text-break pl-2">Regular Savings</p>

            </div>

            <div class="d-flex">
                <div>
                    <span>{{'ERP.ADMISSION_NO' | translate}} </span>
                    <p class="font-semibold text-break pl-2">2022</p>
                </div>&nbsp;&nbsp;
                <div>
                    <span>{{'ERP.ADMISSION_DATE' | translate}} </span>
                    <p class="font-semibold text-break pl-2">23/02/2022</p>
                </div>
            </div>

            <div>
                <span>{{'ERP.MEMBER_TYPE' | translate}} </span>
                <p class="font-semibold text-break pl-2">A-Class</p>
            </div>

            <div class="d-flex">
                <div>
                    <span>{{'ERP.CONTACT' | translate}} </span>
                    <p class="font-semibold text-break pl-2">9262625162</p>
                </div>&nbsp;&nbsp;
                <div>

                    <span>{{'ERP.EMAIL' | translate}} </span>
                    <p class="font-semibold text-break pl-2">uru@gmail.com</p>
                </div>
            </div>
            <div>
                <span>{{'ERP.ADDRESS' | translate}} </span>
                <p class="font-semibold text-break pl-2">hyd</p>
            </div>
            <div>
                <span>{{'ERP.KYC' | translate}} </span>
                <p class="font-semibold text-break pl-2">Approved</p>
            </div>
        </p-card>
    </div>

    <div class="col-10">
        <div class=" border  mt-4 p-3">
            <form [formGroup]="debitcardform">
                <div class="row g-3">
                    
                    <div class="col-3">
                        <div class="field-row">
                            <label for="username">{{'ERP.CARD_NUMBER' | translate}}
                            </label>
                        </div>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text">

                    </div>
                 

                </div>


                <div class="row g-3 pt-4">

                    <div class="col-3 ">
                        <div class="field-row">
                            <label>{{'ERP.CARD_TYPE' | translate}}</label>
                            <div>
                                <p-dropdown id="bunit_txt_status" placeholder="select" [filter]="true"
                                    [options]="cardtypelist" [(ngModel)]="cardtype"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="field-row">
                            <label for="username">{{'ERP.CARD_ISSUE_DATE' | translate}}
                            </label>
                        </div>
                        <p-calendar [showIcon]="true"></p-calendar>


                    </div>
                    <div class="col-3 ">
                        <div class="field-row">
                            <label for="username">{{'ERP.VALID_FROM' | translate}}
                            </label>
                        </div>
                        <p-calendar [showIcon]="true"></p-calendar>
                    </div>
                    <div class="col-3">
                        <div class="field-row">
                            <label for="username">{{'ERP.VALID_TO' | translate}}
                            </label>
                        </div>
                        <p-calendar [showIcon]="true"></p-calendar>
                    </div>
                  

                </div>
                <div class="row g-3 pt-4">

                    <div class="col-3 ">
                        <div class="field-row">
                            <label>{{'ERP.AMOUNT' | translate}}</label>
                            <div>
                                <input pInputText id="bunit_txt_name" maxlength="40" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="field-row">
                            <label>{{'ERP.AMOUNT_DEBIT_FROM' | translate}}</label>
                            <div>
                                <input pInputText id="bunit_txt_name" maxlength="40" type="text">
                            </div>
                        </div>
                    </div>


                    <div class="col-3">
                        <div class="field-row">
                            <label for="username">{{'ERP.MCR_DOCUMENT_COPY' | translate}}
                            </label>
                        </div>
                        <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                            accept="image/*" [auto]="true"></p-fileUpload>
                        <input pInputText id="bunit_txt_name" maxlength="40" type="text">

                    </div>
                    <div class="col-3 ">
                        <div class="field-row">
                            <label for="code">
                                {{'ERP.REMARKS' | translate}}
                            </label>
                        </div>

                        <textarea type="text" class="form-control" pInputTextarea placeholder="Enter Remarks Here"></textarea>
                    </div>

                </div>

            </form>


        </div>
        <div class="d-flex justify-content-end mb-1">
            <p-button class="p-2" label="Back" (click)="backbutton()"></p-button>
            <p-button class="p-2" label="Cancel"  (click)="backbutton()" ></p-button>
            <p-button class="p-2" label="Submit"></p-button>

        </div>
    <h6>{{'ERP.HISTORY' | translate}}</h6>

    <p-table [value]="debitcardissue" dataKey="id" selectionMode="single" [rowsPerPageOptions]="[5,10,20]" [rows]="5"
            [paginator]="true" [pageLinks]="1" [responsive]="true" rowExpandMode="single">
            <ng-template pTemplate="header">
                <tr>
                  
                    <th>{{'ERP.DEBIT_CARD_NUMBER' | translate}}</th>
                    <th>{{'ERP.CARD_TYPE' | translate}}</th>
                    <th>{{'ERP.CARD_ISSUE_DATE' | translate}} </th>
                    <th>{{'ERP.CARD_ISSUE_DATE' | translate}}</th>
                    <th>{{'ERP.CARD_ISSUE_DATE' | translate}} </th>
                    <th>{{'ERP.IS_CHARGEABLE' | translate}} </th>
                    <th>{{'ERP.CHARGES' | translate}}</th>
                    <th>{{'ERP.STATUS' | translate}}</th>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-debitcardissue>
                <tr>
                  
                    <td>{{ debitcardissue.DebitCardNumber }}</td>
                    <td>{{ debitcardissue.CardType }}</td>
                    <td>{{ debitcardissue.CardIsuueDate }}</td>
                    <td>{{ debitcardissue.CardIsuueDate }}</td>
                    <td>{{ debitcardissue.CardIsuueDate}}</td>
                    <td>{{ debitcardissue.IsChargeable }}</td>
                    <td>{{ debitcardissue.Charges }}</td>
                    <td>{{ debitcardissue.status }}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>

</div>