<div class="col-12">
<p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
<div class="stepper-top-section-strip">
    <div class="row ">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
            <span>{{'LOANS.PRODUCT_NAME' | translate}} </span>
            <p class="m-0 font-semibold text-break">{{saoProductDefinitionModel.name}}</p>
        </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12 viewcustom-input-number inputnumberht-5px">
            <div class="form-group">
            <span>{{'LOANS.MIN_DEPOSIT_AMOUNT' | translate}}</span>
            <p-inputNumber id="bunit_txt_name" [(ngModel)]="saoProductDefinitionModel.eligibleMInAmount" mode="currency" inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>
        </div>
    </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12 viewcustom-input-number inputnumberht-5px">
            <div class="form-group">
            <span>{{'LOANS.MAX_DEPOSIT_AMOUNT' | translate}} </span>
            <p-inputNumber id="bunit_txt_name" [(ngModel)]="saoProductDefinitionModel.eligibleMaxAmount" mode="currency" inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>
        </div>
    </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
            <span>{{'LOANS.EFFECTIVE_START_DATE' | translate}} </span>
            <p class="m-0 font-semibold text-break">{{saoProductDefinitionModel.effectiveStartDate}}</p>
        </div>
    </div>
    </div>
</div>
<div class="col-12"></div>
       
        <form [formGroup]="interestPolicyForm" id="proj_stakeholder_form">
            <div class="flex justify-content-between py-2">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="sub-heading mt-1">{{'LOANS.INTEREST_POLICY' | translate}}</div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="col-12 p-0">
                        <div class="d-flex justify-content-end search-input-style">
                            <div class="input-group search-box d-flex justify-content-end">
                                    <div class="search">
                                        <span class="p-input-icon-right">
                                            <i class="pi pi-search global-search-icon"></i>
                                            <input autocomplete="off" type="text" id="skill_category_txt_search" pInputText
                                            placeholder="Search" class="searchbox"
                                            #searchInput (input)="dt.filterGlobal(searchInput.value, 'contains')">
                                        </span>
                                    </div>
                            </div>
        
                            <p-button (click)="addInlineRow()" label="Add" icon="fa fa-plus" iconPos="left"
                                id="add_btn" [disabled]="addButton"> </p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="globel-border-top-color"></div>
            <p-table #dt [value]="intrestPolicyList"  dataKey="id" editMode="row"
            styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true"
            [showPageLinks]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single"
             [globalFilterFields]="['roi','penalInterest','iodApplicable','iod','womenConcession','employeeConcession','seniorCitizenConcession']">
            <ng-template pTemplate="header">
                    <tr>
                        <th><span class="red">*</span> {{'LOANS.MIN_SLAB_AMOUNT' | translate}}</th> 
                        <th> <span class="red">*</span>{{'LOANS.MAX_SLAB_AMOUNT' | translate}}</th> 
                        <th><span class="red">*</span> {{'LOANS.ROI' | translate}}</th>
                        <th><span class="red">*</span> {{'LOANS.PENAL_INTEREST' | translate}}</th>
                        <th><span class="red">*</span> {{'LOANS.IOD_APPLICABLE' | translate}}</th>
                        <th > {{'LOANS.IOD' | translate}}</th>
                        <th><span class="red">*</span> {{'LOANS.WOMEN' | translate}}</th>
                        <th><span class="red">*</span> {{'LOANS.EMPLOYEE' | translate}}</th>
                        <th><span class="red">*</span> {{'LOANS.SENIOR_CITIZEN' | translate}}</th>
                        <th class="width-15em">{{'LOANS.ACTION' | translate}}</th>
                    </tr>
                    
                </ng-template>
                <ng-template pTemplate="body" let-saoInterestPolicyConfigModel let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="saoInterestPolicyConfigModel">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="saoInterestPolicyConfigModel.minSlabAmount" 
                                    (focusout)="checkForAmount(1)" formControlName="minSlabAmount">
                                    
                                </ng-template>
                                <ng-template pTemplate="output">{{saoInterestPolicyConfigModel.minSlabAmount}}</ng-template>
                            </p-cellEditor>
                        </td>


                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="saoInterestPolicyConfigModel.maxSlabAmount" 
                                    (focusout)="checkForAmount(2)" formControlName="maxSlabAmount">
                                    
                                </ng-template>
                                <ng-template pTemplate="output">{{saoInterestPolicyConfigModel.maxSlabAmount}}</ng-template>
                            </p-cellEditor>
                        </td>
                                          
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="saoInterestPolicyConfigModel.roi" formControlName="roi" pKeyFilter="num">
                                    <p-message severity="error" text="Enter Valid Rate Of Interest"
                         *ngIf="!interestPolicyForm.controls['roi'].valid && interestPolicyForm.controls['roi'].dirty">
                       </p-message>
                                </ng-template>
                                <ng-template pTemplate="output">{{saoInterestPolicyConfigModel.roi}}</ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="saoInterestPolicyConfigModel.penalInterest" formControlName="penalInterest" pKeyFilter="num">
                                    <p-message severity="error" text="Enter Valid Rate Of Interest"
                         *ngIf="!interestPolicyForm.controls['penalInterest'].valid && interestPolicyForm.controls['penalInterest'].dirty">
                       </p-message>
                                </ng-template>
                                <ng-template pTemplate="output">{{saoInterestPolicyConfigModel.penalInterest}}</ng-template>
                            </p-cellEditor>
                        </td>
                      
                        <td>
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <p-dropdown [options]="iodApplicableList" 
                                            formControlName="iodApplicable"  [(ngModel)]="saoInterestPolicyConfigModel.iodApplicable"
                                            (onChange)="onIodApplicableChange($event.value)"
                                            [appendTo]="'body'" placeholder="Select">
                                </p-dropdown>
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{ saoInterestPolicyConfigModel.iodApplicable ? 'Yes' : 'No' }}
                              </ng-template>
                            </p-cellEditor>
                          </td>
                          <td>
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="saoInterestPolicyConfigModel.iod" 
                                       formControlName="iod" pKeyFilter="num"
                                       [attr.disabled]="!isIodEnabled ? true : null">
                                <p-message severity="error" text="Enter Valid Rate Of Interest" 
                                           *ngIf="!interestPolicyForm.controls['iod'].valid && interestPolicyForm.controls['iod'].dirty">
                                </p-message>
                              </ng-template>
                              <ng-template pTemplate="output">{{saoInterestPolicyConfigModel.iod}}</ng-template>
                            </p-cellEditor>
                          </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="saoInterestPolicyConfigModel.womenConcession" formControlName="womenConcession" pKeyFilter="num">
                                    <p-message severity="error" text="Enter Valid Staff Rate Of Interest"
                         *ngIf="!interestPolicyForm.controls['womenConcession'].valid && interestPolicyForm.controls['womenConcession'].dirty">
                       </p-message>
                                </ng-template>
                                <ng-template pTemplate="output">{{saoInterestPolicyConfigModel.womenConcession}}</ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="saoInterestPolicyConfigModel.employeeConcession" formControlName="employeeConcession" pKeyFilter="num">
                                    <p-message severity="error" text="Enter Valid Senior Citizen Rate Of Interest"
                         *ngIf="!interestPolicyForm.controls['employeeConcession'].valid && interestPolicyForm.controls['employeeConcession'].dirty">
                       </p-message>
                                </ng-template>
                                <ng-template pTemplate="output">{{saoInterestPolicyConfigModel.employeeConcession}}</ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="saoInterestPolicyConfigModel.seniorCitizenConcession" formControlName="seniorCitizenConcession" pKeyFilter="num">
                                    <p-message severity="error" text="Enter Valid Penal Rate Of Interest"
                         *ngIf="!interestPolicyForm.controls['seniorCitizenConcession'].valid && interestPolicyForm.controls['seniorCitizenConcession'].dirty">
                       </p-message>
                                </ng-template>
                                <ng-template pTemplate="output">{{saoInterestPolicyConfigModel.seniorCitizenConcession}}</ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="global-action-btn flex align-items-center justify-content-center">
                            <p-button *ngIf="editing"   [disabled]="!interestPolicyForm.valid" (click)="saveInlineRow(saoInterestPolicyConfigModel)" pSaveEditableRow id="prj_stakehlder_bt_cancel"  label="{{'LOANS.SAVE'|translate }}" class="action-save">
                            </p-button>
                            <p-button *ngIf="editing" (click)="onRowEditCancel()" pCancelEditableRow id="prj_stakehlder_bt_cancel" label="{{'LOANS.CANCEL'|translate }}" class="action-delete">
                            </p-button>
                            <p-button *ngIf="!editing"  (click)="editInlineRow(saoInterestPolicyConfigModel)" pInitEditableRow  id="prj_stakehlder_bt_edit" [disabled]="editDeleteDisable" label="{{'LOANS.EDIT' | translate}}" 
                                class='action-edit'></p-button>
                            </div>
                        </td>
                        
                    </tr>
                </ng-template>
            </p-table>
            <div class="col-12 margtop-3rem"></div>
        </form>
</div>
<div class="col-12">
    <h6 class="sub-heading">{{'LOANS.COLLECTION_APPORTION_ORDER' | translate}}</h6>
       
        <form [formGroup]="collectionApportionOrderForm" id="proj_stakeholder_forms">
            <div class="flex justify-content-between py-2">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="col-12 p-0">
                        <div class="d-flex justify-content-end search-input-style">
                            <div class="input-group search-box d-flex justify-content-end">
                                <div class="input-group search-box d-flex justify-content-end">
                                    <div class="search">
                                        <span class="p-input-icon-right">
                                            <i class="pi pi-search global-search-icon"></i>
                                            <input autocomplete="off" type="text" id="skill_category_txt_search" pInputText
                                            placeholder="Search" class="searchbox"
                                            #searchInput (input)="cv.filterGlobal(searchInput.value, 'contains')">
                                        </span>
                                    </div>
                                </div>
                            </div>
        
                            <p-button (click)="addInlineRowApportionOrder()" label="Add" icon="fa fa-plus" iconPos="left"
                                id="add_btns" [disabled]="addButtonForApportion"> </p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="globel-border-top-color"></div>
            <p-table #cv [value]="apportionOrderList"  dataKey="id" editMode="row"
            styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true"
            [showPageLinks]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single"
             [globalFilterFields]="['collectionComponentId','apportionOrder']">
            <ng-template pTemplate="header">
                    <tr>
                       

                        <th><span class="red">*</span> {{'LOANS.COLLECTION_COMPONENT' | translate}}</th>
                        <th><span class="red">*</span> {{'LOANS.ORDER' | translate}}</th>
                        <th class="width-15em">{{'LOANS.ACTION' | translate}}</th>
                    </tr>
                    
                </ng-template>
                <ng-template pTemplate="body" let-saoCollectionApportionOrderModel let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="saoCollectionApportionOrderModel">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown placeholder="{{'ERP.SELECT'| translate}}" formControlName="collectionComponentId"
                                            [options]="collectionApportionList" [(ngModel)]="saoCollectionApportionOrderModel.collectionComponentId"
                                            [appendTo]="'body'" (onChange)="collectiontypeDuplicateCheck(saoCollectionApportionOrderModel.collectionComponentId)" >
                                        </p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">{{saoCollectionApportionOrderModel.collectionComponentName}}</ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="saoCollectionApportionOrderModel.apportionOrder" (focusout)="checkApportionOrder(saoCollectionApportionOrderModel.apportionOrder)"
                                     formControlName="apportionOrder">
                                    
                                </ng-template>
                                <ng-template pTemplate="output">{{saoCollectionApportionOrderModel.apportionOrder}}</ng-template>
                            </p-cellEditor>
                        </td>
                       
                        <td>
                            <div class="global-action-btn flex align-items-center justify-content-center">
                         
                            <p-button *ngIf="editing"   [disabled]="!collectionApportionOrderForm.valid" (click)="saveInlineRowForApportionOrder(saoCollectionApportionOrderModel)" pSaveEditableRow id="prj_stakehlder_bt_cancel"  label="{{'LOANS.SAVE'|translate }}" class="action-save">
                            </p-button>
                            <p-button *ngIf="editing" (click)="onRowEditCancelForApportionOrder()" pCancelEditableRow id="prj_stakehlder_bt_cancel" label="{{'LOANS.CANCEL' | translate }}" class="action-cancel">
                            </p-button>
                            <p-button *ngIf="!editing"  (click)="editInlineRowForApportionOrder(saoCollectionApportionOrderModel)" pInitEditableRow  id="prj_stakehlder_bt_edit" [disabled]="editDeleteDisableForApportion" label="{{'LOANS.EDIT' | translate}}" 
                                class='action-edit'></p-button>
                            </div>
                        </td>
                        
                    </tr>
                </ng-template>
            </p-table>
            
   
            <div class="col-12 margtop-3rem"></div>
        </form>
</div> 