<p-messages label="Info" life="3000" [(value)]="msgs" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-messages>
<div class="col-12">
    <div class="row">
        <div class="d-flex justify-content-between top-header-section">
            <div class="main-heading mt-1 justify-content-start">
                {{'TERMDEPOSITSTRANSACTION.FD_NON_CUMMULATIVE_PRODUCT_DEFINATION' | translate}}<i
                    class="fa fa-angle-right font-bold mr-3 ml-3"></i>{{'TERMDEPOSITSTRANSACTION.VIEW' | translate}}
            </div>
        </div>
    </div>

    <div class="col-12 p-0">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <p-scrollPanel styleClass="scroll-class">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class="global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-id-badge"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'TERMDEPOSITSTRANSACTION.GENERAL_CONFIGURATION' | translate}}
                                                    </h6>
                                                </div>
                                            </div>
                                            <!-- <div class="col-6" *ngIf="editbtn">
                                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                    (click)="editFdNonCummlativeproductDefinationdetails(fdNonCumulativeProductDefinitionModel,0)"></p-button>
                                            </div> -->
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.PRODUCT_NAME'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">{{ fdNonCumulativeProductDefinitionModel.name}}</p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.IS_SPECIAL_SCHEME'
                                                        |translate}}</h6>
                                                    <p class="label-input-text"> {{ fdNonCumulativeProductDefinitionModel.isSpecialScheme ? 'Yes' : 'No' }}
                                                    </p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px viewcustom-input-number">
                                                    <h6 class="label-view">
                                                        {{'TERMDEPOSITSTRANSACTION.MIN_DEPOSIT_AMOUNT' |translate}}</h6>
                                                        <p-inputNumber id="bunit_txt_name" [(ngModel)]="fdNonCumulativeProductDefinitionModel.minDepositAmount" 
                                                        mode="currency" inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>

                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px viewcustom-input-number">
                                                    <h6 class="label-view">
                                                        {{'TERMDEPOSITSTRANSACTION.MAX_DEPOSIT_AMOUNT' |translate}}</h6>
                                                        <p-inputNumber id="bunit_txt_name" [(ngModel)]="fdNonCumulativeProductDefinitionModel.maxDepositAmount" 
                                                        mode="currency" inputId="currency-india" currency="INR" locale="en-IN" [disabled]="true" styleClass="label-input-text"> </p-inputNumber>

                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.MIN_TENURE'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">{{ fdNonCumulativeProductDefinitionModel.minTenure}}</p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.MAX_TENURE'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">{{ fdNonCumulativeProductDefinitionModel.maxTenure}}</p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">{{'TERMDEPOSITSTRANSACTION.IS_AUTO_RENEWAL'
                                                        |translate}}</h6>
                                                    <p class="label-input-text">  {{ fdNonCumulativeProductDefinitionModel.isAutoRenewal ? 'Yes' : 'No' }}
                                                      
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'TERMDEPOSITSTRANSACTION.EFFECTIVE_START_DATE' |translate}}
                                                    </h6>
                                                    <p class="label-input-text">{{fdNonCumulativeProductDefinitionModel.effectiveStartDate}}</p>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 min-h-50px">
                                                    <h6 class="label-view">
                                                        {{'TERMDEPOSITSTRANSACTION.EFFECTIVE_END_DATE' |translate}}
                                                    </h6>
                                                    <p class="label-input-text">{{fdNonCumulativeProductDefinitionModel.effectiveEndDate}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-newspaper-o"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'TERMDEPOSITSTRANSACTION.INTEREST_POLICY' |translate}}</h6>
                                                </div>
                                            </div>
                                            <!-- <div class="col-3" *ngIf="editbtn">
                                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                    (click)="editFdNonCummlativeproductDefinationdetails(fdNonCumulativeProductDefinitionModel,1)"></p-button>
                                            </div> -->
                                        </div>
                                        

                                        <div class="globel-border-top-color"></div>
                                        <p-table [value]="interestPolicyList" dataKey="id"
                                            selectionMode="single" styleClass="p-datatable-striped"
                                            [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5"
                                            [paginator]="false" [pageLinks]="1" [responsive]="true"
                                            rowExpandMode="single">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.GENERAL_ROI' | translate}}</th>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.STAFF_ROI' | translate}}</th>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.SENIOR_CITIZEN_ROI' | translate}}
                                                    </th>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.PENAL_ROI' | translate}}</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr>
                                                    <td>{{ rowData.generalRoi }}</td>
                                                    <td>{{ rowData.staffRoi }}</td>
                                                    <td>{{ rowData.seniorcitizenRoi }}</td>
                                                    <td>{{ rowData.penaltyRoi }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="col-12 margtop-3rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-1"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-12 p-0">
                                <div class=" global-card-bg-color view-carddata icon-size">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex">
                                                    <span class="card-icon"><i class="fa fa-file-text"></i></span>
                                                    <h6 class="sub-heading">
                                                        {{'TERMDEPOSITSTRANSACTION.REQUIRED_DOCUMENTS' |translate}}</h6>
                                                </div>
                                            </div>
                                            <!-- <div class="col-3" *ngIf="editbtn">
                                                <p-button icon="fa fa-pencil-square-o" class="kyc-edit-btn pull-right"
                                                    (click)="editFdNonCummlativeproductDefinationdetails(fdNonCumulativeProductDefinitionModel,2)"></p-button>
                                            </div> -->
                                        </div>

                                        <div class="globel-border-top-color"></div>
                                        <p-table [value]="requiredDocumentsList" dataKey="id" selectionMode="single"
                                            styleClass="p-datatable-striped"
                                            [showJumpToPageDropdown]="true" [showPageLinks]="false" [rows]="5"
                                            [paginator]="false" [pageLinks]="1" [responsive]="true"
                                            rowExpandMode="single">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.DOCUMENT_TYPE' | translate}}</th>
                                                    <th>{{'TERMDEPOSITSTRANSACTION.IS_MANDATORY' | translate}}</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr>
                                                    <td>{{ rowData.documentTypeName }}</td>
                                                    <td>{{ rowData.isRequired ? 'Yes' : 'No' }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="col-12 margtop-3rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>

                <div class="col-12 viewbottom-footer icon-size">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4">
                            <p-button icon="fa fa-download" iconPos="left" pTooltip="Filename.pdf"
                                tooltipPosition="top"></p-button>
                            <p-button icon="fa fa-print" iconPos="left" pTooltip="Print"
                                tooltipPosition="top"></p-button>
    
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4">
                            <div class="form-label">
                                <span class=""> {{ 'ERP.UPLOAD_DOCUMENT' | translate }} </span>
                                <div class="uplodad-style align-items-center">
                                    <!-- Upload Button Column -->
                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold" name="myfile[]"
                                        id="apply-leave_fileUp_attach" chooseLabel=" " name="file"
                                        accept=".png,.jpg,.jpeg" (onRemove)="fileRemoveEvent()"
                                        (onSelect)="fileUploader($event,fileUpload )">
                                    </p-fileUpload>
                                    <div class="col-12  d-flex p-1 contant-body"
                                        *ngFor="let img of fdNonCumulativeProductDefinitionModel.multipartFileListsignedCopyPath">
                                        <div *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                            <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}" width="22"
                                                    height="22"></a>
                                        </div>
                                        <div class="docname-texteclipse ml-3" pTooltip="{{img.fileName}}"
                                            tooltipPosition="bottom">
                                            {{img.fileName}}</div>
    
                                    </div>
    
                                </div>
                            </div>
    
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4">
                            <div class="form-label">
                                <label> <span class="red">*</span> {{'ERP.STATUS' | translate}}</label>
                                <p-dropdown [filter]="true" [options]="statusList" placeholder="Select"
                                    [(ngModel)]="fdNonCumulativeProductDefinitionModel.statusName" (onChange)="onStatusChange($event)"></p-dropdown>
                            </div>
                        </div>
    
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4">
                            <div class="form-label">
                                <label>{{'ERP.REMARKS' | translate}}</label>
                                <textarea type="text" class="form-control" pInputTextarea
                                    placeholder="Enter Remarks Here"
                                    [(ngModel)]="fdNonCumulativeProductDefinitionModel.remarks"></textarea>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 mt-4">
                            <div class="d-flex justify-content-end">
                                <p-button (click)="navigateToBack()" label="BACK"></p-button>
                                <p-button label="{{'TERMDEPOSITSTRANSACTION.SUBMIT' | translate}}"
                                    (click)="submit()" [disabled]="isDisableSubmit"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 m-2"></div>
            </div>
        </div>
    </div>
</div>