<div class="col-12">
    <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.NOMINEE_DETAILS' | translate}}<span
            class="admission-text">(Admission
            Number:&nbsp;{{admissionNumber}})</span></h6>

    <form [formGroup]="nomineeForm" id="exit_types_form">
        <div class="col-12 p-0">
            <div class="col-12 p-0 bg-label-colorfull">
                <div class="row g-3">
                    <!-- Nominee section -->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.TYPE_OF_NOMINEE' |
                                    translate}}</label>
                                <!-- [disabled]="nomineeTypeDisable" -->
                                <p-dropdown placeholder="{{'TERMDEPOSITSTRANSACTION.SELECT' | translate}}"
                                    [options]="nomineeList" [(ngModel)]="fdNonCumulativeNomineeModel.nomineeType"
                                    formControlName="nomineeType"
                                    (onChange)="onChange($event.value , true)"></p-dropdown>
                            </div>
                        </div>
                        <!-- Add new Nominee -->
                        <div class="row" *ngIf="newNominee">
                            <div class="col-12 mt-4 py-0">
                                <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.NEW_NOMINEE_DETAILS' | translate}}
                                </h6>
                            </div>
                            <div class="col-12">
                                <div class="col-12 global-border p-3">
                                    <div class="row g-3 mt-n1">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label><span
                                                        class="red">*</span>{{'TERMDEPOSITSTRANSACTION.RELATIONSHIP_TYPE'
                                                    | translate}}</label>
                                                <p-dropdown [options]="relationTypesList"
                                                    placeholder="{{'TERMDEPOSITSTRANSACTION.SELECT' | translate}}"
                                                    formControlName="relationName"
                                                    [(ngModel)]="fdNonCumulativeNomineeModel.relationType">
                                                </p-dropdown>

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label><span
                                                        class="red">*</span>{{'TERMDEPOSITSTRANSACTION.NOMINEE_NAME' |
                                                    translate}}</label>
                                                <input type="text" formControlName="nomineeName" pInputText
                                                    placeholder="Enter Name"
                                                    [(ngModel)]="fdNonCumulativeNomineeModel.nomineeName" />
                                                <p-message severity="error" text="Enter Valid nominee Name"
                                                    *ngIf="!nomineeForm.controls['nomineeName'].valid && nomineeForm.controls['nomineeName'].dirty">
                                                </p-message>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label><span
                                                        class="red">*</span>{{'TERMDEPOSITSTRANSACTION.AADHAR_NUMBER' |
                                                    translate}}</label>
                                                <input type="text" formControlName="aadhaar" pInputText
                                                    placeholder="Enter Aadhar Number"
                                                    [(ngModel)]="fdNonCumulativeNomineeModel.nomineeAadharNumber" />
                                                <p-message severity="error" text="Enter Valid aadhaar"
                                                    *ngIf="!nomineeForm.controls['aadhaar'].valid && nomineeForm.controls['aadhaar'].dirty">
                                                </p-message>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label><span
                                                        class="red">*</span>{{'TERMDEPOSITSTRANSACTION.MOBILE_NUMBER' |
                                                    translate}}</label>
                                                <input type="text" formControlName="mobileNumber" pInputText
                                                    placeholder="Enter Mobile Number"
                                                    [(ngModel)]="fdNonCumulativeNomineeModel.nomineeMobileNumber" />
                                                <p-message severity="error" text="Enter Valid mobile Number"
                                                    *ngIf="!nomineeForm.controls['mobileNumber'].valid && nomineeForm.controls['mobileNumber'].dirty">
                                                </p-message>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label>{{'TERMDEPOSITSTRANSACTION.EMAIL' | translate}}</label>
                                                <input type="text" formControlName="email" pInputText
                                                    placeholder="Enter Email"
                                                    [(ngModel)]="fdNonCumulativeNomineeModel.nomineeEmailId" />
                                                <p-message severity="error" text="Enter Valid email"
                                                    *ngIf="!nomineeForm.controls['email'].valid && nomineeForm.controls['email'].dirty">
                                                </p-message>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <span>{{ 'TERMDEPOSITSTRANSACTION.SIGNED_DOCUMENT' | translate }}</span>
                                                <div class="uplodad-style align-items-center">
                                                    <!-- Upload Button Column -->

                                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold"
                                                        name="myfile[]" chooseLabel=" " id="apply-leave_fileUp_attach"
                                                        name="file" accept=".png,.jpg,.jpeg,.pdf"
                                                        (onRemove)="fileRemoeEvent('Nominee')"
                                                        (onSelect)="fileUploader($event,fileUpload,'Nominee')">
                                                    </p-fileUpload>

                                                    <!-- Uploaded Files Display Column -->

                                                    <div class="col-12 d-flex p-1 contant-body"
                                                        *ngFor="let img of fdNonCumulativeNomineeModel.nomineeSighnedFormMultiPartList">
                                                        <div
                                                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                            <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}"
                                                                    width="22" height="22"></a>
                                                        </div>
                                                        <div class="docname-texteclipse" pTooltip="{{img.fileName}}"
                                                            tooltipPosition="bottom">
                                                            {{img.fileName}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- No nominee details -->
                        <div class="row" *ngIf="noNominee">
                            <div class="col-12 mt-4 py-0">
                                <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.REQUIRED_DETAILS' | translate}}</h6>
                            </div>
                            <div class="col-12">
                                <div class="col-12 global-border p-3">
                                    <div class="row g-3 mt-n1">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="mt-2 form-label">
                                                <p-button icon="fa fa-download p-2"
                                                    label="unsigned letter format" class="kyc-btnm-0"></p-button>

                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-label">
                                                <span class=""> {{ 'TERMDEPOSITSTRANSACTION.SIGNED_DOCUMENT' | translate
                                                    }} </span>
                                                <div class="uplodad-style align-items-center">
                                                    <!-- Upload Button Column -->
                                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold"
                                                        name="myfile[]" id="apply-leave_fileUp_attach" chooseLabel=" "
                                                        name="file" accept=".png,.jpg,.jpeg"
                                                        (onRemove)="fileRemoeEvent('Nominee')"
                                                        (onSelect)="fileUploader($event,fileUpload,'Nominee')">
                                                    </p-fileUpload>
                                                    <div class="col-12  d-flex p-1 contant-body"
                                                        *ngFor="let img of fdNonCumulativeNomineeModel.nomineeSighnedFormMultiPartList">
                                                        <div
                                                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                            <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}"
                                                                    width="22" height="22"></a>
                                                        </div>
                                                        <div class="docname-texteclipse" pTooltip="{{img.fileName}}"
                                                            tooltipPosition="bottom">
                                                            {{img.fileName}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-label">
                                                <label>{{'ERP.REMARKS' | translate}}</label>
                                                <textarea type="text" class="form-control" formControlName="remarks" pInputTextarea placeholder="Enter Remarks Here"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gaurdian section -->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf='guarntorDetailsFalg'>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label><span class="red">*</span>{{'TERMDEPOSITSTRANSACTION.TYPE_OF_GUARDAIN' |
                                    translate}}</label>
                                <!-- [disabled]="guardainTypeDisable" -->
                                <p-dropdown placeholder="{{'TERMDEPOSITSTRANSACTION.SELECT' | translate}}"
                                    [options]="guadianTypesList" formControlName="guardainType"
                                    [(ngModel)]="memberGuardianDetailsModelDetails.gaurdianType"
                                    (onChange)="onChangeGuardain(memberGuardianDetailsModelDetails.gaurdianType , true)"></p-dropdown>
                            </div>
                        </div>
                        <!-- same as membership guardian details -->
                        <div class="row" *ngIf="sameAsMemberGuardain">
                            <div class="col-12 mt-4 py-0">
                                <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.GUARDIAN_DETAILS' |
                                    translate}}&nbsp;(In case The sole Holder is
                                    a Minor)</h6>
                            </div>
                            <div class="col-12">
                                <div class="col-12 global-border p-3">
                                    <div class="row g-3 mt-n1">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label><span
                                                        class="red">*</span>{{'TERMDEPOSITSTRANSACTION.RELATIONSHIP_TYPE'
                                                    | translate}}</label>
                                                <p-dropdown
                                                    placeholder="{{'TERMDEPOSITSTRANSACTION.SELECT' | translate}}"
                                                    [options]="relationTypesList"
                                                    formControlName="relationNameOfGuardian" id="id"
                                                    [(ngModel)]="memberGuardianDetailsModelDetails.relationshipTypeId"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label><span
                                                        class="red">*</span>{{'TERMDEPOSITSTRANSACTION.GUARDAIN_NAME' |
                                                    translate}}</label>
                                                <input type="text" formControlName="guardianName" pInputText
                                                    placeholder="Enter Name"
                                                    [(ngModel)]="memberGuardianDetailsModelDetails.guardianName" />
                                                <p-message severity="error" text="Enter Valid Name"
                                                    *ngIf="!nomineeForm.controls['guardianName'].valid && nomineeForm.controls['guardianName'].dirty">
                                                </p-message>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label><span
                                                        class="red">*</span>{{'TERMDEPOSITSTRANSACTION.AADHAR_NUMBER' |
                                                    translate}}</label>
                                                <input type="text" formControlName="guardianAadhar" pInputText
                                                    placeholder="Enter Aadhar Number"
                                                    [(ngModel)]="memberGuardianDetailsModelDetails.guardianAadharNumber" />
                                                <p-message severity="error" text="Enter Valid aadhaar"
                                                    *ngIf="!nomineeForm.controls['guardianAadhar'].valid && nomineeForm.controls['guardianAadhar'].dirty">
                                                </p-message>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label><span
                                                        class="red">*</span>{{'TERMDEPOSITSTRANSACTION.MOBILE_NUMBER' |
                                                    translate}}</label>
                                                <input type="text" formControlName="guardianMobile" pInputText
                                                    placeholder="Enter Mobile Number"
                                                    [(ngModel)]="memberGuardianDetailsModelDetails.guardianMobileNumber" />
                                                <p-message severity="error" text="Enter Valid Phone Number"
                                                    *ngIf="!nomineeForm.controls['guardianMobile'].valid && nomineeForm.controls['guardianMobile'].dirty">
                                                </p-message>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <label>{{'TERMDEPOSITSTRANSACTION.EMAIL' | translate}}</label>
                                                <input type="text" formControlName="guardianEmail" pInputText
                                                    placeholder="Enter Email"
                                                    [(ngModel)]="memberGuardianDetailsModelDetails.guardianEmailId" />
                                                <p-message severity="error" text="Enter Valid Email"
                                                    *ngIf="!nomineeForm.controls['guardianEmail'].valid && nomineeForm.controls['guardianEmail'].dirty">
                                                </p-message>
                                            </div>
                                        </div>



                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label">
                                                <span>{{ 'TERMDEPOSITSTRANSACTION.SIGNED_DOCUMENT' | translate }}</span>
                                                <div class="uplodad-style align-items-center">
                                                    <!-- Upload Button Column -->
                                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold"
                                                        name="myfile[]" id="apply-leave_fileUp_attach" chooseLabel=" "
                                                        name="file" accept=".png,.jpg,.jpeg"
                                                        (onRemove)="fileRemoeEvent('Guardain')"
                                                        (onSelect)="fileUploader($event,fileUpload,'Guardain')">
                                                    </p-fileUpload>
                                                    <div class="col-12 d-flex p-1 contant-body"
                                                        *ngFor="let img of memberGuardianDetailsModelDetails.guardainSighnedMultipartFiles">
                                                        <div
                                                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                            <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}"
                                                                    width="22" height="22"></a>
                                                        </div>
                                                        <div class="docname-texteclipse" pTooltip="{{img.fileName}}"
                                                            tooltipPosition="bottom">
                                                            {{img.fileName}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- No guardian/Court Appointmemnt details -->
                        <div class="row" *ngIf="courtAppointedGuardain">
                            <div class="col-12 mt-4 py-0">
                                <h6 class="sub-heading">{{'TERMDEPOSITSTRANSACTION.REQUIRED_DETAILS' | translate}}</h6>
                            </div>
                            <div class="col-12">
                                <div class="col-12 global-border p-3">
                                    <div class="row g-3 mt-n1">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="mt-2 form-label">
                                                <p-button icon="fa fa-download p-2"
                                                    label="unsigned letter format" class="kyc-btnm-0"></p-button>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-label">
                                                <span>{{ 'TERMDEPOSITSTRANSACTION.SIGNED_DOCUMENT' | translate }}</span>
                                                <div class="uplodad-style align-items-center">
                                                    <!-- Upload Button Column -->
                                                    <p-fileUpload #fileUpload class="qua-upld file-attach semi-bold"
                                                        name="myfile[]" id="apply-leave_fileUp_attach" chooseLabel=" "
                                                        name="file" accept=".png,.jpg,.jpeg"
                                                        (onRemove)="fileRemoeEvent('Guardain')"
                                                        (onSelect)="fileUploader($event,fileUpload,'Guardain')">
                                                    </p-fileUpload>
                                                    <div class="col-12 d-flex p-1 contant-body"
                                                        *ngFor="let img of memberGuardianDetailsModelDetails.guardainSighnedMultipartFiles">
                                                        <div
                                                            *ngIf="img.fileType=='jpg' || img.fileType=='jpeg' || img.fileType=='png'">
                                                            <a href="{{img.imageValue}}"> <img src="{{img.imageValue}}"
                                                                    width="22" height="22"></a>
                                                        </div>
                                                        <div class="docname-texteclipse" pTooltip="{{img.fileName}}"
                                                            tooltipPosition="bottom">
                                                            {{img.fileName}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-label">
                                                <label>{{'ERP.REMARKS' | translate}}</label>
                                                <textarea type="text" class="form-control" pInputTextarea formControlName="guardianRemarks" placeholder="Enter Remarks Here"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- History table in Edit  -->
    <div class="mt-4" *ngIf="historyFLag">
        <h6 class="sub-heading">Nominee History Details</h6>
        <div class="globel-border-top-color"></div>
        <p-table [columns]="nomineeFields" [value]="nomineeHistoryList" dataKey="id" selectionMode="single"
            styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [showJumpToPageDropdown]="true"
            [showPageLinks]="false" [pageLinks]="1" [responsive]="true" rowExpandMode="single">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of nomineeFields">
                        {{col.header | translate}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-gridList let-expanded="expanded" let-rowData>
                <tr>
                    <td *ngFor="let col of nomineeFields">
                        <div> {{rowData[col.field]}}</div>
                    </td>
                    <td>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- </div> -->
</div>