<div class="col-12">
    <p-messages label="Info" life="4000" [(value)]="msgs"></p-messages>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 py-2">
        <div class="main-heading mt-1">{{'MEMBERSHIPCONFIG.SETTINGS' | translate}}</div>
    </div>

    <div class="col-12 bg-card bg-label-colorfull px-1 pb-0">
        <form [formGroup]="settingsForm">
            <div class="col-12">
                <div class="col-12">
                    <div class="row mt-n1">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <label for="username">
                                    <span class="red">*</span>{{'MEMBERSHIPCONFIG.KEY' | translate}}
                                </label>
                            
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="key"
                                [(ngModel)]="settingsModel.key">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <label for="code">
                                    <span class="red">*</span>{{'MEMBERSHIPCONFIG.VALUE' | translate}}
                                </label>
                            
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="value"
                                [(ngModel)]="settingsModel.value">
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <label for="code">
                                    <span class="red">*</span>{{'MEMBERSHIPCONFIG.PREFIX' | translate}}
                                </label>
                            
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="prefix"
                                [(ngModel)]="settingsModel.prefix">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <label for="code">
                                    <span class="red">*</span>{{'MEMBERSHIPCONFIG.SUFFIX' | translate}}
                                </label>
                            
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="suffix"
                                [(ngModel)]="settingsModel.suffix">
                            </div>
                        </div>
                    
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <label for="code">
                                    <span class="red">*</span>{{'MEMBERSHIPCONFIG.SEQUENCE_NUMBER' | translate}}
                                </label>
                            
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" formControlName="seqNumber"
                                [(ngModel)]="settingsModel.seqNumber">
                            </div>
                        </div>
                    
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-label">
                                <label for="code">
                                    <span class="red">*</span>{{'MEMBERSHIPCONFIG.STATUS' | translate}}
                                </label>
                            
                            <p-dropdown [options]="statusList"  placeholder="Select" formControlName="statusName"
                                [(ngModel)]="settingsModel.status" placeholder="Select"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col-12 d-flex justify-content-end">
    <p-button label="{{'MEMBERSHIPCONFIG.BACK' | translate}}" (click)="navigateToBack()"></p-button>
    <p-button label="{{'MEMBERSHIPCONFIG.SUBMIT' | translate}}" [disabled]="!settingsForm.valid" *ngIf='!isEdit' (click)="addOrUpdate()"> </p-button>
    <p-button label="{{'MEMBERSHIPCONFIG.SUBMIT' | translate}}" [disabled]="!settingsForm.valid" *ngIf='isEdit' (click)="addOrUpdate()"> </p-button>
</div>